@using Resgrid.Model
@model Resgrid.WebCore.Areas.User.Models.Templates.NewTemplateModel
@{
  ViewBag.Title = "Resgrid | New Template";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>New Template</h2>
    <ol class="breadcrumb">
      <li>
        <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
      </li>
      <li>
        <a asp-controller="Templates" asp-action="Index" asp-route-area="User">Templates</a>
      </li>
      <li class="active">
        <strong>New Template</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form id="newTemplateForm" class="form-horizontal" role="form" asp-controller="Templates" asp-action="New" asp-route-area="User" method="post">

            <div class="row">
              <div class="col-md-8 col-md-offset-1">
                @if (!String.IsNullOrEmpty(Model.Message))
				{
                  <div class="alert alert-success">
                    @Model.Message
                  </div>
				}
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label required">
                Template name
              </label>
              <div class="col-sm-10">
                <div class="col-md-5">
                  @Html.TextBoxFor(m => m.Template.Name, new { @class = "form-control", autofocus = "autofocus" })
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                Call Name to Set
              </label>
              <div class="col-sm-10">
                <div class="col-md-6">
                  @Html.TextBoxFor(m => m.Template.CallName, new { @class = "form-control" })
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                Call Type To Set
              </label>
              <div class="col-sm-10">
                <div class="col-md-10">
                  @Html.DropDownListFor(m => m.Template.CallType, Model.CallTypes, new { @style = "width: 120px;" })
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                Call Priority To Set
              </label>
              <div class="col-sm-10">
                <div class="col-md-10">
                  @Html.DropDownListFor(m => m.Template.CallPriority, Model.CallPriorities, new { @style = "width: 120px;" })
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                Call Nature To Set
              </label>
              <div class="col-sm-8">
				<div class="col-md-8">
				  <textarea cols="15" rows="5" class="form-control" asp-for="Template.CallNature"></textarea>
				</div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a class="btn btn-white" asp-controller="Templates" asp-action="Index" asp-route-area="User">Cancel</a>
                <button class="btn btn-primary" type="submit">Add Template</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


@section Scripts
{
  <script src="~/js/app/internal/templates/resgrid.templates.newtemplate.js"></script>
}
