@using Resgrid.Model
@model Resgrid.Web.Areas.User.Models.Training.EditTrainingModel
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Trainings.Trainings> localizer
@{
	ViewBag.Title = "Resgrid | " + localizer["EditTrainingHeader"];
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>@localizer["EditTrainingHeader"]</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@localizer["HomeLink"]</a>
			</li>
			<li>
				<a asp-controller="Trainings" asp-action="Index" asp-route-area="User">@localizer["TrainingsLink"]</a>
			</li>
			<li class="active">
				<strong>@localizer["EditTrainingHeader"]</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form id="editTrainingForm" class="form-horizontal" role="form" asp-controller="Trainings" asp-action="Edit" asp-route-area="User" asp-route-trainingId="@Model.Training.TrainingId" method="post">

						<div class="row">
							<div class="col-md-8 col-md-offset-1">
								@if (!String.IsNullOrEmpty(Model.Message))
								{
									<div class="alert alert-success">
										@Model.Message
									</div>
								}
								@Html.AntiForgeryToken()
								<input type="hidden" asp-for="Training.TrainingId" />
								<input type="hidden" asp-for="Training.CreatedByUserId" />
								<input type="hidden" asp-for="Training.CreatedOn" />
								<input type="hidden" asp-for="Training.DepartmentId" />
								<div asp-validation-summary="All" class="text-danger"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label required">
								@localizer["TrainingNameLabel"]
							</label>
							<div class="col-sm-10">
								<div class="col-md-5">
									@Html.TextBoxFor(m => m.Training.Name, new { @class = "form-control", autofocus = "autofocus" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label required">
								@localizer["DescriptionLabel"]
							</label>
							<div class="col-sm-10">
								<div class="col-md-6">
									<input type="hidden" asp-for="Training.Description">

									<div id="editor-container" style="width:100%; height: 300px;">
										@Html.Raw(Model.Training.Description)
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label required">
								@localizer["TrainingTextLabel"]
							</label>
							<div class="col-sm-10">
								<div class="col-md-10">
									<input type="hidden" asp-for="Training.TrainingText">

									<div id="editor-container2" style="width:100%; height: 300px;">
										@Html.Raw(Model.Training.TrainingText)
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">
								@localizer["MinimumScoreLabel"]
							</label>
							<div class="col-sm-10">
								<div class="col-md-2">
									<div class="input-group input-group-sm">
										@Html.TextBoxFor(m => m.Training.MinimumScore, new { @class = "form-control", type = "number", min = "0", max = "100" })
										<span class="input-group-addon">%</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">
								@localizer["DueDateLabel"]
							</label>
							<div class="col-sm-10">
								<div class="col-md-5">
									@Html.TextBoxFor(m => m.Training.ToBeCompletedBy, new { @class = "form-control", onkeydown = "javascript:return false;" })
								</div>
							</div>
						</div>

						@if (Model.Training.Attachments != null && Model.Training.Attachments.Count > 0)
						{
							<div class="form-group">
								<label class="col-sm-2 control-label">
									@localizer["ExistingAttachmentsLabel"]
								</label>
								<div class="col-sm-10">
									<div class="col-md-8">
										<ul class="list-unstyled">
											@foreach (var attachment in Model.Training.Attachments)
											{
												<li>
													<a asp-controller="Trainings" asp-action="GetTrainingAttachment" asp-route-area="User" asp-route-trainingAttachmentId="@attachment.TrainingAttachmentId" target="_blank">
														<i class="fa fa-file"></i> @attachment.FileName
													</a>
												</li>
											}
										</ul>
									</div>
								</div>
							</div>
						}

						<div class="form-group">
							<label class="col-sm-2 control-label">
								@localizer["AddAttachmentsLabel"]
							</label>
							<div class="col-sm-10">
								<div class="col-md-5">
									<input name="attachments" id="attachments" type="file" multiple />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">
								@localizer["CurrentlyAssignedLabel"]
							</label>
							<div class="col-sm-10">
								<div class="col-md-8">
									<span class="help-block">@string.Format(localizer["CurrentlyAssignedText"].Value, Model.Training.Users?.Count ?? 0)</span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">
								@localizer["AddAllPersonnelLabel"]
							</label>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-xs-4">
										@Html.CheckBoxFor(m => m.SendToAll)
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">
								@localizer["AddGroupsLabel"]
							</label>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-xs-4"><select id="groupsToAdd" name="groupsToAdd"></select></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">
								@localizer["AddRolesLabel"]
							</label>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-xs-6"><select id="rolesToAdd" name="rolesToAdd"></select></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">
								@localizer["AddUsersLabel"]
							</label>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-xs-6"><select id="usersToAdd" name="usersToAdd"></select></div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">
								@localizer["QuestionsLabel"]
							</label>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-xs-10">@localizer["QuestionsHelpText"] <br /></div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<table id="questions" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th style="max-width: 200px;font-size: 14px;">@localizer["QuestionColumn"]</th>
													<th style="max-width: 350px;font-size: 14px;">@localizer["AnswersColumn"]</th>
													<th style="max-width: 90px;font-size: 16px;"><a id="addQuestionButton" class="btn btn-success btn-xs" onclick="resgrid.training.edittraining.addQuestion();" data-original-title="@localizer["AddQuestionTooltip"]"><i class="icon-plus"></i> @localizer["AddQuestionButton"]</a></th>
												</tr>
											</thead>
											<tbody>
												@{ var qIndex = 0; }
												@if (Model.Training.Questions != null)
												{
													foreach (var question in Model.Training.Questions)
													{
														<tr id="questionRow_@qIndex">
															<td>
																<input type="hidden" name="questionId_@qIndex" value="@question.TrainingQuestionId" />
																<input type="text" name="question_@qIndex" value="@question.Question" class="form-control" />
															</td>
															<td>
																@{ var aIndex = 0; }
																@if (question.Answers != null)
																{
																	foreach (var answer in question.Answers)
																	{
																		<div style="margin-bottom: 5px;">
																			<input type="radio" name="answer_@(qIndex)" value="answerForQuestion_@(qIndex)_@(aIndex)" @(answer.Correct ? "checked" : "") /> @localizer["CorrectLabel"]
																			<input type="text" name="answerForQuestion_@(qIndex)_@(aIndex)" value="@answer.Answer" class="form-control" style="display:inline-block; width:auto;" />
																		</div>
																		aIndex++;
																	}
																}
															</td>
															<td>
																<a class="btn btn-xs btn-danger" onclick="resgrid.training.edittraining.removeQuestion(@qIndex);"><i class="icon-trash"></i> @localizer["RemoveButton"]</a>
															</td>
														</tr>
														qIndex++;
													}
												}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<a class="btn btn-white" asp-controller="Trainings" asp-action="Index" asp-route-area="User">@localizer["CancelButton"]</a>
								<button class="btn btn-primary" type="submit">@localizer["SaveTrainingButton"]</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts
{
	<script>
		var resgridTrainingsI18n = {
			selectGroups: '@localizer["SelectGroupsPlaceholder"]',
			selectRoles: '@localizer["SelectRolesPlaceholder"]',
			selectUsers: '@localizer["SelectUsersPlaceholder"]',
			removeQuestionTooltip: '@localizer["RemoveQuestionTooltip"]',
			removeAnswerTooltip: '@localizer["RemoveAnswerTooltip"]',
			addAnswer: '@localizer["AddAnswerButton"]',
			answerRequired: '@localizer["AnswerRequiredMessage"]',
			addQuestionTooltip: '@localizer["AddQuestionTooltip"]',
			correct: '@localizer["CorrectLabel"]',
			answerText: '@localizer["AnswerTextColumn"]'
		};
	</script>
	<script src="~/js/app/internal/training/resgrid.training.edittraining.js"></script>
}
