@model Resgrid.Web.Areas.User.Models.Units.AddLogView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Units.Units> localizer
@{
    ViewBag.Title = "Resgrid | " + @localizer["AddUnitLogHeader"];
}
@section Styles
{
    <style>
        .k-select {
            line-height: 1.5em !important;
        }
    </style>
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@localizer["AddUnitLogHeader"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
            </li>
            <li>
                <a asp-controller="Units" asp-action="Index" asp-route-area="User">@commonLocalizer["UnitsModule"]</a>
            </li>
            <li class="active">
                <strong>@localizer["AddUnitLogHeader"]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" id="addUnitLogForm" asp-controller="Units" asp-action="AddLog" asp-route-area="User" method="post">

                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                @Html.HiddenFor(m => m.Log.UnitId)
                                @Html.AntiForgeryToken()
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@commonLocalizer["Name"]</label>
                            <div class="col-sm-10">@Model.UnitName</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">
                                @commonLocalizer["TimeStamp"]
                            </label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Log.Timestamp, new { style = "width:250px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["LogBodyLabel"]</label>
                            <div class="col-sm-10">
                                <input type="hidden" asp-for="Log.Narrative">

                                <div id="editor-container" style="width:100%; height: 200px;">
                                    @Html.Raw(Model.Log.Narrative)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white" asp-controller="Units" asp-action="Index" asp-route-area="User">@commonLocalizer["Cancel"]</a>
                                <button class="btn btn-primary" type="submit">@commonLocalizer["Save"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/app/internal/units/resgrid.units.unitlog.js"></script>
}
