@using Resgrid.Model
@using Resgrid.Web.Helpers
@model Resgrid.WebCore.Areas.User.Models.Templates.TemplateIndexModel
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Templates.Templates> localizer
@{
    ViewBag.Title = "Resgrid | " + @commonLocalizer["Templates"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@commonLocalizer["Templates"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["Home"]</a>
            </li>
            <li class="active">
                <strong>@commonLocalizer["Templates"]</strong>
            </li>
        </ol>
    </div>
    @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
    {
        <div class="col-sm-8">
            <div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
                <a title="Create Template" class="btn btn-info" asp-controller="Templates" asp-action="CallNotes" asp-route-area="User">@localizer["CallNotes"]</a>
                <a title="Create Template" class="btn btn-success" asp-controller="Templates" asp-action="New" asp-route-area="User">@localizer["NewTemplateHeader"]</a>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @commonLocalizer["Name"]
                                    </th>
                                    <th>
                                        @commonLocalizer["Type"]
                                    </th>
                                    <th>
                                        @commonLocalizer["CreatedOn"]
                                    </th>
                                    <th>
                                        @commonLocalizer["Action"]
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var t in Model.CallQuickTemplates)
                                {
                                    <tr>
                                        <td>
                                            @t.Name
                                        </td>
                                        <td>
                                            Call Quick Template
                                        </td>
                                        <td>
                                            @Html.Raw(t.CreatedOn.ToShortDateString())
                                        </td>
                                        <td>
                                            @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
                                            {
                                                <a href="@Url.Action("Edit", "Templates", new { area = "User", id = t.CallQuickTemplateId })" class='btn btn-xs btn-info'>
                                                    @commonLocalizer["Edit"]
                                                </a>
                                                <a href="@Url.Action("Delete", "Templates", new { area = "User", id = t.CallQuickTemplateId })" class='btn btn-xs btn-danger' data-confirm="WARNING: This will permanently delete this template. Are you sure you want to delete the template @t.Name ?" rel="nofollow">
                                                    @commonLocalizer["Delete"]
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script src="~/js/app/internal/templates/resgrid.templates.index.js"></script>
}
