@model Resgrid.Web.Areas.User.Models.Calendar.NewTypeView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Calendar.Calendar> localizer
@{
		ViewBag.Title = "Resgrid | " + @localizer["EditCalendarTypeHeader"];
}

@section Styles
{

}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>@localizer["EditCalendarTypeHeader"]</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
			</li>
			<li>
				<a asp-controller="Calendar" asp-action="Index" asp-route-area="User">@commonLocalizer["CalendarModule"]</a>
			</li>
			<li>
				<a asp-controller="Calendar" asp-action="Types" asp-route-area="User">@localizer["CalendarTypesHeader"]</a>
			</li>
			<li class="active">
				<strong>@localizer["EditCalendarTypeHeader"]</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal" role="form" asp-controller="Calendar" asp-action="EditType" asp-route-area="User" method="post">

						<div class="row">
							<div class="col-md-8 col-md-offset-1">
								@if (!String.IsNullOrEmpty(Model.Message))
								{
								<div class="alert alert-success">
									@Model.Message
								</div>
								}
								<span class="alert-error">
									@Html.AntiForgeryToken()
									@Html.HiddenFor(x => x.Type.CalendarItemTypeId)
								</span>
								<div asp-validation-summary="All" class="text-danger"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["TypeName"]</label>
							<div class="col-sm-8"><input type="text" class="form-control" placeholder="Name of the Type" asp-for="Type.Name"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["TypeColor"]</label>
							<div class="col-sm-2"><input type="text" class="form-control" asp-for="Type.Color"/></div>
						</div>

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<a class="btn btn-white" asp-controller="Calendar" asp-action="Types" asp-route-area="User">@localizer["Cancel"]</a>
								<button class="btn btn-primary" type="submit">@localizer["Edit"]</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
		<script>
		$(document).ready(function () {
			$("#Type_Color").minicolors({
				animationSpeed: 50,
				animationEasing: 'swing',
				changeDelay: 0,
				control: 'hue',
				defaultValue: '#0080ff',
				format: 'hex',
				showSpeed: 100,
				hideSpeed: 100,
				inline: false,
				theme: 'bootstrap'
			});
		});
	</script>

}
