@using Resgrid.Model
@model Resgrid.Web.Areas.User.Models.Inventory.AddTypeView
@{
	ViewBag.Title = "Resgrid | Add Inventory Type";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Add Inventory Type</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
			</li>
			<li>
				<a asp-controller="Inventory" asp-action="Index" asp-route-area="User">Inventory</a>
			</li>
			<li>
				<a asp-controller="Inventory" asp-action="ManageTypes" asp-route-area="User">Types</a>
			</li>
			<li class="active">
				<strong>Add Inventory Type</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal" role="form" asp-controller="Inventory" asp-action="AddType" asp-route-area="User" method="post">

						<div class="row">
							<div class="col-md-8 col-md-offset-1">
								@if (!String.IsNullOrEmpty(Model.Message))
								{
									<div class="alert alert-success">
										@Model.Message
									</div>
								}
								@Html.AntiForgeryToken()
								<div asp-validation-summary="All" class="text-danger"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">
								Type Name
							</label>
							<div class="col-sm-10">
								<div class="col-md-4">
									@Html.TextBoxFor(m => m.Type.Type, new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">
								Description
							</label>
							<div class="col-sm-10">
								<div class="col-md-4">
									@Html.TextAreaFor(m => m.Type.Description, new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">
								Unit Of Measure
							</label>
							<div class="col-sm-10">
								<div class="col-md-2">
									@Html.TextBoxFor(m => m.Type.UnitOfMesasure, new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="form-group" style="padding-bottom: 12px;">
							<label class="col-sm-2 control-label">
								Item Expires Days
							</label>
							<div class="col-sm-10">
								<div class="col-md-2">
									@Html.TextBoxFor(m => m.Type.ExpiresDays, new { onkeydown = "javascript:return false;" })
									<p class="help-block">For items that don't expire enter 0</p>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<a class="btn btn-white" asp-controller="Inventory" asp-action="ManageTypes" asp-route-area="User">Cancel</a>
								<button class="btn btn-primary" type="submit">Add Inventory Type</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script src="~/js/app/internal/inventory/resgrid.inventory.addType.js" type="text/javascript"></script>
}