
@using Resgrid.Model
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.CallsDashboardModel
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Dispatch.Call> localizer
@{
	ViewBag.Title = "Resgrid | " + @localizer["ArchivedCallsHeader"];
	Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>@localizer["ArchivedCallsHeader"]</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
			</li>
			<li>
				<a asp-controller="Dispatch" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["CallsModule"]</a>
			</li>
			<li class="active">
				<strong>@localizer["ArchivedCallsHeader"]</strong>
			</li>
		</ol>
	</div>
		<div class="col-sm-8">
			<div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
				<a title="@localizer["ActiveCallsHelp"]" class="btn btn-info" asp-controller="Dispatch" asp-action="Dashboard" asp-route-area="User">@localizer["ActiveCalls"]</a>
			</div>
		</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
		  <div class="ibox float-e-margins">
		    <div class="ibox-title">
		      <h5>Archived Calls</h5>
		      <div class="ibox-tools">
		        @if (ClaimsAuthorizationHelper.CanCreateCall())
				{
		          <div class="buttons-actions">
		            <a id="addOldCall" title="@localizer["AddArchivedCallHelp"]" class="btn btn-primary" asp-controller="Dispatch" asp-action="AddArchivedCall" asp-route-area="User">@localizer["AddArchivedCallHeader"]</a>
		          </div>
				}
		      </div>
		    </div>
		    <div class="ibox-tools">
		      <div class="buttons-actions" style="padding-left: 12px; text-align:left;">
		        Calls for Year: @Html.DropDownListFor(m => m.Year, Model.Years, new { @style = "margin-left: 4px; width: 60px;" })
		      </div>
		    </div>
		    <div class="ibox-content">
		      <div id="archiveCallsList"></div>
		    </div>
		  </div>
		</div>
	</div>
</div>

@section Scripts
{
	<script id="archiveCallPriority-template" type="text/x-kendo-template">
	<p style="color: #=Color#;">#=Priority#</p>
</script>

<script id="archiveCallState-template" type="text/x-kendo-template">
	<p style="color: #=StateColor#;">#=State#</p>
</script>

	<script id="archiveCallCommand-template" type="text/x-kendo-template">
	<a style="text-decoration:none;" class="btn btn-xs btn-info" href="@Url.Action("ViewCall", "Dispatch", new {area = "User"})?callId=#=CallId#">@commonLocalizer["View"]</a>
	<a style="text-decoration:none;" class="btn btn-xs btn-primary" href="@Url.Action("CallExport", "Dispatch", new {area = "User"})?callId=#=CallId#">@commonLocalizer["Export"]</a>

	#if(CanDeleteCall){#
	<a href="@Url.Action("DeleteCall", "Dispatch", new {area = "User"})?callId=#=CallId#" class="btn btn-xs btn-danger" data-confirm="WARNING: This will permanently delete this call. Are you sure you want to delete the call #=Name#?" rel="nofollow">@commonLocalizer["Delete"]</a>
	#}#

</script>

	<script src="@Url.Content("~/js/app/internal/dispatch/resgrid.dispatch.archive.js")" type="text/javascript"></script>
}
