@using Resgrid.Model
@using Resgrid.Model.Helpers
@using Resgrid.Web
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Dispatch.CallExportView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Dispatch.Call> localizer
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@localizer["CallExportHeader"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Resgrid Log Report">
    <meta name="author" content="Resgrid">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="hidden"
          asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />

    <link rel="stylesheet" href="~/clib/kendo/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/clib/kendo/styles/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="~/clib/kendo/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="~/clib/kendo/styles/kendo.dataviz.bootstrap.min.css" />

    <style>
        .table th, .table td {
            padding: 8px !important;
            line-height: 20px !important;
            text-align: left !important;
            vertical-align: top !important;
        }
    </style>

    <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <link rel="apple-touch-icon" href="@Url.Content("~/apple-touch-icon-iphone.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/apple-touch-icon-ipad.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/apple-touch-icon-iphone4.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/apple-touch-icon-ipad3.png")" />
</head>
<body>
    <div id="runLog" class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning" role="alert">@localizer["ExportUnauthHeader"]</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a href="https://resgrid.com/Account/LogOn"><img src="@Url.Content("~/images/Resgrid_JustText_small.png")" title="Resgrid" alt="Resgrid" style="margin-top: 10px; margin-bottom: 5px;"></a>
            </div>
            <div class="col-xs-6" style="text-align: right;">
                <h3 style="margin-top: 10px;">@localizer["CallExportHeader"]</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td>
                                <strong><small>@localizer["CallIdLabel"]</small></strong>
                                <span style="display: block;">@Model.Call.CallId</span>
                            </td>
                            <td>
                                <strong><small>@localizer["CallNumberLabel"]</small></strong>
                                <span style="display: block;">@Model.Call.Number</span>
                            </td>
                            <td>
                                <strong><small>@localizer["IncidentIdLabel"]</small></strong>

                                @if (!String.IsNullOrWhiteSpace(Model.Call.IncidentNumber))
                                {
                                    <span style="display: block;">@Model.Call.IncidentNumber</span>
                                }
                                else
                                {
                                    <span style="display: block;">@commonLocalizer["None"]</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong><small>@localizer["NameLabel"]</small></strong>
                                <span style="display: block;">@Model.Call.Name</span>
                            </td>
                            <td>
                                <strong><small>@localizer["TypeLabel"]</small></strong>
                                @if (!String.IsNullOrWhiteSpace(Model.Call.Type))
                                {
                                    <span style="display: block;">@Model.Call.Type</span>
                                }
                                else
                                {
                                    <span style="display: block;">@localizer["NoType"]</span>
                                }
                            </td>
                            <td>
                                <strong><small>@localizer["PrioirtyLabel"]</small></strong>
                                <span style="display: block;">@(((CallPriority)Model.Call.Priority).ToString())</span>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong><small>@localizer["LoggedOnLabel"]</small></strong>
                                <span style="display: block;">@Model.Call.LoggedOn.TimeConverterToString(Model.Department)</span>
                            </td>

                            <td>
                                <strong><small>@localizer["LoggedByLabel"]</small></strong>
                                <span style="display: block;">@(await UserHelper.GetFullNameForUser(Model.Call.ReportingUserId))</span>
                            </td>

                            <td>
                                <strong><small>@localizer["StateLabel"]</small></strong>
                                @if (Model.Call.State == (int)CallStates.Active)
                                {
                                    <span style="display: block; color: green;">@commonLocalizer["Active"]</span>
                                }
                                else if (Model.Call.State == (int)CallStates.Cancelled)
                                {
                                    <span style="display: block; color: gray;">@commonLocalizer["Canceled"]</span>
                                }
                                else if (Model.Call.State == (int)CallStates.Closed)
                                {
                                    <span style="display: block; color: black;">@commonLocalizer["Closed"]</span>
                                }
                                else if (Model.Call.State == (int)CallStates.Unfounded)
                                {
                                    <span style="display: block; color: blue;">@commonLocalizer["Unfounded"]</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            @if (Model.Call.ClosedOn.HasValue)
                            {
                                <td>
                                    <strong><small>@localizer["ClosedOnLabel"]</small></strong>
                                    <span style="display: block;">@Model.Call.ClosedOn.Value.TimeConverterToString(Model.Department)</span>
                                </td>
                                <td>
                                    <strong><small>@localizer["ClosedByLabel"]</small></strong>
                                    <span style="display: block;">@(await UserHelper.GetFullNameForUser(Model.Call.ClosedByUserId))</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <strong><small>@localizer["ClosedOnLabel"]</small></strong>
                                    <span style="display: block;">Not Closed</span>
                                </td>
                                <td>
                                    <strong><small>@localizer["ClosedByLabel"]</small></strong>
                                    <span style="display: block;"></span>
                                </td>
                            }

                        </tr>
                        <tr>
                            @if (Model.Call != null)
                            {
                                <td colspan="2">
                                    <strong><small>@localizer["LocationLabel"]</small></strong>
                                    <span style="display: block;">@Model.Call.Address</span>
                                </td>
                                <td colspan="1">
                                    <strong><small>@localizer["GPSLabel"]</small></strong>
                                    <span style="font-size: 10px; display: block;">@Model.Call.GeoLocationData</span>
                                </td>
                            }
                            else
                            {
                                <td colspan="2">
                                    <strong><small>@localizer["LocationLabel"]</small></strong>
                                    <span style="display: block;">Not Supplied</span>
                                </td>
                                <td colspan="1">
                                    <strong><small>@localizer["GPSLabel"]</small></strong>
                                    <span style="display: block;">Not Supplied</span>
                                </td>
                            }

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @if (Model.Call.Contacts != null && Model.Call.Contacts.Any())
        {
            <div class="row">
                <div class="col-xs-12">
                    <strong><small>@localizer["Contacts"]</small></strong>
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th>@commonLocalizer["Name"]</th>
                                <th>@commonLocalizer["Type"]</th>
                                <th>@localizer["CallContactType"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in Model.Call.Contacts)
                            {
                                var contact = Model.Contacts.FirstOrDefault(x => x.ContactId == c.ContactId);

                                if (contact != null)
                                {
                                    <tr>
                                        <td>@contact.GetName()</td>
                                        <td>@contact.GetTypeName()</td>
                                        <td>@c.GetContactTypeName()</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-xs-12">
                <strong><small>@localizer["DispatchedUnits"]</small></strong>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>@commonLocalizer["Name"]</th>
                            <th>@commonLocalizer["Station"]</th>
                            <th>@commonLocalizer["Type"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var d in Model.Call.UnitDispatches)
                        {
                            var unit = Model.Units.FirstOrDefault(x => x.UnitId == d.UnitId);

                            if (unit != null)
                            {
                                var groupName = "";

                                if (unit.StationGroupId != null)
                                {
                                    var group = Model.Groups.FirstOrDefault(x => x.DepartmentGroupId == unit.StationGroupId);

                                    if (group != null)
                                    {
                                        groupName = group.Name;
                                    }
                                }

                                <tr>
                                    <td>@unit.Name</td>
                                    <td>@groupName</td>
                                    <td>@unit.Type</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <strong><small>@localizer["DispatchedPersonnel"]</small></strong>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>@commonLocalizer["Id"]</th>
                            <th>@commonLocalizer["Station"]</th>
                            <th>@commonLocalizer["Name"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var d in Model.Call.Dispatches)
                        {
                            //var group = Model.Group
                            <tr>
                                <td></td>
                                <td></td>
                                <td>@(await UserHelper.GetFullNameForUser(d.UserId))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <strong><small>@localizer["CallNatureLabel"]</small></strong>
                <div style="border: 1px solid #ddd; padding: 10px;">@Html.Raw(Model.Call.NatureOfCall)</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <strong><small>@localizer["NotesLabel"]</small></strong>
                <div style="border: 1px solid #ddd; padding: 10px;">@Html.Raw(Model.Call.Notes)</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <strong><small>@localizer["CompletedNotesLabel"]</small></strong>
                <div style="border: 1px solid #ddd; padding: 10px;">@Html.Raw(Model.Call.CompletedNotes)</div>
            </div>
        </div>
         <div class="row">
            <div class="col-xs-12">
                <strong><small>@commonLocalizer["Notes"]</small></strong>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>@commonLocalizer["Timestamp"]</th>
                            <th>@commonLocalizer["Name"]</th>
                            <th>@commonLocalizer["Note"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var note in Model.Call.CallNotes)
                        {
                            var name = Model.Names.FirstOrDefault(x => x.UserId == note.UserId);
                            <tr>
                                <td>@note.Timestamp.TimeConverterToString(Model.Department)</td>
                                <td>@name.FirstName @name.LastName</td>
                                <td>@note.Note</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <strong>@localizer["CallsLinkedFromThisHeader"]</strong>
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>@localizer["CallNumber"]</th>
                            <th>@commonLocalizer["Name"]</th>
                            <th>@localizer["LoggedOnLabel"]</th>
                            <th>@commonLocalizer["Note"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var linkedCalls in Model.Call.References)
                        {
                            <tr>
                                <td>
                                    <span>@linkedCalls.TargetCall.Number</span>
                                </td>
                                <td>
                                    <span>@linkedCalls.TargetCall.Name</span>
                                </td>
                                <td>
                                    <span>@linkedCalls.TargetCall.LoggedOn.FormatForDepartment(Model.Department)</span>
                                </td>
                                <td>
                                    @linkedCalls.Note
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <strong>@localizer["CallsLinkedToThisHeader"]</strong>
                <table class="table table-striped table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>@localizer["CallNumber"]</th>
                            <th>@commonLocalizer["Name"]</th>
                            <th>@localizer["LoggedOnLabel"]</th>
                            <th>@commonLocalizer["Note"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var linkedCalls in Model.ChildCalls)
                        {
                            <tr>
                                <td>
                                    <span>@linkedCalls.SourceCall.Number</span>
                                </td>
                                <td>
                                    <span>@linkedCalls.SourceCall.Name</span>
                                </td>
                                <td>
                                    <span>@linkedCalls.SourceCall.LoggedOn.FormatForDepartment(Model.Department)</span>
                                </td>
                                <td>
                                    @linkedCalls.Note
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <strong><small>@localizer["UnitEvents"]</small></strong>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>@commonLocalizer["Unit"]</th>
                            <th>@commonLocalizer["Event"]</th>
                            <th>@commonLocalizer["Timestamp"]</th>
                            <th>@commonLocalizer["Note"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var us in Model.UnitStates)
                        {
                            var customState = await CustomStatesHelper.GetCustomUnitState(us);
                            <tr>
                                <td>@us.Unit.Name</td>

                                @if (us.State <= 25)
                                {
                                    <td><span class='label @customState.ButtonColor'>@customState.ButtonText</span></td>
                                }
                                else
                                {
                                    <td><span class='label label-default' style="color: @customState.TextColor; background-color: @customState.ButtonColor;">@customState.ButtonText</span></td>
                                }
                                <td>@us.Timestamp.TimeConverterToString(Model.Department)</td>
                                <td>@us.Note</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <strong><small>@localizer["PersonnelEvents"]</small></strong>
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th>@commonLocalizer["Name"]</th>
                            <th>@commonLocalizer["Event"]</th>
                            <th>@commonLocalizer["Timestamp"]</th>
                            <th>@commonLocalizer["Note"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var al in Model.ActionLogs)
                        {
                            var customState = await CustomStatesHelper.GetCustomPersonnelStatus(Model.Department.DepartmentId, al);
                            <tr>
                                <td>@(await UserHelper.GetFullNameForUser(al.UserId))</td>

                                @if (al.ActionTypeId <= 25)
                                {
                                    <td><span class='label @customState.ButtonColor'>@customState.ButtonText</span></td>
                                }
                                else
                                {
                                    <td><span class='label label-default' style="color: @customState.TextColor; background-color: @customState.ButtonColor;">@customState.ButtonText</span></td>
                                }
                                <td>@al.Timestamp.TimeConverterToString(Model.Department)</td>
                                <td>@al.Note</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (Model.Station != null)
        {
            <div class="row">
                <div class="col-xs-12">
                    <div style="text-align:center;">
                        <h3>@localizer["DrivingDirections"] @Model.Station.Name</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="dvDistance" style="font-size:x-large; text-align: center">
                    </div>
                    <div id="dvMap">
                    </div>
                    <div id="dvPanel">
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-xs-12">
                <strong><small>@localizer["AttachedImages"]</small></strong>
                @foreach (var img in Model.Call.Attachments.Where(x => x.CallAttachmentType == 2))
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong><small>@commonLocalizer["Name"]</small></strong>
                                            <span style="display: block;">@img.Name</span>
                                        </td>
                                        <td>
                                            <strong><small>@commonLocalizer["Timestamp"]</small></strong>
                                            <span style="display: block;">@img.Timestamp?.TimeConverterToString(Model.Department)</span>
                                        </td>
                                        <td>
                                            <strong><small>@localizer["AddedBy"]</small></strong>
                                            <span style="display: block;">@(await UserHelper.GetFullNameForUser(img.UserId))</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <img style="max-width:600px;" src="@Url.Action("GetCallImage", "Dispatch", new {Area = "User", callId = img.CallId, attachmentId = img.CallAttachmentId})" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align: right;">
                @DateTime.UtcNow.TimeConverterToString(Model.Department)
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Scripts/kendo/jquery.min.js"><\/script>')</script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>


    <script src="~/clib/flot/jquery.flot.js"></script>
    <script src="~/clib/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/clib/flot/jquery.flot.resize.js"></script>
    <script src="~/clib/flot/jquery.flot.pie.js"></script>
    <script src="~/clib/flot/jquery.flot.time.js"></script>
    <script src="~/clib/flot/jquery.flot.spline.js"></script>

    <script src="~/clib/kendo/js/kendo.all.min.js"></script>
    <script src="~/clib/kendo/js/kendo.timezones.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@Resgrid.Config.MappingConfig.GoogleMapsJSKey"></script>

    @if (Model.Station != null)
    {
        <script type="text/javascript">
            var source;
            var destination;
            var directionsDisplay;
            var directionsService;

            function route() {
              var station = new google.maps.LatLng(@Model.StartLat, @Model.StartLon);
              var call = new google.maps.LatLng(@Model.EndLat, @Model.EndLon);

              var mapOptions = {
                zoom: 7,
                center: station
              };
              map = new google.maps.Map(document.getElementById('dvMap'), mapOptions);
              directionsDisplay.setMap(map);
              directionsDisplay.setPanel(document.getElementById('dvPanel'));

              var request = {
                origin: station,
                destination: call,
                travelMode: google.maps.TravelMode.DRIVING
              };
              directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay.setDirections(response);
                }
              });


              var service = new google.maps.DistanceMatrixService();
              service.getDistanceMatrix({
                origins: [station],
                destinations: [call],
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
              }, function (response, status) {
                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                  var distance = response.rows[0].elements[0].distance.text;
                  var duration = response.rows[0].elements[0].duration.text;
                  var dvDistance = document.getElementById("dvDistance");
                  dvDistance.innerHTML = "";
                  dvDistance.innerHTML += "Distance: " + distance + "<br />";
                  dvDistance.innerHTML += "Duration: " + duration;
                  //alert(dvDistance.innerHTML);
                } else {
                  alert("Your Request For Distance Not Available");
                }
              });
            }

            $(document).ready(function () {
              directionsService = new google.maps.DirectionsService();
              directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });
              route();
            });
        </script>
    }
</body>
</html>
