@using Resgrid.Model
@model Resgrid.WebCore.Areas.User.Models.Dispatch.FlagCallNoteView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Dispatch.Call> localizer
@{
    ViewBag.Title = "Resgrid | " + @localizer["FlagCallNoteHeader"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@localizer["FlagCallNoteHeader"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
            </li>
            <li>
                <a asp-controller="Dispatch" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["CallsModule"]</a>
            </li>
            <li class="active">
                <strong>@localizer["FlagCallNoteHeader"]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" asp-controller="Dispatch" asp-action="FlagCallNote" asp-route-area="User" method="post">

                        <div class="row">
                            <div class="col-md-8 col-md-offset-1 col-md-pull-1">
                                @if (!String.IsNullOrEmpty(Model.Message))
                                {
                                    <div class="alert alert-success">
                                        @Model.Message
                                    </div>
                                }
                                <div asp-validation-summary="All" class="text-danger"></div>
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.CallId)
                                @Html.HiddenFor(m => m.CallNoteId)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["CallNoteTextLabel"]</label>
                            <div class="col-sm-10">@Html.Raw(Model.CallNote)</div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["CallNoteAddedOnLabel"]</label>
                            <div class="col-sm-10">@Html.Raw(Model.AddedOn)</div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["CallNoteAddedByLabel"]</label>
                            <div class="col-sm-10">@Html.Raw(Model.AddedBy)</div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["IsFlaggedLabel"]</label>
                            <div class="col-sm-10"><input type="checkbox" asp-for="IsFlagged"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["FlaggedReasonLabel"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["FlaggedReasonPlaceholder"]" asp-for="FlagNote"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white" asp-controller="Dispatch" asp-action="ViewCall" asp-route-area="User" asp-route-callId="@Model.CallId">@commonLocalizer["Cancel"]</a>
                                <button class="btn btn-primary" type="submit">@commonLocalizer["Save"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function() {
            resgrid.common.analytics.track('Department - Flag Call Note');

            $('#newUnitTypePreview').hide();
            $('#UnitCustomStatesId').select2();

            $('#UnitTypeIcon').on('change', function() {
                if (this.value >= 0) {
                    $('#newUnitTypePreview').show();
                    let text = $("#UnitTypeIcon option:selected").text().replace(/\s/g, '').toLowerCase();
                    $("#newUnitTypePreview").attr("src", "/images/Mapping/" + text + ".png");
                } else {
                    $('#newUnitTypePreview').hide();
                }
            });
        });
    </script>
}
