@model Resgrid.Web.Areas.User.Models.Calls.UpdateCallView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Dispatch.Call> localizer
@{
    ViewBag.Title = "Resgrid | " + @localizer["UpdateCallHeader"];
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
@section Styles
{
    <style>
        .select2-close-mask {
            z-index: 2099;
        }

        .select2-dropdown {
            z-index: 3051;
        }

        .alert-icon {
            cursor: pointer;
            font-size: 18px;
            padding-left: 5px;
            vertical-align: middle;
            display: none;
        }
    </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@localizer["UpdateCallHeader"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
            </li>
            <li>
                <a asp-controller="Dispatch" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["CallsModule"]</a>
            </li>
            <li class="active">
                <strong>@localizer["UpdateCallHeader"]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" asp-controller="Dispatch" asp-action="UpdateCall" asp-route-area="User" method="post" id="updateCallForm">

                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.Latitude)
                                @Html.HiddenFor(m => m.Longitude)
                                @Html.HiddenFor(m => m.Call.CallId)
                                @Html.HiddenFor(m => m.Call.ReportingUserId)
                                <div asp-validation-summary="All" class="text-danger"></div>

                                @if (!String.IsNullOrEmpty(Model.Message))
                                {
                                    <div class="alert alert-success">
                                        @Model.Message
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["NameLabel"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["NamePlaceholder"]" asp-for="Call.Name"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["PrioirtyLabel"]</label>
                            <div class="col-sm-10">@Html.DropDownListFor(m => m.CallPriority, Model.CallPriorities, new { @style = "width: 200px;", tabindex = "2" })</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["TypeLabel"]</label>
                            <div class="col-sm-10">@Html.DropDownListFor(m => m.Call.Type, Model.CallTypes, new { @style = "width: 200px;", tabindex = "3" })</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["ReportNameLabel"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["ReportNamePlaceholder"]" asp-for="Call.ContactName"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["ReportContactLabel"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["ReportContactPlaceholder"]" asp-for="Call.ContactNumber"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["PrimaryContactLabel"]</label>
                            <div class="col-sm-10">
                                <select asp-for="PrimaryContact" asp-items="Model.ContactsList" style="padding-left: 0; width: 100%;"></select>
                                <span class="input-group-addon">
                                    <i id="primaryNotesIcon" class="fa fa-info-circle text-danger alert-icon" title="Note Alerts"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["AdditionalContactLabel"]</label>
                            <div class="col-sm-10">
                                <select asp-for="AdditionalContacts" asp-items="Model.ContactsList" multiple="multiple" style="padding-left: 0; width: 100%;"></select>
                                <span class="input-group-addon">
                                    <i id="additionalNotesIcon" class="fa fa-info-circle text-danger alert-icon" title="Note Alerts"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["CallIdentifierLabel"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["CallIdentifierPlaceholder"]" asp-for="Call.ExternalIdentifier"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["IncidentIdLabel"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["IncidentIdPlaceholder"]" asp-for="Call.IncidentNumber"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["ReferenceIdLabel"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["ReferenceIdPlaceholder"]" asp-for="Call.ReferenceNumber"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["CallNatureLabel"]</label>
                            <div class="col-sm-10">
                                <input type="hidden" asp-for="Call.NatureOfCall">

                                <div id="nature-container" style="width:100%; height: 300px;">
                                    @Html.Raw(Model.Call.NatureOfCall)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["NotesLabel"]</label>
                            <div class="col-sm-10">
                                <input type="hidden" asp-for="Call.Notes">

                                <div id="note-container" style="width:100%; height: 300px;">
                                    @Html.Raw(Model.Call.Notes)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["MapPageLabel"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["MapPagePlaceholder"]" asp-for="Call.MapPage"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["LocationLabel"]</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" placeholder="@localizer["LocationPlaceholder"]" asp-for="Call.Address">
                                            <span class="input-group-btn">
                                                <a id="searchButton" href="#" class="btn btn-info">@localizer["FindAddress"]</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 0px;">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control" placeholder="what.three.words" asp-for="What3Word" style="width:250px;">
                                            <span class="input-group-btn" style="float: left;">
                                                <a id="findw3wButton" href="#" class="btn btn-info">@localizer["FindW3wLocation"]</a>
                                            </span>
                                        </div>
                                        <span class="help-inline">@localizer["W3wHelp"] <a href="https://what3words.com/about/" target="_blank">@localizer["LearnMore"]</a></span>
                                    </div>
                                </div>
                                <div id="callMap" name="callMap" style="position: relative; width: 90%; height: 500px;"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["CallLinksLabel"]</label>
                            <div class="col-sm-10">
                                <table id="linkedCalls" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="max-width: 350px;font-size: 14px;">@localizer["Name"]</th>
                                            <th style="max-width: 350px;font-size: 14px;">@localizer["Note"]</th>
                                            <th style="max-width: 350px;font-size: 14px;"><a href="#" class="btn btn-xs btn-info" data-target="#selectCallToLinkModal" data-toggle="modal">@localizer["AddLinkedCall"]</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var callReference in Model.Call.References)
                                        {
                                            <tr><td style='max-width: 215px;'>@callReference.TargetCall.Number - @callReference.TargetCall.GetStateText() - @callReference.TargetCall.LoggedOn.FormatForDepartment(Model.Department) - @callReference.TargetCall.Name<input type='hidden' id='linkedCall_@callReference.TargetCallId' name='linkedCall_@callReference.TargetCallId' value='@callReference.TargetCallId' /><input type='hidden' id='linkedCallRef_@callReference.TargetCallId' name='linkedCallRef_@callReference.TargetCallId' value='@callReference.CallReferenceId' /></td><td>@callReference.Note<input type='hidden' id='linkedCallNote_@callReference.TargetCallId' name='linkedCallNote_@callReference.TargetCallId' value='@callReference.Note' /></td><td style='text-align:center;'><a onclick='$(this).parent().parent().remove();' class='tip-top' data-original-title='Remove this call link'><i class='fa fa-minus' style='color: red;'></i></a></td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["DispatchLabel"]</label>
                            <div class="col-sm-10">
                                <div>
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#personnelTab" aria-controls="home" role="tab" data-toggle="tab">@commonLocalizer["Personnel"]</a></li>
                                        <li role="presentation"><a href="#groupsTab" aria-controls="profile" role="tab" data-toggle="tab">@commonLocalizer["Groups"]</a></li>
                                        <li role="presentation"><a href="#unitsTab" aria-controls="messages" role="tab" data-toggle="tab">@commonLocalizer["Units"]</a></li>
                                        <li role="presentation"><a href="#rolesTab" aria-controls="settings" role="tab" data-toggle="tab">@commonLocalizer["Roles"]</a></li>
                                    </ul>
                                    <div class="tab-content" style="height: 600px;">
                                        <div role="tabpanel" class="tab-pane active" id="personnelTab">
                                            <div id="personnelGrid"></div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="groupsTab">
                                            <div id="groupsGrid"></div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="unitsTab">
                                            <div id="unitsGrid"></div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="rolesTab">
                                            <div id="rolesGrid"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["RedispatchCallLabel"]</label>
                            <div class="col-sm-10">
                                <input type="checkbox" asp-for="RebroadcastCall">
                                <span class="help-block m-b-none">@localizer["RedispatchCallHelp"]</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white" asp-controller="Dispatch" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["Cancel"]</a>
                                <button class="btn btn-primary" type="submit">@commonLocalizer["Update"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal xl fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="selectCallToLinkModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@localizer["SelectCallToLinkHeader"]</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class=" control-label">
                        @localizer["SelectCallLabel"]
                    </label>
                    <div class="controls">
                        <select id="selectLinkedCall" style="padding-left: 0; width: 100%;"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label">
                        @localizer["SelectCallNoteLabel"]
                    </label>
                    <div class="controls">
                        <input type="text" id="selectCallNote" name="selectCallNote" style="padding-left: 0; width: 100%;" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">@commonLocalizer["Close"]</button>
                <button id="addNewLinkedCall" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">@localizer["AddLinkedCall"]</button>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=@Resgrid.Config.MappingConfig.GoogleMapsJSKey"></script>
    <script type="text/javascript">
        var callId = @(Model.Call.CallId);
        var osmTileUrl = '@Resgrid.Config.MappingConfig.GetWebsiteOSMUrl()';
        var osmTileAttribution = '@Resgrid.Config.MappingConfig.LeafletAttribution';
    </script>

    <script src="~/js/app/internal/dispatch/resgrid.dispatch.editcall.js"></script>

    <script type="text/javascript">
        // Function to call the GetAlertNotesForContact endpoint and show modal if notes exist.
        function checkAlertNotes(contactId, iconSelector) {
            if (contactId) {
                $.ajax({
                    url: resgrid.absoluteBaseUrl + "/User/Dispatch/GetAlertNotesForContact",
                    type: "GET",
                    data: { contactId: contactId },
                    success: function(response) {
                        if (response) {
                            $(iconSelector).show();
                            var notesHtml = "";
                            if ($.isArray(response)) {
                                $.each(response, function(i, note) {

                                     notesHtml +=`
                                                        <div class="note-card">
                                                    <div class="ibox">
                                                                <div class="ibox-content" style="background-color:${note.TypeColor}">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                                    <h4 class="note-title">${note.TypeName ? note.TypeName : ""}</h4>
                                                                    <p class="small text-muted">
                                                                                <i class="fa fa-clock-o"></i> ${note.AddedOn}
                                                                                        ${note.AddedBy ? `| <i class="fa fa-user"></i> ${note.AddedBy}` : ''}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 note-content">
                                                                            ${note.Note}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            `;

                                    // notesHtml += '<div class="card mb-2">';
                                    // notesHtml += `  <div class="card-header">Note from ${note.AddedBy} (${note.AddedOn})</div>`;

                                    // if (note.TypeColor)
                                    // {
                                    //     notesHtml += `  <div class="card-body" style="background-color: rgba(${note.TypeColor}, 0.1)">`;
                                    // }
                                    // else
                                    // {
                                    //     notesHtml += '  <div class="card-body">';
                                    // }
                                    // notesHtml += `    <p class="card-text">${note.Note}</p>`;
                                    // notesHtml += '  </div>';
                                    // notesHtml += '</div>';
                                });
                            }

                            $("#alertNotesModal .modal-body").html(notesHtml);

                            $("#alertNotesModal").modal("show");
                        } else {
                            $(iconSelector).hide(); // no notes—hide the icon
                        }
                    },
                    error: function() {

                    }
                });
            }
        }

        $(document).ready(function () {
            // Listen for changes on the PrimaryContact select.
            $("#PrimaryContact").on("change", function () {
                var contactId = $(this).val();
                checkAlertNotes(contactId, "#primaryNotesIcon");
            });

            // Listen for changes on the AdditionalContacts select.
            $("#AdditionalContacts").on("change", function () {
                // For multiple selection, you can check for one or more selected contacts.
                // Here we use the first selected contact as an example.
                var contactId = $(this).val();
                if (contactId && contactId.length) {
                    checkAlertNotes(contactId[0], "#additionalNotesIcon");
                } else {
                    $("#additionalNotesIcon").hide();
                }
            });

            // Clicking the icons re-shows the alert notes modal if it’s already loaded.
            $("#primaryNotesIcon, #additionalNotesIcon").on("click", function () {
                $("#alertNotesModal").modal("show");
            });

            checkAlertNotes($("#PrimaryContact").val(), "#primaryNotesIcon");
            $("#AdditionalContacts :selected").map(function(i, el) {
                checkAlertNotes($(el).val(), "#additionalNotesIcon");
            }).get();
        });
    </script>
}
