@model Resgrid.Web.Areas.User.Models.ComposeMessageModel
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Messages.Messages> localizer
@{
	ViewBag.Title = "Resgrid | " + @localizer["ComposeMessageHeader"];
	Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
@section Styles
{

}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-content mailbox-content">
					<div class="file-manager">
						<a title="Add a new message" class="btn btn-block btn-primary compose-mail" href="@Url.Action("Compose", "Messages", new {area = "User"})">@localizer["ComposeMessageHeader"]</a>

						<div class="space-25"></div>
						<h5>@localizer["FoldersHeader"]</h5>
						<ul class="folder-list m-b-md" style="padding: 0">
							<li><a asp-controller="Messages" asp-action="Inbox" asp-route-area="User"> <i class="fa fa-inbox "></i> @localizer["Inbox"]</a></li>
							<li><a asp-controller="Messages" asp-action="Outbox" asp-route-area="User"> <i class="fa fa-envelope-o"></i> @localizer["SentMessages"]</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9 animated fadeInRight">
			<div class="mail-box-header">
				<h2>
					@localizer["ComposeMessageHeader"]
				</h2>
			</div>
			<div class="mail-box">
				<form id="messageForm" class="form-horizontal" role="form" asp-controller="Messages" asp-action="Compose" asp-route-area="User" method="post">
					<div class="mail-body">
						<div class="row">
							<div class="col-md-8 col-md-offset-1">
								@Html.AntiForgeryToken()
								<div asp-validation-summary="All" class="text-danger"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["ToLabel"]:</label>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-xs-12">
										<div class="checkbox checkbox-inline checkbox-primary">
											<input type="checkbox" id="SendToAll" asp-for="SendToAll">
											<label for="SendToAll"> @localizer["SendToAllPersonnelLabel"] </label>
										</div>
										<div class="checkbox checkbox-inline checkbox-primary">
											<input type="checkbox" id="SendToMatchOnly" asp-for="SendToMatchOnly">
											<label for="SendToMatchOnly"> @localizer["SendToPersonnelSelectedRoleGroupLabel"] </label>
										</div>
										<br /><br />
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4"><select id="groups" name="groups"></select></div>
									<div class="col-xs-4"><select id="roles" name="roles"></select></div>
									<div class="col-xs-4"><select id="users" name="users"></select></div>
								</div>
							</div>
						</div>
						<br />
						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["SubjectLabel"]:</label>
							<div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["SubjectPlaceholder"]" asp-for="Message.Subject"></div>
						</div>


					</div>

					<div class="mail-text h-200">
						<input name="about" type="hidden">
						<input type="hidden" asp-for="Message.Body">
			
						<div id="editor-container" style="width:100%; height: 300px;">
							@Html.Raw(Model.Message.Body)
						</div>
						<div class="clearfix"></div>
					</div>
					<hr />
					<div class="form-group">
						<label class="col-sm-2 control-label">@localizer["TypeLabel"]:</label>
						<div class="col-sm-2">@Html.DropDownListFor(m => m.MessageType, Model.Types)</div>
					</div>
					<div id="expiresBlock" class="form-group" style="display: none;">
						<label class="col-sm-2 control-label">@localizer["ExpiresLabel"]:</label>
						<div class="col-sm-4"><input type="text" class="form-control" onkeydown="javascript:return false;" asp-for="Message.ExpireOn"></div>
					</div>
					<div id="shiftsBlock" class="form-group" style="display: none;">
						<label class="col-sm-2 control-label">@localizer["ExcludeShiftsLabel"]:</label>
						<div class="col-sm-4"><select id="exludedShifts" name="exludedShifts"></select></div>
					</div>

					<div class="mail-body text-right tooltip-demo">
						<button type="submit" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i> @commonLocalizer["Send"]</button>
						<a asp-controller="Messages" asp-action="Inbox" asp-route-area="User" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> @commonLocalizer["Discard"]</a>
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="selectRecipientWindow" id="selectRecipientWindow"></div>

@section Scripts
{
	<script src="~/js/app/internal/messages/resgrid.messages.compose.js"></script>
}
