@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resgrid.Localization.Account.Login> localizer
@{
    ViewData["Title"] = "Resgrid | " + @localizer["RecoveryAccountHeader"];
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @Html.Partial("_StylePartial")
</head>
<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div style="text-align: center;">
                    <a href="@Resgrid.Config.UrlsConfig.HomeUrl"><img src="~/images/Resgrid_JustText.png" style="width: 200px;" /></a>
                </div>
                <div class='alert alert-success'>
                    @localizer["RecoverAccountSuccess"]
                </div>
                <p>
                    <small><a href="@Resgrid.Config.UrlsConfig.HomeUrl">@localizer["GoBack"]</a></small>
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                Resgrid, LLC.
            </div>
            <div class="col-md-6 text-right">
                <small>© @DateTime.Now.Year</small>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            deleteAllCookies();
        });

        function deleteAllCookies() {
            var cookies = document.cookie.split(";");

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                var eqPos = cookie.indexOf("=");
                var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            }
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>
</html>
