@using Resgrid.Model
@model Resgrid.Web.Areas.User.Models.CustomStatuses.EditStatusView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.CustomStatuses.CustomStatuses> localizer
@{
    ViewBag.Title = "Resgrid | " + @localizer["EditEntryHeader"];
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@localizer["EditEntryHeader"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
            </li>
            <li>
                <a asp-controller="CustomStatuses" asp-action="Index" asp-route-area="User">@localizer["CustomStatusesHeader"]</a>
            </li>
            <li class="active">
                <strong>@localizer["EditingSet"] @Model.State.Name</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" id="editCustomStatusesForm" asp-controller="CustomStatuses" asp-action="Edit" asp-route-area="User" method="post">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-md-pull-1">
                                @if (!String.IsNullOrEmpty(Model.Message))
                                {
                                    <div class="alert alert-success">
                                        @Model.Message
                                    </div>
                                }
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.State.CustomStateId)
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                                @if (Model.State.Type == (int)CustomStateTypes.Unit)
                                {
                                    @localizer["UnitStatus"]
                                }
                                else if (Model.State.Type == (int)CustomStateTypes.Personnel)
                                {
                                    @localizer["PersonnelActions"]
                                }
                                else if (Model.State.Type == (int)CustomStateTypes.Staffing)
                                {
                                    @localizer["PersonnelStaffing"]
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@commonLocalizer["Name"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["CustomStatusNamePlaceholder"]" asp-for="State.Name" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@commonLocalizer["Description"]</label>
                            <div class="col-sm-10">
                                <input type="hidden" asp-for="State.Description">

                                <div id="editor-container" style="width:100%; height: 200px;">
                                    @Html.Raw(Model.State.Description)
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-sm-2 control-label">
                                @commonLocalizer["Options"]
                            </label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-xs-10">@localizer["ButtonsHelp"]<br /></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table id="options" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="max-width: 20px; font-size: 14px;">@commonLocalizer["Order"]</th>
                                                    <th style="max-width: 200px; font-size: 14px;">@localizer["ButtonText"]</th>
                                                    <th style="max-width: 350px; font-size: 14px;">@localizer["ButtonPreview"]</th>
                                                    <th style="max-width: 90px; font-size: 16px;"><a id="addButton" class="btn btn-success btn-xs" data-original-title="@localizer["AddOption"]" data-toggle="modal" data-target="#newStatusModal">@localizer["AddOption"]</a></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int count = 0;
                                                }
                                                @foreach (var detail in Model.State.GetActiveDetails())
                                                {
                                                    count++;
                                                    <tr>
                                                        <td><input type='number' min='0' id='order_@count' name='order_@count' value='@detail.Order' onkeypress=' return resgrid.statuses.editstatus.isNumber(event)'></td>
                                                        <td>@detail.ButtonText<input type='hidden' id='buttonText_@count' name='buttonText_@count' value='@detail.ButtonText'></td>
                                                        <td>
                                                            <input type='hidden' id='customStateDetailId_@count' name='customStateDetailId_@count' value='@detail.CustomStateDetailId'>
                                                            <a class="btn btn-default" role="button" style="color: @detail.TextColor; background: @detail.ButtonColor;">@detail.ButtonText</a>
                                                            <input type='hidden' id='buttonColor_@count' name='buttonColor_@count' value='@detail.ButtonColor'>
                                                            <input type='hidden' id='textColor_@count' name='textColor_@count' value='@detail.TextColor'>
                                                            <input type='hidden' id='detailType_@count' name='detailType_@count' value='@detail.DetailType'>
                                                            <input type='hidden' id='noteType_@count' name='noteType_@count' value='@detail.NoteType'>
                                                            <input type='hidden' id='requireGps_@count' name='requireGps_@count' value='@detail.GpsRequired'>
                                                            <input type='hidden' id='baseType_@count' name='baseType_@count' value='@detail.BaseType'>
                                                        </td>
                                                        <td style='text-align: center;'>
                                                            <a class="btn btn-primary btn-xs" href="@Url.Action("EditDetail", "CustomStatuses", new {Area = "User", stateDetailId = detail.CustomStateDetailId})" data-original-title='Edit this option'>@commonLocalizer["Edit"]</a>
                                                            <a class="btn btn-danger btn-xs" onclick='$(this).parent().parent().remove();' data-original-title='Remove this option'>@commonLocalizer["Delete"]</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white" asp-controller="CustomStatuses" asp-action="Index" asp-route-area="User">@commonLocalizer["Cancel"]</a>
                                <button class="btn btn-primary" type="submit">@commonLocalizer["Update"]</button>
                                <a class="btn btn-danger" asp-controller="CustomStatuses" asp-action="Delete" asp-route-area="User" asp-route-id="@Model.State.CustomStateId">@commonLocalizer["Delete"]</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">@localizer["NewOptionHeader"]</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="buttonText" class="control-label">@localizer["ButtonTextLabel"]:</label>
                        <input type="text" class="form-control" id="buttonText">
                    </div>
                    <div class="form-group">
                        <label for="buttonColor" class="control-label">@localizer["ButtonColorLabel"]:</label>
                        <input class="form-control" id="buttonColor">
                    </div>
                    <div class="form-group">
                        <label for="textColor" class="control-label">@localizer["TextColorLabel"]:</label>
                        <input class="form-control" id="textColor">
                    </div>

                    @if (Model.State.Type == (int)CustomStateTypes.Personnel || Model.State.Type == (int)CustomStateTypes.Unit)
                    {
                        <div class="form-group">
                            <label for="baseType" class="control-label">@localizer["BaseType"]:</label>
                            <select id="baseType" name="baseType">
                                <option value="-1">@localizer["None"]</option>
                                <option value="0">@localizer["Available"]</option>
                                <option value="1">@localizer["NotResponding"]</option>
                                <option value="2">@localizer["Responding"]</option>
                                <option value="3">@localizer["OnScene"]</option>
                                <option value="4">@localizer["MadeContact"]</option>
                                <option value="5">@localizer["Investigating"]</option>
                                <option value="6">@localizer["Dispatched"]</option>
                                <option value="7">@localizer["Cleared"]</option>
                                <option value="8">@localizer["Returning"]</option>
                                <option value="9">@localizer["Staging"]</option>
                                <option value="10">@localizer["Unavailable"]</option>
                            </select>
                        </div>
                    }

                    @if (Model.State.Type == (int)CustomStateTypes.Staffing)
                    {
                        <div class="form-group" style="display: none;">
                            <label class="control-label">@localizer["RequireGPSLabel"]:</label>
                            <input id="requireGps" type="checkbox" />
                        </div>
                        <div class="form-group" style="display: none;">
                            <label for="detailType" class="control-label">@localizer["DetailTypeLabel"]:</label>
                            <select id="detailType">
                                <option value="0">@localizer["NoDetail"]</option>
                                <option value="1">@localizer["Stations"]</option>
                                <option value="2">@localizer["Calls"]</option>
                                <option value="3">@localizer["CallsAndStations"]</option>
                            </select>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="control-label">@localizer["RequireGPSLabel"]:</label>
                            <input id="requireGps" type="checkbox" />
                        </div>
                        <div class="form-group">
                            <label for="detailType" class="control-label">@localizer["DetailTypeLabel"]:</label>
                            <select id="detailType">
                                <option value="0">@localizer["NoDetail"]</option>
                                <option value="1">@localizer["Stations"]</option>
                                <option value="2">@localizer["Calls"]</option>
                                <option value="3">@localizer["CallsAndStations"]</option>
                            </select>
                        </div>
                    }
                    <div class="form-group">
                        <label for="noteType" class="control-label">@localizer["NoteTypeLabel"]:</label>
                        <select id="noteType">
                            <option value="0">@localizer["NoNote"]</option>
                            <option value="1">@commonLocalizer["Optional"]</option>
                            <option value="2">@commonLocalizer["Required"]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="noteType" class="control-label">@commonLocalizer["Preview"]:</label>
                        <div style="text-align: center;">
                            <a id="previewButton" class="btn btn-default" role="button" style="color:#ffffff;background: #000000;">@localizer["PreviewButton"]</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@commonLocalizer["Close"]</button>
                <button type="button" class="btn btn-primary" onclick="resgrid.statuses.editstatus.addOption();">@commonLocalizer["Add"]</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/app/internal/statuses/resgrid.statuses.editstatus.js"></script>
    <script>
        resgrid.statuses.editstatus.optionsCount = '@Model.State.GetActiveDetails().Count'
    </script>
}
