@using Resgrid.Model
@model Resgrid.Web.Areas.User.Models.CustomStatuses.EditDetailView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.CustomStatuses.CustomStatuses> localizer
@{
	ViewBag.Title = "Resgrid | " + @localizer["EditCustomStateDetailHeader"];
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>@localizer["EditCustomStateDetailHeader"]</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
			</li>
			<li>
				<a asp-controller="CustomStatuses" asp-action="Index" asp-route-area="User">@commonLocalizer["CustomStatusesHeader"]</a>
			</li>
			<li>
				<a asp-controller="CustomStatuses" asp-action="Edit" asp-route-area="User" asp-route-id="@Model.Detail.CustomStateId.ToString()">@commonLocalizer["Edit"] @Model.Detail.CustomState.Name</a>
			</li>
			<li class="active">
				<strong>@commonLocalizer["Edit"] @Model.Detail.ButtonText Button</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal" role="form" asp-controller="CustomStatuses" asp-action="EditDetail" asp-route-area="User" method="post">

						<div class="row">
							<div class="col-md-10 col-md-offset-1 col-md-pull-1">
								<div asp-validation-summary="All" class="text-danger"></div>
								@Html.AntiForgeryToken()
								@Html.HiddenFor(m => m.Detail.CustomStateDetailId)
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["ButtonText"]</label>
							<div class="col-sm-6"><input type="text" class="form-control" placeholder="Text Inside the Button" asp-for="Detail.ButtonText"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["ButtonBackgroundColorLabel"]</label>
							<div class="col-sm-2"><input type="text" class="form-control" asp-for="Detail.ButtonColor"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["ButtonTextColorLabel"]</label>
							<div class="col-sm-2"><input type="text" class="form-control" asp-for="Detail.TextColor"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">@commonLocalizer["Order"]</label>
							<div class="col-sm-10"><input type="number" min="0" max="999" asp-for="Detail.Order"></div>
						</div>

						@if (Model.Detail.CustomState.Type == (int)CustomStateTypes.Personnel || Model.Detail.CustomState.Type == (int)CustomStateTypes.Unit)
						{
							<div class="form-group">
								<label class="col-sm-2 control-label">@localizer["BaseType"]</label>
								<div class="col-sm-10">@Html.DropDownListFor(m => m.BaseType, Model.DetailTypes)</div>
							</div>
						}

						@if (Model.Detail.CustomState.Type != (int)CustomStateTypes.Staffing)
						{
							<div class="form-group">
								<label class="col-sm-2 control-label">@localizer["RequireGPSLabel"]:</label>
								<div class="col-sm-5">
									@Html.CheckBoxFor(m => m.Detail.GpsRequired)
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">@localizer["DetailTypeLabel"]:</label>
								<div class="col-sm-5">
										@Html.DropDownListFor(m => m.DetailType, Model.DetailTypes)
								</div>
							</div>
						}
						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["NoteTypeLabel"]:</label>
							<div class="col-sm-5">
									@Html.DropDownListFor(m => m.NoteType, Model.NoteTypes)
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">@commonLocalizer["Preview"]:</label>
							<div style="text-align: center;">
								<a id="previewButton" class="btn btn-default" role="button" style="color: @Model.Detail.TextColor; background: @Model.Detail.ButtonColor;">@Model.Detail.ButtonText</a>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<a class="btn btn-white" asp-controller="CustomStatuses" asp-action="Edit" asp-route-area="User" asp-route-id="@Model.Detail.CustomStateId">@commonLocalizer["Cancel"]</a>
								<button class="btn btn-primary" type="submit">@commonLocalizer["Update"]</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script src="~/js/app/internal/statuses/resgrid.statuses.editDetail.js"></script>
}
