<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Complete dispatch solution for first responders, business and industry">
    <meta name="author" content="Resgrid">
    <meta name="keywords" content="dispatch, cad, automated, computer, response, fire, department, volunteer, brigade, cert, search and rescue, sar, ems, emt, fire fighter, firefighter, logistics, personnel, apparatus, unit, security, disaster">
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <title>@ViewData["Title"]</title>
    @await Html.PartialAsync("_StylePartial")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
</head>
<body id="page-top" class="landing-page">

    @RenderBody()

    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-2 col-lg-offset-2">
                    <address>
                        <strong><span class="navy">Resgrid, LLC.</span></strong><br />
                        1802 North Carson Street<br />
                        Suite 157<br />
                        Carson City, NV 89701<br />
                    </address>
                </div>
                <div class="col-lg-4">
                    <p class="text-color text-center">
                        <ul class="list-group text-center" style="list-style: none;">
                            <li><a asp-controller="Home" asp-action="OpenSource" asp-area="">Open Source</a></li>
                            <li><a asp-controller="Home" asp-action="Apps" asp-area="">Mobile Apps</a></li>
                            <li><a href="https://status.resgrid.com">System Status</a></li>
                            <li><a href="https://api.resgrid.com" target="_blank">Api</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-lg-4">
                    <address>
                        <strong><span class="navy">Contact Us</span></strong><br />
                        <a asp-controller="Home" asp-action="Contact" asp-area="">Contact Our Team</a><br />
                        <a href="https://resgrid.freshdesk.com/support/home">Submit Support Ticket</a><br />
                    </address>
                    <p>Subscribe to our newsletter</p>
                    <form onsubmit="return resgrid.public.mailer.addPublicSubscriber($('#newsletter_input').val())" id="newsletter" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- start: Newsletter -->
                                <div class="input-group">
                                    <label class="sr-only" for="newsletter_input">Email address</label>
                                    <input type="email" id="newsletter_input" value="" name="EMAIL" class="form-control" placeholder="email address" />
                                    <span class="input-group-btn">
                                        <input type="submit" id="newsletter_submit" class="btn btn-default" value="Subscribe">
                                    </span>
                                </div>
                                <!-- end: Newsletter -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="m-t-sm">
                        Follow us on social platforms
                    </p>
                    <ul class="list-inline social-icon">
                        <li>
                            <a href="https://twitter.com/Resgrid"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/Resgrid"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/orgs/Resgrid/"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="http://www.linkedin.com/company/resgrid-llc"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://blog.resgrid.com/"><i class="fa fa-feed"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong>&copy; @DateTime.Now.Year Resgrid, LLC</strong><br /> <a asp-controller="Public" asp-action="Privacy">Privacy Policy</a> | <a asp-controller="Public" asp-action="Terms">Terms of Service</a></p>
                </div>
            </div>
        </div>
    </section>

    @await Html.PartialAsync("_ScriptsPartial")

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }
</body>
</html>
