@using Resgrid.Framework;

<div class="row border-bottom" style="height: 50px;">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" style="width: 60%;">
            <div class="hidden-sm hidden-xs" id="top-icons-area">
            </div>

            <div class="hidden-xs hidden-sm" style="float:right; width: 70%; padding-top: 4px;"> 
                <div id="autocomplete"></div>
            </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="btn dropdown" id="menu-department">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="text">@ClaimsAuthorizationHelper.GetDepartmentName().Truncate(45)</span>&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
                    {
                        <li class="@Html.IsSelected(controller: "Department", action: "Settings")"><a asp-controller="Department" asp-action="Settings" asp-route-area="User">@commonLocalizer["DepartmentSettings"]</a></li>
                        <li class="@Html.IsSelected(controller: "Groups", action: "Index")"><a asp-controller="Groups" asp-action="Index" asp-route-area="User">@commonLocalizer["StationAndGroups"]</a></li>
                        <li class="@Html.IsSelected(controller: "Department", action: "CallSettings")"><a asp-controller="Department" asp-action="CallSettings" asp-route-area="User">@commonLocalizer["CallImportSettings"]</a></li>
                        <li class="@Html.IsSelected(controller: "CustomStatuses", action: "Index")"><a asp-controller="CustomStatuses" asp-action="Index" asp-route-area="User">@commonLocalizer["CustomStatuses"]</a></li>
                        <li class="@Html.IsSelected(controller: "Department", action: "TextSettings")"><a asp-controller="Department" asp-action="TextSettings" asp-route-area="User">@commonLocalizer["TextMessaging"]</a></li>
                        <li class="@Html.IsSelected(controller: "Templates", action: "Index")"><a asp-controller="Templates" asp-action="Index" asp-route-area="User">@commonLocalizer["Templates"]</a></li>
                        <li class="@Html.IsSelected(controller: "Protocols", action: "Index")"><a asp-controller="Protocols" asp-action="Index" asp-route-area="User">@commonLocalizer["Protocols"]</a></li>
                        <li class="@Html.IsSelected(controller: "Forms", action: "Index")"><a asp-controller="Forms" asp-action="Index" asp-route-area="User">@commonLocalizer["Forms"]</a></li>
                        <li class="@Html.IsSelected(controller: "Department", action: "Types")"><a asp-controller="Department" asp-action="Types" asp-route-area="User">@commonLocalizer["Types"]</a></li>
                        <li class="@Html.IsSelected(controller: "DistributionLists", action: "Index")"><a asp-controller="DistributionLists" asp-action="Index" asp-route-area="User">@commonLocalizer["DistributionLists"]</a></li>
                        <li class="@Html.IsSelected(controller: "Security", action: "Index")"><a asp-controller="Security" asp-action="Index" asp-route-area="User">@commonLocalizer["SecurityAndPermissions"]</a></li>
                        <li class="@Html.IsSelected(controller: "Subscription", action: "Index")"><a asp-controller="Subscription" asp-action="Index" asp-route-area="User">@commonLocalizer["SubAndBilling"]</a></li>
                        <li class="divider"></li>
                    }
                    @*<li class="@Html.IsSelected(controller: "Connect", action: "Index")"><a asp-controller="Connect" asp-action="Index" asp-route-area="User">@commonLocalizer["Connect"]</a></li>*@
                    <li class="@Html.IsSelected(controller: "Voice", action: "Index")"><a asp-controller="Voice" asp-action="Index" asp-route-area="User">@commonLocalizer["AudioPushToTalk"]</a></li>
                    @*<li class="@Html.IsSelected(controller: "Orders", action: "Index")"><a asp-controller="Orders" asp-action="Index" asp-route-area="User">@commonLocalizer["Orders"]</a></li>*@
                    <li class="@Html.IsSelected(controller: "Links", action: "Index")"><a asp-controller="Links" asp-action="Index" asp-route-area="User">@commonLocalizer["Links"]</a></li>
                    <li class="@Html.IsSelected(controller: "Notifications", action: "Index")"><a asp-controller="Notifications" asp-action="Index" asp-route-area="User">@commonLocalizer["Notifications"]</a></li>
                    @*<li class="@Html.IsSelected(controller: "Command", action: "Index")"><a asp-controller="Command" asp-action="Index" asp-route-area="User">@commonLocalizer["Commands"]</a></li>*@
                    <li><a href="https://bigboard.resgrid.com" target="_blank">@commonLocalizer["BigBoard"]</a></li>
                </ul>
            </li>
            <li class="btn dropdown" id="menu-help">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="text">@commonLocalizer["Help"]</span>&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@Resgrid.Config.SystemBehaviorConfig.HelpAndSupportUrl" target="_blank">@commonLocalizer["HelpAndSupport"]</a></li>
                    @*<li><a href="https://resgrid.wistia.com/projects/9irn4g1q8c" target="_blank">@commonLocalizer["Videos"]</a></li>*@
                    <li><a href="@Resgrid.Config.SystemBehaviorConfig.BlogUrl" target="_blank">@commonLocalizer["Blog"]</a></li>
                    <li><a href="@Resgrid.Config.UrlsConfig.SystemStatusPageUrl" target="_blank">@commonLocalizer["StatusPage"]</a></li>
                    <li><a href="@Resgrid.Config.SystemBehaviorConfig.ContactUsUrl" target="_blank">@commonLocalizer["ContactUs"]</a></li>
                </ul>
            </li>
            <li>
                <form id="setLanguageForm" asp-controller="Account" asp-action="SetLanugage" asp-route-area="" method="post">
                    <input type="hidden" id="culture" name="culture" value="" />
                    <input type="hidden" id="returnUrl" name="returnUrl" value="" />
                    <div class="dropdown">
                        <a href="#" id="languageDropdown" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                            <img id="languageDropdownCurrentLang" src="/images/flags/32/United-States.png" width="32" height="32">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li class="dropdown-item">
                                <a href="#" class="langDropdownSelection" data-locale="en"><img src="/images/flags/32/United-States.png" width="32" height="32"> English</a>
                            </li>
                            <li class="dropdown-item langDropdownSelection">
                                <a href="#" class="langDropdownSelection" data-locale="es"><img src="/images/flags/32/Mexico.png" width="32" height="32"> Spanish</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </li>
            <li>
                <a asp-controller="Account" asp-action="LogOff" asp-route-area="">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
