@model Resgrid.Web.Areas.User.Models.Profile.NewStaffingLevelView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Profile.Profile> localizer
@{
  ViewBag.Title = "Resgrid | " + @localizer["NewStaffingScheduleHeader"];
}

@section Styles
{
  <style>
	.k-select {
	line-height: 1.5em !important;
	}
  </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>@localizer["NewStaffingScheduleHeader"]</h2>
    <ol class="breadcrumb">
      <li>
        <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
      </li>
      <li>
        <a asp-controller="Home" asp-action="EditUserProfile" asp-route-area="User" asp-route-userId="@ClaimsAuthorizationHelper.GetUserId()">@localizer["EditProfile"]</a>
      </li>
      <li>
        <a asp-controller="Profile" asp-action="ViewSchedules" asp-route-area="User" asp-route-userId="@ClaimsAuthorizationHelper.GetUserId()">@localizer["StaffingSchedule"]</a>
      </li>
      <li class="active">
        <strong>@localizer["NewStaffingScheduleHeader"]</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form id="edit_user" class="form-horizontal" role="form" asp-controller="Profile" asp-action="AddNewStaffingSchedule" asp-route-area="User" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.UserId)
            @if (!String.IsNullOrEmpty(Model.Message))
			{
              <div class="alert alert-success">
                @Model.Message
              </div>
			}

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">@commonLocalizer["Priority"]</label>
              <div class="col-sm-10">
                @Html.DropDownListFor(m => m.SpecificDatetime, new SelectList(
					new List<Object>{
						new { value = true, text = @localizer["SpecificDate"]  },
						new { value = false, text = @localizer["DaysOfWeek"] }
					},
					"value",
					"text"
					), new { @style = "width: 140px;" })
              </div>
            </div>

            <div class="form-group" id="specificdatetimearea">
              <label class="col-sm-2 control-label">@localizer["SpecificDateTime"]</label>
              <div class="col-sm-10"><input type="text" asp-for="SpecifcDate" id="SpecifcDateTime" onkeydown="javascript:return false;"></div>
            </div>


            <div class="form-group" id="daysoftheweekarea">
              <label class="col-sm-2 control-label">
                @localizer["DaysOfWeek"]
              </label>
              <div class="col-sm-10" style="float: left; text-align: left;">
                <div class="form-group">
                  <label class="col-sm-1 control-label">@commonLocalizer["Sunday"]</label>
                  <div class="col-sm-8">
                    <div class="switch">
                      <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" asp-for="Sunday">
                        <label class="onoffswitch-label" for="Sunday">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-1 control-label">@commonLocalizer["Monday"]</label>
                  <div class="col-sm-8">
                    <div class="switch">
                      <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" asp-for="Monday">
                        <label class="onoffswitch-label" for="Monday">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-1 control-label">@commonLocalizer["Tuesday"]</label>
                  <div class="col-sm-8">
                    <div class="switch">
                      <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" asp-for="Tuesday">
                        <label class="onoffswitch-label" for="Tuesday">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-1 control-label">@commonLocalizer["Wednesday"]</label>
                  <div class="col-sm-8">
                    <div class="switch">
                      <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" asp-for="Wednesday">
                        <label class="onoffswitch-label" for="Wednesday">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-1 control-label">@commonLocalizer["Thursday"]</label>
                  <div class="col-sm-8">
                    <div class="switch">
                      <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" asp-for="Thursday">
                        <label class="onoffswitch-label" for="Thursday">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-1 control-label">@commonLocalizer["Friday"]</label>
                  <div class="col-sm-8">
                    <div class="switch">
                      <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" asp-for="Friday">
                        <label class="onoffswitch-label" for="Friday">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-1 control-label">@commonLocalizer["Saturday"]</label>
                  <div class="col-sm-8">
                    <div class="switch">
                      <div class="onoffswitch">
                        <input type="checkbox" class="onoffswitch-checkbox" asp-for="Saturday">
                        <label class="onoffswitch-label" for="Saturday">
                          <span class="onoffswitch-inner"></span>
                          <span class="onoffswitch-switch"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="daysoftheweekarea_time">
              <label class="col-sm-2 control-label">@localizer["TimeToRun"]</label>
              <div class="col-sm-10"><input type="text" asp-for="Time" id="DayOfWeekTime" onkeydown="javascript:return false;"></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                @localizer["ChangeStaffingTo"]
              </label>
              <div class="col-sm-10">
                @Html.DropDownListFor(m => m.StaffingLevel, Model.StaffingLevels, new { })
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a class="btn btn-white" asp-controller="Profile" asp-action="ViewSchedules" asp-route-area="User" asp-route-userId="@ClaimsAuthorizationHelper.GetUserId()">@commonLocalizer["Cancel"]</a>
                <button class="btn btn-primary" type="submit">@commonLocalizer["Save"]</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
  <script src="~/js/app/internal/profile/resgrid.profile.addstaffingschedule.js"></script>
}
