
@using Resgrid.Model
@using Resgrid.Model.Helpers
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Profile.CertificationsView
@{
	ViewBag.Title = "Resgrid | Certifications";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>
			@if (Model.Self)
			{
				<h1>Certifications</h1>
			}
			else
			{
				<h1>@Model.Name's Certifications</h1>
			}
		</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
			</li>
			<li>
				<a asp-controller="Home" asp-action="EditUserProfile" asp-route-area="User" asp-route-userId="@ClaimsAuthorizationHelper.GetUserId()">Edit Profile</a>
			</li>
			<li class="active">
				<strong>Certifications</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Certifications</h5>
					<div class="ibox-tools">
						<div class="buttons-actions">
							@if (Model.Self)
							{
								<a title="Add a new scheduled report" class="btn btn-success" asp-controller="Profile" asp-action="AddCertification" asp-route-area="User">Add Certification</a>
							}
							else
							{
								<a title="Add a new scheduled report" class="btn btn-success" asp-controller="Profile" asp-action="AddCertification" asp-route-area="User" asp-route-userId="@Model.UserId">Add Certification</a>
							}
						</div>
					</div>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>
										Name
									</th>
									<th>
										Number
									</th>
									<th>
										Type
									</th>
									<th>
										Expires On
									</th>
									<th>
										Status
									</th>
									<th class="span1">
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var g in Model.Certifications)
								{
									<tr>
										<td>
											@g.Name
										</td>
										<td>
											@g.Number
										</td>
										<td>
											@g.Type
										</td>
										<td>
											@if (g.ExpiresOn.HasValue)
											{
												@g.ExpiresOn.Value.ToShortDateString()
											}
											else
											{
												<span>Never</span>
											}
										</td>
										<td>
											@if (g.ExpiresOn.HasValue && g.ExpiresOn.Value <= DateTime.UtcNow.TimeConverter(Model.Department))
											{
												<span class="label label-danger">Expired</span>
											}
											else
											{
												<span class="label label-success">Valid</span>
											}
										</td>
										<td>
											<a class="btn btn-xs btn-danger" asp-controller="Profile" asp-action="DeleteCertification" asp-route-area="User" asp-route-certId="@g.PersonnelCertificationId" data-confirm="WARNING: This will permanently delete this certification. Are you sure you want to delete the certification?" rel="nofollow">Delete</a>
											<a class="btn btn-xs btn-primary" asp-controller="Profile" asp-action="EditCertification" asp-route-area="User" asp-route-certId="@g.PersonnelCertificationId">Edit</a>

											@if (g.Data != null)
											{
												<a class="btn btn-xs btn-success" asp-controller="Profile" asp-action="GetCertificationData" asp-route-area="User" asp-route-certId="@g.PersonnelCertificationId">Download</a>
											}
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{

}