@model Resgrid.Web.Areas.User.Models.Profile.EditCertificationView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Profile.Profile> localizer
@{
    ViewBag.Title = "Resgrid | " + @localizer["EditCertificationsHeader"];
}

@section Styles
    {

}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>@localizer["EditCertificationsHeader"]</h2>
            <ol class="breadcrumb">
                <li>
                    <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="EditUserProfile" asp-route-area="User" asp-route-userId="@ClaimsAuthorizationHelper.GetUserId()">@localizer["EditProfile"]</a>
                </li>
                <li>
                    <a asp-controller="Profile" asp-action="Certifications" asp-route-area="User" asp-route-userId="@ClaimsAuthorizationHelper.GetUserId()">@localizer["CertificationsHeader"]</a>
                </li>
                <li class="active">
                    <strong>@localizer["EditCertificationsHeader"]</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper wrapper-content">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form id="edit_user" class="form-horizontal" role="form" asp-controller="Profile" asp-action="EditCertification" asp-route-area="User" method="post">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.CertificationId)
                            @if (!String.IsNullOrEmpty(Model.Message))
                        {
                            <div class="alert alert-success">
                                @Model.Message
                            </div>
                        }

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label"></label>
                            <div class="col-sm-10">
                                <p>@localizer["EditCertificationInfo"]</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">@commonLocalizer["Name"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["CertificationNamePlaceholder"]" asp-for="Name"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@commonLocalizer["Type"]</label>
                            <div class="col-sm-10"><select asp-for="Type" asp-items="Model.CertificationTypes" style="padding-left: 0; width: 70%;"></select></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["CertificationId"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["CertificationIdPlaceholder"]" asp-for="Number"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["ValidAreaLabel"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["ValidAreaPlaceholder"]" asp-for="Area"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["IssuedByLabel"]</label>
                            <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["IssuedByPlaceholder"]" asp-for="IssuedBy"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["IssuedOnLabel"]</label>
                            <div class="col-sm-10"><input type="text" asp-for="RecievedOn"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["ExpiresOnLabel"]</label>
                            <div class="col-sm-10"><input type="text" asp-for="ExpiresOn"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@commonLocalizer["Attachment"]</label>
                            <div class="col-sm-10">
                                <input name="fileToUpload" id="fileToUpload" type="file" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white" asp-controller="Profile" asp-action="Certifications" asp-route-area="User" asp-route-userId="@ClaimsAuthorizationHelper.GetUserId()">@commonLocalizer["Cancel"]</a>
                                <button class="btn btn-primary" type="submit">@commonLocalizer["Update"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/app/internal/profile/resgrid.profile.editcertification.js" type="text/javascript"></script>
}
