@model Resgrid.Web.Areas.User.Models.Profile.ResetPasswordForUserView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Profile.Profile> localizer
@{
    ViewBag.Title = "Resgrid | " + @localizer["ChangePasswordHeader"];
}

@section Styles
  {
<style>
    .k-select {
        line-height: 1.5em !important;
    }
</style>

<link rel="stylesheet" href="~/clib/validate-password-requirements/jquery.passwordRequirements.css" />
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@localizer["ChangePasswordHeader"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
            </li>
            <li>
                <a asp-controller="Personnel" asp-action="Index" asp-route-area="User">@commonLocalizer["PersonnelModule"]</a>
            </li>
            <li class="active">
                <strong>@localizer["ChangePasswordHeader"]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" asp-controller="Profile" asp-action="ResetPasswordForUser" asp-route-area="User" method="post">
                        <div class="form-group">
                            <div class="col-sm-12">@Html.Raw(@localizer["ChangePasswordInfo"])</div>
                            @if (!String.IsNullOrEmpty(Model.Message))
                            {
                                <div class="alert alert-success">
                                    @Model.Message
                                </div>
                            }
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.UserId)
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@commonLocalizer["Name"]</label>
                            <div class="col-sm-10">@Model.Name</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@commonLocalizer["Email"]</label>
                            <div class="col-sm-10">@Model.Email</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@commonLocalizer["Username"]</label>
                            <div class="col-sm-10">@Model.Username</div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">@localizer["NewPassword"]</label>
                            <div class="col-sm-10">
                                <input type="password" class="pr-password form-control" placeholder="@localizer["NewPasswordPlaceholder"]" asp-for="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <span class="help-block m-b-none">@localizer["NewPasswordReq"]</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label required">@localizer["ConfirmPassword"]</label>
                            <div class="col-sm-10">
                                <input type="password" class="pr-password form-control" placeholder="@localizer["ConfirmPasswordPlaceholder"]" asp-for="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["EmailUser"]</label>
                            <div class="col-sm-10">
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" class="checkbox checkbox-primary" asp-for="EmailUser">
                                    <label></label>
                                </div>
                                <span class="help-block m-b-none">@localizer["EmailUserInfo"]</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white" asp-controller="Personnel" asp-action="Index" asp-route-area="User">@commonLocalizer["Cancel"]</a>
                                <button class="btn btn-primary" type="submit">@localizer["ChangePassword"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
  {
<script src="~/clib/validate-password-requirements/jquery.passwordRequirements.min.js"></script>

<script>
    $(document).ready(function () {
        $(".pr-password").passwordRequirements({
          numCharacters: 8,
          useLowercase: true,
          useUppercase: true,
          useNumbers: true,
          useSpecial: false
        });

      $(document).on('submit', '#registrationForm', function () {
        var crep = $('#g-recaptcha-response').val();
        $('#GoogleReCaptchaResponse').val(crep);

        if ($(this).valid()) {
          // On submit disable form submit button
          $('#registerButton').prop('disabled', true);
        }

        return true;
      });
    });
</script>
}
