@model Resgrid.Web.Areas.User.Models.Profile.ResetPasswordForUserView
@{
	ViewBag.Title = "Resgrid | Change Password For User";
}

@section Styles
{
	<style>
		.k-select {
			line-height: 1.5em !important;
		}
	</style>
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Change Password</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
			</li>
			<li>
				<a asp-controller="Personnel" asp-action="Dashboard" asp-route-area="User">Personnel</a>
			</li>
			<li class="active">
				<strong>Change Password For User</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal" asp-controller="Profile" asp-action="ResetPasswordForUser" asp-route-area="User" method="post">
						<div class="form-group">
							<div class="col-sm-12">Here you can manually change the password for a user in the system. Enter in the new password and confirm it to change it. Passwords must be at least 6 characters in length. Note that Resgrid will not notify the user of this password change. Fields in <span class="required">blue italics</span> are required.</div>
							@if (!String.IsNullOrEmpty(Model.Message))
							{
								<div class="alert alert-success">
									@Model.Message
								</div>
							}
							@Html.AntiForgeryToken()
							@Html.HiddenFor(m => m.UserId)
							<div asp-validation-summary="All" class="text-danger"></div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">@Model.Name</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">@Model.Email</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">UserName</label>
							<div class="col-sm-10">@Model.Username</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">New Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" placeholder="New Passowrd for this User" asp-for="Password">
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Confirm Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" placeholder="Confirm the Passowrd for this User" asp-for="ConfirmPassword">
								<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Email User?</label>
							<div class="col-sm-10">
								<div class="checkbox checkbox-primary">
									<input type="checkbox" class="checkbox checkbox-primary" asp-for="EmailUser">
									<label></label>
								</div>
								<span class="help-block m-b-none">Check this box if you want the user Emailed with their UserName and new Password.</span>
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<a class="btn btn-white" asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Cancel</a>
								<button class="btn btn-primary" type="submit">Change Password</button>
							</div>
						</div>
					</form>
			</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{

}