@using Resgrid.Model
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.EditProfileModel
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Profile.Profile> localizer
@{
	ViewBag.Title = "Resgrid | " + @localizer["StaffingSchedulesHeader"];
}


<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>
			@if (Model.Self)
			{
				<h1>@localizer["StaffingSchedulesHeader"]</h1>
			}
			else
			{
				<h1>@Model.Name's @localizer["StaffingSchedulesHeader"]</h1>
			}
		</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
			</li>
			<li>
				<a asp-controller="Home" asp-action="EditUserProfile" asp-route-area="User" asp-route-userId="@ClaimsAuthorizationHelper.GetUserId()">@localizer["EditProfile"]</a>
			</li>
			<li class="active">
				<strong>@localizer["StaffingSchedulesHeader"]</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Schedules</h5>
					<div class="ibox-tools">
						<div class="buttons-actions">
							@if (Model.Self)
							{
								<a title="Add a new scheduled report" class="btn btn-success" asp-controller="Profile" asp-action="AddNewStaffingSchedule" asp-route-area="User">@localizer["AddStaffingSchedule"]</a>
							}
							else
							{
								<a title="Add a new scheduled report" class="btn btn-success" asp-controller="Profile" asp-action="AddNewStaffingSchedule" asp-route-area="User" asp-route-userId="@Model.User.UserId">@localizer["AddStaffingSchedule"]</a>
							}
						</div>
					</div>
				</div>
				<div class="ibox-content">
					<div id="staffingScheduleGrid"></div>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts
{
	<script id="command-template" type="text/x-kendo-template">
		# if(IsActive == 1) { #
		<a style="text-decoration:none;" class="k-button k-grid-Edit" href="@Url.Action("EditStaffingSchedule","Profile", new {Area = "User"})?scheduleId=#=ScheduleId#">@commonLocalizer["Edit"]</a>
		<a style="text-decoration:none;" class="k-button k-grid-Edit" onclick="resgrid.profile.schedule.deactivateSchedule(#=ScheduleId#);">@commonLocalizer["Deactivate"]</a>
		<a style="text-decoration:none;" class="k-button k-grid-Delete" onclick="resgrid.profile.schedule.deleteSchedule(#=ScheduleId#);">@commonLocalizer["Delete"]</a>
		# } else { #
		<a style="text-decoration:none;" class="k-button k-grid-Edit" href="@Url.Action("EditStaffingSchedule","Profile", new {Area = "User"})?scheduleId=#=ScheduleId#">@commonLocalizer["Edit"]</a>
		<a style="text-decoration:none;" class="k-button k-grid-Edit" onclick="resgrid.profile.schedule.activateSchedule(#=ScheduleId#);">@commonLocalizer["Activate"]</a>
		<a style="text-decoration:none;" class="k-button k-grid-Delete" onclick="resgrid.profile.schedule.deleteSchedule(#=ScheduleId#);">@commonLocalizer["Delete"]</a>
		# } #
	</script>

	<script src="~/js/app/internal/profile/resgrid.profile.schedule.js" type="text/javascript"></script>

	<script>
		var userId = '@Model.User.UserId';
	</script>
}
