@using Resgrid.Model
@using Resgrid.Web.Helpers
@using System.Text;
@model Resgrid.Web.Areas.User.Models.Profile.YourDepartmentsView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Profile.Profile> localizer
@{
  ViewBag.Title = "Resgrid | " + @localizer["YourDepartmentsHeader"];
}


<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>
      <h1>@localizer["YourDepartmentsHeader"]</h1>
    </h2>
    <ol class="breadcrumb">
      <li>
        <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
      </li>
      <li class="active">
        <strong>@localizer["YourDepartmentsHeader"]</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
      <a title="Join Department" class="btn btn-success" href="#joinDepartmentModal" data-toggle="modal">@localizer["JoinDepartment"]</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>@commonLocalizer["Department"]</th>
                  <th>@commonLocalizer["Active"]</th>
                  <th>@commonLocalizer["Default"]</th>
                  <th>@commonLocalizer["Status"]</th>
                  <th>@commonLocalizer["Options"]</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var m in Model.Members)
				{
                  <tr>
                    <td>
                      @m.Department.Name
                    </td>
                    <td>
                      @m.IsActive
                    </td>
                    <td style="max-width: 350px; overflow: hidden;">
                      @m.IsDefault
                    </td>
                    <td>
                      @{
						var sb = new StringBuilder();

						if (m.IsAdmin.HasValue && m.IsAdmin.Value || m.Department.ManagingUserId == Model.UserId)
						{
						  sb.Append("Admin");
						}
						else
						{
						  sb.Append("Normal");
						}

						if (m.IsDisabled.HasValue && m.IsDisabled.Value)
						{
						  sb.Append(sb.Length > 0 ? ", Disabled" : "Disabled");
						}

						if (m.IsHidden.HasValue && m.IsHidden.Value)
						{
						  sb.Append(sb.Length > 0 ? ", Hidden" : "Hidden");
						}
                      }

                      @sb.ToString()
                    </td>
                    <td class="center">
                      @if (!m.IsActive)
					  {
                        <a asp-controller="Profile" onclick="resgrid.profile.yourDepartments.switchActiveDepartment(@m.DepartmentId)" class="btn btn-xs btn-success" data-confirm="@localizer["SetAsActiveWarning"]" rel="nofollow">@localizer["SetAsActive"]</a>
					  }

                      @if (!m.IsDefault)
					  {
                        <a asp-controller="Profile" asp-action="SetDefaultDepartment" asp-route-area="User" asp-route-departmentId="@m.DepartmentId"  class="btn btn-xs btn-info" data-confirm="@localizer["SetAsDefaultWarning"]" rel="nofollow">@localizer["SetAsDefault"]</a>
					  }

                      @if (m.Department.ManagingUserId != Model.UserId && Model.Members.Count > 1)
					  {
                        <a asp-controller="Profile" asp-action="DeleteDepartmentLink" asp-route-area="User" asp-route-departmentId="@m.DepartmentId" class="btn btn-xs btn-danger" data-confirm="@localizer["RemoveFromDepartmentWarning"]" rel="nofollow">@localizer["RemoveYourself"]</a>
					  }
                    </td>
                  </tr>
				}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="joinDepartmentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">@localizer["JoinDepartmentHeader"]</h4>
      </div>
      @using (Html.BeginForm("JoinDepartment", "Profile", FormMethod.Post, new { area = "User", id = "joinDepartmentForm", @class = "form-horizontal" }))
	  {
        <div class="modal-body">
          <span>
            @localizer["JoinDepartmentInfo"]
          </span>
          <div class="alert alert-danger" role="alert" id="errorMessage" style="display: none;">

          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="control-label">
                @localizer["DepartmentId"]
              </label>
              <div class="controls">
                <input type="text" id="deparmentId" name="deparmentId" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">
                @localizer["DepartmentCode"]
              </label>
              <div class="controls">
                <input type="text" id="departmentCode" name="departmentCode" class="form-control" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="@Url.Action("YourDepartments", "Profile", new { area = "User" })" class="btn">@commonLocalizer["Close"]</a>
            <input class="btn btn-primary" id="submit-button" name="commit" type="submit" value="@localizer["JoinDepartment"]" />
          </div>
        </div>
	  }
    </div>
  </div>
</div>

@section Scripts
  {
  <script src="~/js/app/internal/profile/resgrid.profile.yourdepartments.js"></script>
}
