@using Resgrid.Model
@using Resgrid.Web.Helpers
@model Resgrid.WebCore.Areas.User.Models.Forms.FormIndexModel
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Forms.Forms> localizer
@{
  ViewBag.Title = "Resgrid | " + localizer["PageTitle"];
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>@localizer["FormsHeading"]</h2>
    <ol class="breadcrumb">
      <li>
        <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
      </li>
      <li class="active">
        <strong>@localizer["FormsHeading"]</strong>
      </li>
    </ol>
  </div>
  @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
  {
    <div class="col-sm-8">
      <div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
        <a title="@localizer["NewFormButton"]" class="btn btn-success" asp-controller="Forms" asp-action="New" asp-route-area="User">@localizer["NewFormButton"]</a>
      </div>
    </div>
  }
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    @commonLocalizer["Name"]
                  </th>
                  <th>
                    @commonLocalizer["Type"]
                  </th>
                  <th>
                    @localizer["ActiveColumn"]
                  </th>
                  <th>
                    @commonLocalizer["CreatedOn"]
                  </th>
                  <th>
                    @commonLocalizer["Action"]
                  </th>
                </tr>
              </thead>
              <tbody>
                @foreach (var t in Model.Forms)
				{
                  <tr>
                    <td>
                      @t.Name
                    </td>
                    <td>
                      @if (t.Type == 0)
					  {
                        <span>@localizer["NewCallFormType"]</span>
					  }
                    </td>
                    <td>
                      @if (t.IsActive)
					  {
                        <span>@commonLocalizer["Yes"]</span>
					  }
					  else
					  {
                        <span>@commonLocalizer["No"]</span>
					  }
                    </td>
                    <td>
                      @Html.Raw(t.CreatedOn.ToShortDateString())
                    </td>
                    <td>
                      <a href="@Url.Action("View", "Forms", new { area = "User", id = t.FormId })" class='btn btn-xs btn-info'>
                        <i class="icon-eye-open">
                        </i> @localizer["ViewButton"]
                      </a>
                      @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
					  {
						if (t.IsActive)
						{
                          <a href="@Url.Action("Disable", "Forms", new { area = "User", id = t.FormId })" class='btn btn-xs btn-warning' rel="nofollow">@localizer["DisableButton"]</a>
						}
						else
						{
                          <a href="@Url.Action("Enable", "Forms", new { area = "User", id = t.FormId })" class='btn btn-xs btn-success' rel="nofollow">@localizer["EnableButton"]</a>
						}
                        <a href="@Url.Action("Delete", "Forms", new { area = "User", id = t.FormId })" class='btn btn-xs btn-danger' data-confirm="@localizer["DeleteFormWarning"] @t.Name ?" rel="nofollow">@commonLocalizer["Delete"]</a>
					  }
                    </td>
                  </tr>
				}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-warning">
      @localizer["OneActiveFormWarning"]
    </div>
  </div>
</div>

@section Scripts
{

}
