@using Resgrid.Web.Areas.User.Models
@model Resgrid.Web.Areas.User.Models.AddPersonModel
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Personnel.Person> localizer
@{
  ViewBag.Title = "Resgrid | " + @localizer["AddPersonHeader"];
}

@section Styles
{
    <link rel="stylesheet" href="~/clib/validate-password-requirements/jquery.passwordRequirements.css" />
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>@localizer["AddPersonHeader"]</h2>
    <ol class="breadcrumb">
      <li>
        <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
      </li>
      <li>
        <a asp-controller="Personnel" asp-action="Index" asp-route-area="User">@commonLocalizer["PersonnelModule"]</a>
      </li>
      <li class="active">
        <strong>@localizer["AddPersonHeader"]</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form class="form-horizontal" role="form" asp-controller="Personnel" asp-action="AddPerson" asp-route-area="User" method="post">

            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>

            <h3>
              @localizer["AccountInformationHeader"]
            </h3>
            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["UsernameLabel"]</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Username" autocomplete="off">
                <span class="help-block m-b-none">@localizer["UsernameHelp"]</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["NewPasswordLabel"]</label>
              <div class="col-sm-10">
                <input type="password" class="form-control pr-password" asp-for="NewPassword" autocomplete="off">
                <span class="help-block m-b-none">@localizer["NewPasswordHelp"]</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["ConfirmPasswordLabel"]</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" asp-for="ConfirmPassword" autocomplete="off">
                <span class="help-block m-b-none">@localizer["ConfirmPasswordHelp"]</span>
              </div>
            </div>

            <h3>
              @localizer["UserDetailHeader"]
            </h3>
            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["IDNumberLabel"]</label>
              <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["IDNumberPlaceholder"]" asp-for="Profile.IdentificationNumber"></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["FirstNameLabel"]</label>
              <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["FirstNamePlaceholder"]" asp-for="FirstName"></div>
            </div>
		    <div class="form-group">
		      <label class="col-sm-2 control-label">@localizer["LastNameLabel"]</label>
		      <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["LastNamePlaceholder"]" asp-for="LastName"></div>
		    </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["EmailAddressLabel"]</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" placeholder="@localizer["EmailAddressPlaceholder"]" asp-for="Email">
                <span class="help-block m-b-none">@localizer["EmailAddressHelp"]</span>
              </div>
            </div>
            <h3>
              Group Details
            </h3>
            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["GroupLabel"]</label>
              <div class="col-sm-10"><select asp-for="UserGroup" asp-items="Model.Groups" style="padding-left: 0; width: 100%;"></select></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["IsGroupAdminLabel"]</label>
              <div class="col-sm-10">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" class="checkbox checkbox-primary" asp-for="IsUserGroupAdmin">
                  <label></label>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["RolesLabel"]</label>
              <div class="col-sm-10"><select id="roles" name="roles"></select></div>
            </div>
            <div class="hr-line-dashed"></div>

            <h3>
              @localizer["ContactDetailsHeader"]
            </h3>
            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["MobileNumberLabel"]</label>
              <div class="col-sm-10"><input type="text" class="form-control" placeholder="@localizer["MobileNumberPlaceholder"]" asp-for="Profile.MobileNumber"></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["MobileCarrierLabel"]</label>
              <div class="col-sm-10"><select asp-for="Carrier" asp-items="ViewBag.Carriers" style="padding-left: 0; width: 100%;"></select></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["CallOptionsLabel"]</label>
              <div class="col-sm-10">
                <div class="checkbox checkbox-primary checkbox-inline">
                  <input type="checkbox" asp-for="Profile.SendEmail">
                  <label for="inlineCheckbox1"> @commonLocalizer["Email"] </label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                  <input type="checkbox" asp-for="Profile.SendSms">
                  <label for="inlineCheckbox2"> @commonLocalizer["Text"] </label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                  <input type="checkbox" asp-for="Profile.SendPush">
                  <label for="inlineCheckbox3"> @commonLocalizer["Push"] </label>
                </div>
                <p class="help-block"><strong>@commonLocalizer["Note"]:</strong> @localizer["TextWarning"]</p>
              </div>
            </div>
            <div class="control-group" id="user_message_options_input">
              <label class="col-sm-2 control-label">@localizer["MessageOptionsLabel"]</label>
              <div class="col-sm-10">
                <div class="checkbox checkbox-primary checkbox-inline">
                  <input type="checkbox" asp-for="Profile.SendMessageEmail">
                  <label for="inlineCheckbox1"> @commonLocalizer["Email"] </label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                  <input type="checkbox" asp-for="Profile.SendMessageSms">
                  <label for="inlineCheckbox2"> @commonLocalizer["Text"] </label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                  <input type="checkbox" asp-for="Profile.SendMessagePush">
                  <label for="inlineCheckbox3"> @commonLocalizer["Push"] </label>
                </div>
                <p class="help-block"><strong>@commonLocalizer["Note"]:</strong> @localizer["TextWarning"]</p>
              </div>
            </div>
            <div id="notificationOptionsSection" class="form-group">
              <label class="col-sm-2 control-label">@localizer["NotificationOptionsLabel"]</label>
              <div class="col-sm-10">
                <div class="checkbox checkbox-primary checkbox-inline">
                  <input type="checkbox" asp-for="Profile.SendNotificationEmail">
                  <label for="inlineCheckbox1"> @commonLocalizer["Email"] </label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                  <input type="checkbox" asp-for="Profile.SendNotificationSms">
                  <label for="inlineCheckbox2"> @commonLocalizer["Text"] </label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                  <input type="checkbox" asp-for="Profile.SendNotificationPush">
                  <label for="inlineCheckbox3"> @commonLocalizer["Push"] </label>
                </div>
                <p class="help-block"><strong>@commonLocalizer["Note"]:</strong> @localizer["TextWarning"]</p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">@localizer["NotifyUser"]</label>
              <div class="col-sm-10">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" class="checkbox checkbox-primary" asp-for="SendAccountCreationNotification">
                  <label></label>
                </div>
                <p class="help-block"><strong>@commonLocalizer["Note"]:</strong> @localizer["NotifyWarning"]</p>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a class="btn btn-white" asp-controller="Personnel" asp-action="Index" asp-route-area="User">@commonLocalizer["Cancel"]</a>
                <button class="btn btn-primary" type="submit">@localizer["AddPersonHeader"]</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts
  {
  <script>
		var isUserGroupAdmin = '@Model.IsUserGroupAdmin';
  </script>
  <script src="~/js/app/internal/personnel/resgrid.personnel.addperson.js" type="text/javascript"></script>
  <script src="~/clib/validate-password-requirements/jquery.passwordRequirements.min.js"></script>

  <script>
            $(document).ready(function () {
                $(".pr-password").passwordRequirements({
                  numCharacters: 8,
                  useLowercase: true,
                  useUppercase: true,
                  useNumbers: true,
                  useSpecial: false
                });

              $(document).on('submit', '#registrationForm', function () {
                var crep = $('#g-recaptcha-response').val();
                $('#GoogleReCaptchaResponse').val(crep);

                if ($(this).valid()) {
                  // On submit disable form submit button
                  $('#registerButton').prop('disabled', true);
                }

                return true;
              });
            });
    </script>
}
