@model Resgrid.Web.Areas.User.Models.DeletePersonModel
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Personnel.Person> localizer
@{
		ViewBag.Title = "Resgrid | " + @localizer["DeletePersonHeader"];
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>@localizer["DeletePersonHeader"]</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
			</li>
			<li>
				<a asp-controller="Personnel" asp-action="Index" asp-route-area="User">@commonLocalizer["PersonnelModule"]</a>
			</li>
			<li class="active">
				<strong>@localizer["DeletePersonHeader"]</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form id="edit_user" class="form-horizontal" role="form" asp-controller="Personnel" asp-action="DeletePerson" asp-route-area="User" method="post">

						@Html.AntiForgeryToken()
						@Html.HiddenFor(m => m.UserId)
						<div asp-validation-summary="All" class="text-danger"></div>

						<div class='page-header'>
							<h3>
								@commonLocalizer["Delete"] @(await UserHelper.GetFullNameForUser(Model.User.UserId))
							</h3>
						</div>
						<div class="alert alert-error">
							<strong>@localizer["DeleteAreYouSure"]</strong>@localizer["DeleteAreYouSure2"]
							<br /><br />
							<strong>@localizer["SpecialNote"]</strong>
							<span>@localizer["SpecialNoteText"]</span>
						</div>
						<hr />
						<div class='alert alert-warning'>
							<i class='picons-16-basic1-104'></i>@localizer["CheckToDelete"]
						</div>

						<div class="form-group">
						  <label class="col-sm-2 control-label">@localizer["ConfirmDelete"]</label>
						  <div class="col-sm-10">
						    <div class="checkbox checkbox-primary">
						      <input type="checkbox" class="checkbox checkbox-primary" asp-for="AreYouSure">
						      <label></label>
						    </div>
						  </div>
						</div>

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<a class="btn btn-white" asp-controller="Personnel" asp-action="Index" asp-route-area="User">@commonLocalizer["Cancel"]</a>
								<button class="btn btn-primary" type="submit">@commonLocalizer["Delete"]</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{

}
