@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Documents.IndexView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Documents.Documents> localizer
@{
    ViewBag.Title = "Resgrid | " + @commonLocalizer["DocumentsModule"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@commonLocalizer["DocumentsModule"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
            </li>
            <li class="active">
                <strong>@commonLocalizer["DocumentsModule"]</strong>
            </li>
        </ol>
    </div>
    @if (ClaimsAuthorizationHelper.CanCreateDocument())
    {
        <div class="col-sm-8">
            <div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
                <a title="Add a new document" class="btn btn-success btn-block" href="@Url.Action("NewDocument", "Documents", new { area = "User" })">@localizer["NewDocumentHeader"]</a>
            </div>
        </div>
    }
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        <h5>Show:</h5>
                        <a asp-controller="Documents" asp-action="Index" asp-route-area="User" asp-route-type="" asp-route-category="@Model.SelectedCategory" class="file-control">@commonLocalizer["All"]</a>
                        <a asp-controller="Documents" asp-action="Index" asp-route-area="User" asp-route-type="Documents" asp-route-category="@Model.SelectedCategory" class="file-control">@commonLocalizer["DocumentsModule"]</a>
                        <a asp-controller="Documents" asp-action="Index" asp-route-area="User" asp-route-type="Spreadsheets" asp-route-category="@Model.SelectedCategory" class="file-control">@localizer["Spreadsheets"]</a>
                        <a asp-controller="Documents" asp-action="Index" asp-route-area="User" asp-route-type="Presentations" asp-route-category="@Model.SelectedCategory" class="file-control">@localizer["Presentations"]</a>
                        <a asp-controller="Documents" asp-action="Index" asp-route-area="User" asp-route-type="Images" asp-route-category="@Model.SelectedCategory" class="file-control">@localizer["Images"]</a>
                        <div class="hr-line-dashed"></div>
                        <h5>Categories</h5>
                        <ul class="folder-list" style="padding: 0">
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-area="User"><i class="fa fa-folder"></i>@commonLocalizer["All"]</a></li>
                            @foreach (var category in Model.Categories)
                            {
                                @if (!String.IsNullOrWhiteSpace(category.Name))
                                {
                                    <li><a asp-controller="Documents" asp-action="Index" asp-route-area="User" asp-route-type="@Model.SelectedType" asp-route-category="@category.Name"><i class="fa fa-folder"></i>@category.Name</a></li>
                                }
                            }
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    @foreach (var doc in Model.Documents)
                    {
                        <div class="file-box">
                            <div class="file">
                                <a asp-controller="Documents" asp-action="GetDocument" asp-route-area="User" asp-route-documentId="@doc.DocumentId">
                                    <span class="corner"></span>
                                    <div class="icon">
                                        <i class="@doc.GetIconType()"></i>
                                    </div>
                                    <div class="file-name">
                                        <a asp-controller="Documents" asp-action="EditDocument" asp-route-area="User" asp-route-documentId="@doc.DocumentId">@doc.Name</a>
                                        <br />
                                        <small>@commonLocalizer["Added"]: @doc.AddedOn.TimeConverterToString(Model.Department)</small>
                                    </div>
                                </a>
                            </div>
                        </div>

                        @*<tr>
                    <td>
                    <a href="@Url.Action("GetDocument", "Documents", new {Area="User", documentId = doc.DocumentId})">@doc.Name</a>
                    </td>
                    <td>
                    @doc.Category
                    </td>
                    <td>
                    @Html.TimeConverterToString(doc.AddedOn, Model.Department)
                    </td>
                    <td>
                    <div class='btn-group'>
                    <a class='btn btn-xs btn-primary dropdown-toggle' data-toggle='dropdown' href='#'><i class='icon-cog'></i> <span class='caret'></span></a>
                    <ul class='dropdown-menu pull-right'>
                    <li>
                    <a href="@Url.Action("GetDocument", "Documents", new { area = "User", documentId = doc.DocumentId })">
                    <i class='icon-download'></i> Download
                    </a>
                    </li>
                    @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin() || doc.UserId != Model.UserId)
                    {
                    <li>
                    <a href="@Url.Action("EditDocument", "Documents", new {area = "User", documentId = doc.DocumentId})">
                    <i class='icon-edit'></i> Edit
                    </a>
                    </li>
                    <li>
                    <a href="@Url.Action("DeleteDocument", "Documents", new {area = "User", documentId = doc.DocumentId})" data-confirm="WARNING: This will permanently delete this document. Are you sure you want to delete the document @doc.Name?" rel="nofollow"><i class="icon-trash"></i>&nbsp;Delete</a>
                    </li>
                    }
                    </ul>
                    </div>

                    </td>
                    </tr>*@
                    }



                </div>
            </div>
        </div>
    </div>
</div>
