@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Documents.IndexView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Documents.Documents> localizer
@{
    ViewBag.Title = "Resgrid | " + @commonLocalizer["DocumentsModule"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@commonLocalizer["DocumentsModule"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
            </li>
            <li class="active">
                <strong>@commonLocalizer["DocumentsModule"]</strong>
            </li>
        </ol>
    </div>
    @if (ClaimsAuthorizationHelper.CanCreateDocument())
    {
        <div class="col-sm-8">
            <div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
                <a title="Add a new document" class="btn btn-success btn-block" href="@Url.Action("NewDocument", "Documents", new { area = "User" })">@localizer["NewDocumentHeader"]</a>
            </div>
        </div>
    }
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        <h5>Show:</h5>
                        <a asp-controller="Documents" asp-action="Index" asp-route-area="User" asp-route-type="" asp-route-category="@Model.SelectedCategory" class="file-control">@commonLocalizer["All"]</a>
                        <a asp-controller="Documents" asp-action="Index" asp-route-area="User" asp-route-type="Documents" asp-route-category="@Model.SelectedCategory" class="file-control">@commonLocalizer["DocumentsModule"]</a>
                        <a asp-controller="Documents" asp-action="Index" asp-route-area="User" asp-route-type="Spreadsheets" asp-route-category="@Model.SelectedCategory" class="file-control">@localizer["Spreadsheets"]</a>
                        <a asp-controller="Documents" asp-action="Index" asp-route-area="User" asp-route-type="Presentations" asp-route-category="@Model.SelectedCategory" class="file-control">@localizer["Presentations"]</a>
                        <a asp-controller="Documents" asp-action="Index" asp-route-area="User" asp-route-type="Images" asp-route-category="@Model.SelectedCategory" class="file-control">@localizer["Images"]</a>
                        <div class="hr-line-dashed"></div>
                        <h5>Categories</h5>
                        <ul class="folder-list" style="padding: 0">
                            <li><a asp-controller="Documents" asp-action="Index" asp-route-area="User"><i class="fa fa-folder"></i>@commonLocalizer["All"]</a></li>
                            @foreach (var category in Model.Categories)
                            {
                                @if (!String.IsNullOrWhiteSpace(category.Name))
                                {
                                    <li><a asp-controller="Documents" asp-action="Index" asp-route-area="User" asp-route-type="@Model.SelectedType" asp-route-category="@category.Name"><i class="fa fa-folder"></i>@category.Name</a></li>
                                }
                            }
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@commonLocalizer["DocumentsModule"]</h5>
                </div>
                <div class="ibox-content">
                    @if (Model.Documents != null && Model.Documents.Count > 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-hover documents-table">
                                <thead>
                                    <tr>
                                        <th>@commonLocalizer["Name"]</th>
                                        <th>@localizer["Category"]</th>
                                        <th>@commonLocalizer["UploadedOn"]</th>
                                        <th class="text-right">@commonLocalizer["Actions"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var doc in Model.Documents)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-controller="Documents" asp-action="ViewDocument" asp-route-area="User" asp-route-documentId="@doc.DocumentId">
                                                    <i class="@doc.GetIconType() fa-lg" style="margin-right: 8px;"></i>
                                                    <strong>@doc.Name</strong>
                                                </a>
                                                @if (doc.AdminsOnly)
                                                {
                                                    <span class="label label-warning" style="margin-left: 6px;">@localizer["AdminsOnlyLabel"]</span>
                                                }
                                            </td>
                                            <td>@(String.IsNullOrWhiteSpace(doc.Category) ? commonLocalizer["None"] : doc.Category)</td>
                                            <td>@doc.AddedOn.TimeConverterToString(Model.Department)</td>
                                            <td class="text-right">
                                                <a class="btn btn-xs btn-primary" asp-controller="Documents" asp-action="ViewDocument" asp-route-area="User" asp-route-documentId="@doc.DocumentId">
                                                    <i class="fa fa-eye"></i> @commonLocalizer["View"]
                                                </a>
                                                <a class="btn btn-xs btn-default" asp-controller="Documents" asp-action="GetDocument" asp-route-area="User" asp-route-documentId="@doc.DocumentId">
                                                    <i class="fa fa-download"></i> @commonLocalizer["Download"]
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info" style="margin-bottom: 0;">
                            No documents match the selected filters.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
