@model Resgrid.Web.Areas.User.Models.Logs.UnitBlockPartialView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Logs.Logs> localizer
<div id='unit_@Model.UnitId' class='unit-block'>
	<a class="close" onclick="resgrid.logs.newlog.removeUnit(@Model.UnitId);" href="#">×</a>
	<strong>@Model.UnitName</strong>
	<div class='row'>
		<div class='col-md-3'>
			<strong style="display: block;"><small>@commonLocalizer["Dispatched"]</small></strong>
			<input id='unit_dispatchtime_@Model.UnitId' name='unit_dispatchtime_@Model.UnitId' type='text' onkeydown="javascript:return false;" />
		</div>
		<div class='col-md-3'>
			<strong style="display: block;"><small>@commonLocalizer["Enrotue"]</small></strong>
			<input id='unit_enroutetime_@Model.UnitId' name='unit_enroutetime_@Model.UnitId' type='text' onkeydown="javascript:return false;" />
		</div>
		<div class='col-md-3'>
			<strong style="display: block;"><small>@commonLocalizer["OnScene"]</small></strong>
			<input id='unit_onscenetime_@Model.UnitId' name='unit_onscenetime_@Model.UnitId' type='text' onkeydown="javascript:return false;" />
		</div>
	</div>
	<div class='row'>
		<div class='col-md-3'>
			<strong style="display: block;"><small>@commonLocalizer["Released"]</small></strong>
			<input id='unit_releasedtime_@Model.UnitId' name='unit_releasedtime_@Model.UnitId' type='text' onkeydown="javascript:return false;" />
		</div>
		<div class='col-md-3'>
			<strong style="display: block;"><small>@commonLocalizer["InQuarters"]</small></strong>
			<input id='unit_inquarterstime_@Model.UnitId' name='unit_inquarterstime_@Model.UnitId' type='text' onkeydown="javascript:return false;" />
		</div>
		<div class='col-md-6'>
			<strong style="display: block;"><small class="required">@localizer["UnitPersonnel"]</small></strong>
			<select id='unit_personnel_@Model.UnitId' name='unit_personnel_@Model.UnitId' style="width:100%;" data-val="true" data-val-required="@Model.UnitName @localizer["PersonnelRequired"]."></select>
		</div>
	</div>
	
	<script>
		$(document).ready(function () {
			$('#unit_dispatchtime_@Model.UnitId').datetimepicker({ step: 5 });
			$('#unit_enroutetime_@Model.UnitId').datetimepicker({ step: 5 });
			$('#unit_onscenetime_@Model.UnitId').datetimepicker({ step: 5 });
			$('#unit_releasedtime_@Model.UnitId').datetimepicker({ step: 5 });
			$('#unit_inquarterstime_@Model.UnitId').datetimepicker({ step: 5 });

			$('#unit_personnel_@Model.UnitId').kendoMultiSelect({
				placeholder: "Select Personnel for @Model.UnitName ...",
				dataTextField: "Name",
				dataValueField: "UserId",
				autoBind: false,
				dataSource: {
					type: "json",
					transport: {
						read: resgrid.absoluteBaseUrl + '/User/Personnel/GetPersonnelForGridWithFilter'
					}
				}
			});

			var form = $("#newLogForm");
			form.removeData('validator');
			form.removeData('unobtrusiveValidation');
			$.validator.unobtrusive.parse(form);
			resgrid.logs.newlog.supressValidation();
		});
	</script>
</div>
