@using Resgrid.Model
@using Resgrid.Web.Helpers
@model Resgrid.WebCore.Areas.User.Models.Protocols.ProtocolIndexModel
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Protocols.Protocols> localizer
@{
  ViewBag.Title = "Resgrid | " + localizer["ProtocolsHeader"];
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>@localizer["ProtocolsHeader"]</h2>
    <ol class="breadcrumb">
      <li>
        <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["Home"]</a>
      </li>
      <li class="active">
        <strong>@localizer["ProtocolsHeader"]</strong>
      </li>
    </ol>
  </div>
  @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
  {
    <div class="col-sm-8">
      <div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
        <a title="@localizer["NewProtocolButton"]" class="btn btn-success" asp-controller="Protocols" asp-action="New" asp-route-area="User">@localizer["NewProtocolButton"]</a>
      </div>
    </div>
  }
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    @commonLocalizer["Name"]
                  </th>
                  <th>
                    @commonLocalizer["Type"]
                  </th>
                  <th>
                    @localizer["CreatedOnColumn"]
                  </th>
                  <th>
                    @commonLocalizer["Action"]
                  </th>
                </tr>
              </thead>
              <tbody>
                @foreach (var t in Model.Protocols)
				{
                  <tr>
                    <td>
                      @t.Name
                    </td>
                    <td>
                      @localizer["DispatchProtocolLabel"]
                    </td>
                    <td>
                      @Html.Raw(t.CreatedOn.ToShortDateString())
                    </td>
                    <td>
                      <a href="@Url.Action("View", "Protocols", new { area = "User", id = t.DispatchProtocolId })" class='btn btn-xs btn-info'>
                        <i class="icon-eye-open">
                        </i> @localizer["ViewButton"]
                      </a>
                      @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
                      {
                        <a href="@Url.Action("Delete", "Protocols", new { area = "User", id = t.DispatchProtocolId })" class='btn btn-xs btn-danger' data-confirm="@localizer["DeleteProtocolWarning"] @t.Name ?" rel="nofollow">
                          <i class="icon-trash">
                          </i> @localizer["DeleteButton"]
                        </a>
                      }
                    </td>
                  </tr>
				}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
  <script src="~/js/app/internal/protocols/resgrid.protocols.index.js"></script>
}
