@using Resgrid.Model
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.CustomStatuses.CustomStatusesIndexView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.CustomStatuses.CustomStatuses> localizer
@{
  ViewBag.Title = "Resgrid | " + @localizer["CustomStatusesHeader"];
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>@localizer["CustomStatusesHeader"]</h2>
    <ol class="breadcrumb">
      <li>
        <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
      </li>
      <li class="active">
        <strong>@localizer["CustomStatusesHeader"]</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xs-9">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>@localizer["CurrentUnitStatusesHeader"]</h5>
          <div class="ibox-tools">
            <div class="buttons-actions">
              <a title="Add a new Custom Unit Statuses" class="btn btn-success" asp-controller="CustomStatuses" asp-action="New" asp-route-area="User" asp-route-type="2">Add Unit Statuses</a>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>
                  @commonLocalizer["Name"]
                </th>
                <th>
                  @commonLocalizer["Count"]
                </th>
                <th>
                  @commonLocalizer["Description"]
                </th>
                <th class="span1">
                </th>
              </tr>
              </thead>
              <tbody>
              @foreach (var g in Model.UnitStates)
              {
                <tr>
                  <td>
                    @g.Name
                  </td>
                  <td>
                    @if (g.Details != null)
                    {
                      @Html.Raw(g.GetActiveDetails().Count)
                    }
                    else
                    {
                      @Html.Raw("0")
                    }
                  </td>
                  <td>
                    @Html.Raw(g.Description)
                  </td>
                  <td>
                    @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
                    {
                      <a class="btn btn-xs btn-danger" asp-controller="CustomStatuses" asp-action="Delete" asp-route-area="User" asp-route-id="@g.CustomStateId" data-confirm="@localizer["DeleteCustomStatusWarning"]" rel="nofollow">@commonLocalizer["Delete"]</a>
                      <a class="btn btn-xs btn-primary" asp-controller="CustomStatuses" asp-action="Edit" asp-route-area="User" asp-route-id="@g.CustomStateId">@commonLocalizer["Edit"]</a>
                    }
                  </td>
                </tr>
              }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="form-horizontal">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
          <div class="ibox-title">
            <h5>@localizer["CurrentPersonnelStatusesHeader"]</h5>
          </div>
          <div class="ibox-content">
            <div class="form-group">
              <label class="col-sm-2 control-label">
                @localizer["PersonnelStatusesLabel"]
              </label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-md-7">
                    <ul class="site-stats">
                      @if (Model.PersonnelStatuses == null)
                      {
                        <strong>@localizer["DefaultPersonnelActions"]</strong>
                      }
                      else
                      {
                        <strong>@Model.PersonnelStatuses.Name</strong>
                      }
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                @if (Model.PersonnelStatuses == null)
                {
                  <a class="btn btn-success" asp-controller="CustomStatuses" asp-action="New" asp-route-area="User" asp-route-type="1">@localizer["SetCustomStatuses"]</a>
                }
                else
                {
                  <a class="btn btn-primary" asp-controller="CustomStatuses" asp-action="Edit" asp-route-area="User" asp-route-id="@Model.PersonnelStatuses.CustomStateId">@localizer["EditPersonnelStatuses"]</a>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>@localizer["CustomPersonnelStaffingLevelsHeader"]</h5>
          </div>
          <div class="ibox-content">
            <div class="form-group">
              <label class="col-sm-2 control-label">
                @localizer["StaffingLevelsLabel"]
              </label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-md-7">
                    <ul class="site-stats">
                      @if (Model.PersonellStaffing == null)
                      {
                        <strong>@localizer["DefaultPersonnelStaffing"]</strong>
                      }
                      else
                      {
                        <strong>@Model.PersonellStaffing.Name</strong>
                      }
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                @if (Model.PersonellStaffing == null)
                {
                  <a class="btn btn-success" asp-controller="CustomStatuses" asp-action="New" asp-route-area="User" asp-route-type="3">@localizer["SetCustomStaffingLevels"]</a>
                }
                else
                {
                  <a class="btn btn-primary" asp-controller="CustomStatuses" asp-action="Edit" asp-route-area="User" asp-route-id="@Model.PersonellStaffing.CustomStateId">@localizer["EditStaffingLevels"]</a>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts
{

}
