@using Microsoft.ApplicationInsights.AspNetCore
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/lib/metisMenu/metisMenu.min.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-tour/css/bootstrap-tour.min.css" />
    <link rel="stylesheet" href="~/clib/kendo/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/clib/kendo/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/cupertino/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="~/clib/picEdit/css/picedit.min.css" />
    <link rel="stylesheet" href="~/clib/bootstrap-wizard/bootstrap-wizard.css" />
    <link rel="stylesheet" href="~/lib/quill/quill.snow.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.print.min.css" media="print" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/metisMenu/metisMenu.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-tour/css/bootstrap-tour.min.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/clib/kendo/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/clib/kendo/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/cupertino/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
    <link rel="stylesheet" href="~/clib/picEdit/css/picedit.min.css" />
    <link rel="stylesheet" href="~/clib/bootstrap-wizard/bootstrap-wizard.css" />
    <link rel="stylesheet" href="~/lib/quill/quill.snow.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/fullcalendar.print.min.css" media="print" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
  </environment>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Add local styles, mostly for plugins css file -->
  @if (IsSectionDefined("Styles"))
  {
    @RenderSection("Styles", required: false)
  }

  @Html.Raw(JavaScriptSnippet.FullScript)
  <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper" class="md-skin">

    <!-- Navigation -->
    @await Html.PartialAsync("_Navigation")

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

      <!-- Top Navbar -->
      @await Html.PartialAsync("_TopNavbar")

      <!-- Main view  -->
      @RenderBody()

      <div id="setupWizard"></div>

      <!-- Footer -->
      @await Html.PartialAsync("_Footer")
    </div>
    <!-- End page wrapper-->
  </div>
  <!-- End wrapper-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="~/Scripts/kendo/jquery.min.js"><\/script>')</script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=@Resgrid.Config.MappingConfig.GoogleMapsJSKey"></script>

  <environment names="Development">
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/metisMenu/metisMenu.min.js"></script>
    <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
    <script src="~/lib/pace/pace.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/clib/kendo/js/kendo.web.min.js"></script>
    <script src="~/lib/bootstrap-tour/js/bootstrap-tour.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/clib/markerwithlabel/markerwithlabel.js"></script>
    <script src="~/clib/ujs/jquery-ujs.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/clib/picEdit/js/picedit.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/clib/bootstrap-wizard/bootstrap-wizard.min.js"></script>
    <script src="~/lib/quill/quill.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/js/site.min.js"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/metisMenu/metisMenu.min.js"></script>
    <script src="~/lib/pace/pace.min.js"></script>
    <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/clib/kendo/js/kendo.web.min.js"></script>
    <script src="~/lib/bootstrap-tour/js/bootstrap-tour.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/clib/markerwithlabel/markerwithlabel.js"></script>
    <script src="~/clib/ujs/jquery-ujs.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
	<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/clib/picEdit/js/picedit.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/clib/bootstrap-wizard/bootstrap-wizard.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/quill/quill.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/leaflet/leaflet.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>

  <script src="~/js/app/resgrid.js"></script>
  <script src="~/js/app/internal/resgrid.user.js"></script>
  <script src="~/js/app/common/analytics/resgrid.common.analytics.js"></script>
  <script src="~/js/app/common/notifications/resgrid.common.notifications.js"></script>

  <script>
	var departmentId = '@(ClaimsAuthorizationHelper.GetDepartmentId())';
	var userId = '@(ClaimsAuthorizationHelper.GetUserId())';

	resgrid.absoluteBaseUrl = "@Resgrid.Config.SystemBehaviorConfig.ResgridBaseUrl";
	resgrid.absoluteApiBaseUrl = "@Resgrid.Config.SystemBehaviorConfig.ResgridApiBaseUrl";
	resgrid.absoluteEventingBaseUrl = "@Resgrid.Config.SystemBehaviorConfig.ResgridEventingBaseUrl";
  </script>

  @if (IsSectionDefined("Scripts"))
  {
    @RenderSection("Scripts", required: false)
  }

  @Html.Raw(ViewBag.BodyObjects)

  <script>
	resgrid.init();
  </script>

  @*@await Html.PartialAsync("_ChatWidget")*@
</body>
</html>
