@using Resgrid.Model

@model Resgrid.Web.Areas.User.Models.Orders.FillItemView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Orders.Orders> localizer
@{
  ViewBag.Title = "Resgrid | " + localizer["FillOrderResultHeader"];
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>@localizer["FillOrderResultHeader"]</h2>
    <ol class="breadcrumb">
      <li>
        <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["Home"]</a>
      </li>
      <li class="active">
        <strong>@localizer["FillOrderResultHeader"]</strong>
      </li>
    </ol>
  </div>
</div>

@if (Model.Error)
{
  <div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <h2>
              @localizer["FillFailedHeader"]
            </h2>
            <p>
              @localizer["FillFailedMessage"]
            </p>
            <div class="alert alert-error">
              @Model.ErrorMessage
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
else if (Model.Fill.Accepted)
{
	<div class="row">
		<div class="col-lg-12">
			<div class="wrapper wrapper-content">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<h2>
						  @localizer["FillAcceptedHeader"]
						</h2>
						<p>
							@localizer["FillAcceptedMessage"]
						</p>
						<div class="alert alert-warning">
							@localizer["FillAcceptedWarning"]
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <h2></h2>
          <p>
            @localizer["FillProposedHeader"]
          </p>
          <div class="alert alert-warning">
            @localizer["FillProposedMessage"]
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
@section Scripts
{

}
