@using Resgrid.Model
@model Resgrid.Web.Areas.User.Models.Orders.NewOrderView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Orders.Orders> localizer
@{
    ViewBag.Title = "Resgrid | " + localizer["NewOrderHeader"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@localizer["NewOrderHeader"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["Home"]</a>
            </li>
            <li>
                <a asp-controller="Orders" asp-action="Index" asp-route-area="User">@localizer["OrdersLabel"]</a>
            </li>
            <li class="active">
                <strong>@localizer["NewOrderHeader"]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" asp-controller="Orders" asp-action="New" asp-route-area="User" method="post" id="newOrderForm">

                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                @if (!String.IsNullOrEmpty(Model.Message))
                                {
                                    <div class="alert alert-success">
                                        @Model.Message
                                    </div>
                                }
                                @Html.AntiForgeryToken()
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["TitleLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="@localizer["TitlePlaceholder"]" asp-for="Order.Title">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["SummaryLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-10">
                                    <textarea cols="30" rows="10" class="form-control" placeholder="@localizer["SummaryPlaceholder"]" asp-for="Order.Summary"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["CloseOrderOnLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" asp-for="Order.NeededBy">
                                    <span class="help-block m-b-none">@localizer["CloseOrderOnHelp"]</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["IncidentNumberLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="@localizer["IncidentNumberPlaceholder"]" asp-for="Order.IncidentNumber">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["IncidentNameLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="@localizer["IncidentNamePlaceholder"]" asp-for="Order.IncidentName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["IncidentAddressLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="@localizer["IncidentAddressPlaceholder"]" asp-for="Order.IncidentAddress">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["FinanceCodeLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="@localizer["FinanceCodePlaceholder"]" asp-for="Order.FinancialCode">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["ContactNameLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="@localizer["ContactNamePlaceholder"]" asp-for="Order.ContactName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["ContactNumberLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="@localizer["ContactNumberPlaceholder"]" asp-for="Order.ContactNumber">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["MeetupLocationLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="@localizer["MeetupLocationPlaceholder"]" asp-for="Order.MeetupLocation">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["MeetupTimeLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-5">
                                    <input type="text" asp-for="Order.MeetupDate">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["SpecialInstructionsLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="col-md-10">
                                    <textarea cols="30" rows="10" class="form-control" placeholder="@localizer["SpecialInstructionsPlaceholder"]" asp-for="Order.SpecialInstructions"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["AllowPartialFillsLabel"]</label>
                            <div class="col-sm-10">
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" asp-for="Order.AllowPartialFills">
                                    <label></label>
                                </div>
                                <span class="help-block m-b-none">@localizer["AllowPartialFillsHelp"]</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["AutoAcceptFillsLabel"]</label>
                            <div class="col-sm-10">
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" asp-for="Order.AutomaticFillAcceptance">
                                    <label></label>
                                </div>
                                <span class="help-block m-b-none">@localizer["AutoAcceptFillsHelp"]</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["OrderItemsLabel"]
                            </label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-xs-10">@localizer["OrderItemsHelp"]<br /></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table id="orders" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="max-width: 200px;font-size: 14px;">@localizer["ResourceColumn"]</th>
                                                    <th>@localizer["MinColumn"]</th>
                                                    <th>@localizer["MaxColumn"]</th>
                                                    <th>@localizer["FinancialCodeColumn"]</th>
                                                    <th>@localizer["SpecialNeedsColumn"]</th>
                                                    <th>@localizer["RequirementsColumn"]</th>
                                                    <th style="width: 60px;font-size: 16px;"><a id="addItemButton" class="btn btn-success btn-xs" onclick="resgrid.orders.newOrder.addItem();" data-original-title="@localizer["AddButton"]">@localizer["AddButton"]</a></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white" asp-controller="Orders" asp-action="Index" asp-route-area="User">@commonLocalizer["Cancel"]</a>
                                <button class="btn btn-primary" type="submit">@localizer["CreateOrderButton2"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/js/app/internal/orders/resgrid.orders.new.js"></script>
}
