@using Resgrid.Model
@model Resgrid.Web.Areas.User.Models.Orders.ViewOrderView
@{
  ViewBag.Title = "Resgrid | View Order";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
	<h2>View Order</h2>
	<ol class="breadcrumb">
	  <li>
		<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
	  </li>
	  <li>
		<a asp-controller="Orders" asp-action="Index" asp-route-area="User">Orders</a>
	  </li>
	  <li class="active">
		<strong>View Order</strong>
	  </li>
	</ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
	<div class="wrapper wrapper-content animated fadeInUp">
	  <div class="ibox">
		<div class="ibox-content">
		  <div class="row">
			<div class="col-lg-12">
			  <div class="m-b-md">
				@if (Model.Department.DepartmentId != Model.Order.DepartmentId && !Model.Order.IsFilled())
				{
				  <a asp-controller="Orders" asp-action="Fill" asp-route-area="User" asp-route-orderId="@Model.Order.ResourceOrderId" class="btn btn-success btn-xs pull-right">Request To Fill Order</a>
				}
				<h2>@Model.Order.Title</h2>
			  </div>
			  <dl class="dl-horizontal">
				<dt>Status:</dt>
				<dd>
				  @if (Model.Order.CloseDate.HasValue)
				  {
					<span class="label label-info">Closed</span>
				  }
				  else
				  {
					if (Model.Order.IsFilled())
					{
					  <span class="label label-success">Filled</span>
					}
					else
					{
					  <span class="label label-primary">Open</span>
					}
				  }
				</dd>
			  </dl>
			</div>
		  </div>
		  <div class="row">
			<div class="col-lg-5">
			  <dl class="dl-horizontal">
				<dt>Created by:</dt>
				<dd>@Model.Order.Department.Name</dd>
				<dt>Incident:</dt>
				<dd>@Model.Order.IncidentName</dd>
				<dt>Number\ID:</dt>
				<dd>@Model.Order.IncidentNumber</dd>
				<dt>Finance Code:</dt>
				<dd>@Model.Order.FinancialCode</dd>
			  </dl>
			</div>
			<div class="col-lg-7" id="cluster_info">
			  <dl class="dl-horizontal">
				<dt>Last Updated:</dt>
				<dd>@Model.Order.OpenDate.TimeConverterToString(Model.Department)</dd>
				<dt>Created:</dt>
				<dd>@Model.Order.OpenDate.TimeConverterToString(Model.Department)</dd>
				<dt>Contact Name:</dt>
				<dd>@Model.Order.ContactName</dd>
				<dt>Contact Number:</dt>
				<dd>@Model.Order.ContactNumber</dd>
			  </dl>
			</div>
		  </div>
		  <div class="row">
			<div class="col-lg-12">
			  <dl class="dl-horizontal">
				<dt>Fill:</dt>
				<dd>
				  <div class="progress progress-striped active m-b-sm">
					<div style="width: @Model.Order.FilledPrecentage()%;" class="progress-bar"></div>
				  </div>
				  <small>This resource order is <strong>@Model.Order.FilledPrecentage()%</strong> filled.</small>
				</dd>
			  </dl>
			</div>
		  </div>
		  <div class="row m-t-sm">
			<div class="col-lg-12">
			  <div class="panel blank-panel">
				<div class="panel-heading">
				  <div class="panel-options">
					<ul class="nav nav-tabs">
					  <li class="active"><a href="#tab-1" data-toggle="tab">Fills</a></li>
					</ul>
				  </div>
				</div>
				<div class="panel-body">
				  <div class="tab-content">
					<div class="tab-pane active" id="tab-1">

					  @foreach (var item in Model.Order.Items)
					  {
						<div class="row">
						  <div class="col-md-4">
							<dl>
							  <dt>Resource:</dt>
							  <dd>@item.Resource</dd>
							</dl>
						  </div>
						  <div class="col-md-4">
							<dl>
							  <dt>Requirements:</dt>
							  <dd>@item.Requirements</dd>
							</dl>
						  </div>
						  <div class="col-md-2">
							<dl>
							  <dt>Min:</dt>
							  <dd>@item.Min</dd>
							</dl>
						  </div>
						  <div class="col-md-2">
							<dl>
							  <dt>Max:</dt>
							  <dd>@item.Max</dd>
							</dl>
						  </div>
						</div>
						<table class="table table-striped">
						  <thead>
							<tr>
							  <th>Status</th>
							  <th>Department</th>
							  <th>Timestamp</th>
							  <th>Contact</th>
							  <th>Note</th>
							  <th>Units</th>
							  <th></th>
							</tr>
						  </thead>
						  <tbody>
							@foreach (var fill in item.Fills)
							{
							  <tr>
								<td>
								  @if (fill.Accepted)
								  {
									<span class="label label-success"><i class="fa fa-check"></i> Accepted</span>
								  }
								  else if (Model.Order.CloseDate.HasValue)
								  {
									<span class="label label-danger">Not Accepted</span>
								  }
								  else
								  {
									<span class="label label-primary">Pending</span>
								  }
								</td>
								<td>
								  @fill.Department.Name
								</td>
								<td>
								  @fill.FilledOn.TimeConverterToString(Model.Department)
								</td>
								<td>
								  <span>@fill.ContactName</span> <span>@fill.ContactNumber</span>
								</td>
								<td>
								  <p class="small">
									@fill.Note
								  </p>
								</td>
								<td>
								  @foreach (var unit in fill.Units)
								  {
									<span>@unit.Unit.Name</span><br />
								  }
								</td>
								  <td>
									  @if (!fill.Accepted && Model.Department.DepartmentId == Model.Order.DepartmentId)
									  {
										  <a asp-controller="Orders" asp-action="AcceptFill" asp-route-area="User" asp-route-fillId="@fill.ResourceOrderFillId" class="btn btn-white btn-xs">Accept</a>
									  }
								  </td>

							  </tr>
							}
						  </tbody>
						</table>
					  }
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <div class="col-lg-3">
	<div class="wrapper wrapper-content project-manager">
	  <h4>Order Summary</h4>
	  <p class="small">
		@Model.Order.Summary
	  </p>
	  <h4>Special Instructions</h4>
	  <p class="small">
		@Model.Order.SpecialInstructions
	  </p>
	  <h4>Incident Address</h4>
	  <p class="small">
		@Model.Order.IncidentAddress
	  </p>
	  <h4>Meetup</h4>
	  <dl>
		<dt>   Location:</dt>
		<dd>@Model.Order.MeetupLocation</dd>
	  </dl>
	  <dl>
		<dt>   Date:</dt>
		@if (Model.Order.MeetupDate.HasValue)
		{
		  <dd>@Model.Order.MeetupDate.Value.TimeConverterToString(Model.Department)</dd>
		}
		else
		{
		  <dd>Not Supplied</dd>
		}
	  </dl>
	</div>
  </div>
</div>

@section Scripts
{
 
}
