@using Resgrid.Model
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Personnel.ViewPersonView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Personnel.Person> localizer
@{
    ViewBag.Title = "Resgrid | " + @localizer["AddExistingUserHeader"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@localizer["AddExistingUserHeader"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
            </li>
            <li>
                <a asp-controller="Personnel" asp-action="Index" asp-route-area="User">@commonLocalizer["PersonnelModule"]</a>
            </li>
            <li class="active">
                <strong>@localizer["AddExistingUserHeader"]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <br />
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>@localizer["AddExistingUserHeader"]</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-4 col-lg-4" align="center">
                        <p>
                            @localizer["ExistingUserHelp1"] (@Model.Profile.FullName.AsFirstNameLastName)@localizer["ExistingUserHelp2"]
                        </p>
                    </div>
                    <div class=" col-md-8 col-lg-8">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>@localizer["User"]:</td>
                                    <td>@Model.Profile.FullName.AsFirstNameLastName</td>
                                </tr>
                                @if (ClaimsAuthorizationHelper.CanViewPII())
                                {
                                    <tr>
                                        <td>@localizer["Email"]:</td>
                                        <td><a href="mailto:@Model.User.Email">@Model.User.Email</a></td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PhoneNumbers"]:</td>
                                        <td>
                                            @if (!String.IsNullOrWhiteSpace(Model.Profile.HomeNumber))
                                            {
                                                <span>@Model.Profile.HomeNumber (@localizer["Home"])</span>
                                                <br />
                                            }
                                            @if (!String.IsNullOrWhiteSpace(Model.Profile.MobileNumber))
                                            {
                                                <span>@Model.Profile.MobileNumber (@localizer["Mobile"])</span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {

}
