@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Notes.ViewNoteView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Notes.Note> localizer
@{
    ViewBag.Title = "Resgrid | " + @localizer["ViewNoteHeader"];
}

@section Styles
    {

}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>View Note</h2>
            <ol class="breadcrumb">
                <li>
                    <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
                </li>
                <li>
                    <a asp-controller="Notes" asp-action="Index" asp-route-area="User">@commonLocalizer["NotesModule"]</a>
                </li>
                <li class="active">
                    <strong>@localizer["ViewNoteHeader"]</strong>
                </li>
            </ol>
        </div>
        @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
    {
        <div class="col-sm-8">
            <div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
                <a title="@localizer["EditNoteHeader"]" class="btn btn-primary" asp-controller="Notes" asp-action="Edit" asp-route-area="User" asp-route-noteId="@Model.Note.NoteId">@localizer["EditNoteHeader"]</a>
                <a title="@localizer["DeleteNote"]" class="btn btn-danger" asp-controller="Notes" asp-action="Delete" asp-route-area="User" asp-route-noteId="@Model.Note.NoteId" data-confirm="@localizer["DeleteNoteWarning"]" rel="nofollow">@localizer["DeleteNote"]</a>
            </div>
        </div>
    }
</div>

<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">

                <div class="ibox-content">
                    <div class="pull-right">
                        <button class="btn btn-white btn-xs" type="button">@Model.Note.Category</button>
                    </div>
                    <div class="text-center article-title">
                        <span class="text-muted"><i class="fa fa-clock-o"></i> @Model.Note.AddedOn.TimeConverter(Model.Department).ToShortDateString()</span>
                        <h1>
                            @Model.Note.Title
                        </h1>
                    </div>
                    <p>
                        @Html.Raw(Model.Note.Body)
                    </p>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>@localizer["CategoryLabel"]:</h5>
                            @Model.Note.Category
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5></h5>
                                @if (Model.Note.IsAdminOnly)
                                {
                                    <i class="fa fa-eye"> </i>

                                    <span>@localizer["ViewAdminsOnly"]</span>
                                }
                                else
                                {
                                    <i class="fa fa-eye"> </i>

                                    <span>@localizer["ViewEveryone"]</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/js/app/internal/notes/resgrid.notes.newnote.js" type="text/javascript"></script>
}
