@using System.Drawing
@using System.Globalization
@using Resgrid.Model
@using Resgrid.Model.Helpers
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Calls.ViewCallView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Dispatch.Call> localizer
@{
	ViewBag.Title = "Resgrid | " + @commonLocalizer["Documents"];
	Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
@section Styles
{

}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>@Model.Call.Name @commonLocalizer["Documents"]</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
			</li>
			<li>
				<a asp-controller="Dispatch" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["CallsModule"]</a>
			</li>
			<li class="active">
				<strong>@Model.Call.Name @commonLocalizer["Documents"]</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>@localizer["CallDocumentsHeader"]</h5>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>
										@commonLocalizer["Name"]
									</th>
									<th>
										@commonLocalizer["UploadedBy"]
									</th>
									<th>
										@commonLocalizer["UploadedOn"]
									</th>
									<th>
										@commonLocalizer["Type"]
									</th>
									<th>
										@commonLocalizer["Size"]
									</th>
									<th>

									</th>
								</tr>
							</thead>
							<tbody>
								@if (Model.Call.Attachments != null && Model.Call.Attachments.Any(x => x.CallAttachmentType == (int)CallAttachmentTypes.File))
								{
									foreach (var a in Model.Call.Attachments.Where(x => x.CallAttachmentType == (int)CallAttachmentTypes.File))
									{
										<tr>
											@if (!String.IsNullOrWhiteSpace(a.Name))
											{
												<td>@a.Name</td>
											}
											else
											{
												<td>@commonLocalizer["Unknown"]</td>
											}
											@if (!String.IsNullOrWhiteSpace(a.UserId))
											{
												<td>@(await UserHelper.GetFullNameForUser(a.UserId))</td>

											}
											else
											{
												<td>Unknown</td>
											}
											@if (a.Timestamp.HasValue)
											{
												<td>@a.Timestamp.Value.TimeConverter(Model.Department).FormatForDepartment(Model.Department)</td>
											}
											else
											{
												<td>@commonLocalizer["Unknown"]</td>
											}

											<td>File</td>

											@if (a.Size.HasValue)
											{
												<td>@a.Size.Value</td>
											}
											<td><a class="button btn-success btn-xs" href="@Url.Action("GetCallFile", "Dispatch", new {callAttachmentId = a.CallAttachmentId})">@commonLocalizer["Download"]</a></td>
										</tr>
									}
								}
								else
								{
									<tr>
										<td colspan="6">@localizer["NoFiles"]</td>
									</tr>
								}
							</tbody>
						</table>
						<div class="chat-message well">
							@using (Html.BeginForm("AttachCallFile", "Dispatch", FormMethod.Post, new { area = "User", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<input id="CallId" name="CallId" type="hidden" value="@Model.Call.CallId">

								<input placeholder="@localizer["AddFilePlaceholder"]" type="text" class="form-control input-small" id="FriendlyName" name="FriendlyName" required />
								<input name="fileToUpload" id="fileToUpload" type="file" />

								<button class="btn btn-success btn-small" type="submit">@localizer["AddFile"]</button>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>@localizer["CallNotesHeader"]</h5>
				</div>
				<div class="ibox-content">
					<div class="chat-content">
						<div class="chat-messages" id="notes-messages">
							<div id="note-messages-inner" class="chat-messages-inner">
							</div>
						</div>
						<div class="chat-message well">
							<span class="input-box input-group">
								<input placeholder="@localizer["AddNotePlaceholder"]" type="text" class="form-control input-small" name="note-box" id="note-box" />
								<span class="input-group-btn">
									<button class="btn btn-success btn-small" type="button" onclick="resgrid.dispatch.callData.addCallNote()">@localizer["AddNote"]</button>
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script type="text/javascript">
		var callId = @(Model.Call.CallId);
	</script>
	<script src="~/js/app/internal/dispatch/resgrid.dispatch.callData.js"></script>
}
