@using Resgrid.Model
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Security.PermissionsView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Security.Security> localizer
@inject IStringLocalizer<Resgrid.Localization.Areas.User.TwoFactor.TwoFactor> twoFactorLocalizer
@{
    ViewBag.Title = "Resgrid | " + localizer["SecurityPermissionsHeader"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@localizer["SecurityPermissionsHeader"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
            </li>
            <li class="active">
                <strong>@localizer["BreadcrumbSecurity"]</strong>
            </li>
        </ol>
    </div>
    @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
    {
        <div class="col-sm-8">
            <div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
                <a class="btn btn-primary top-button" title="@localizer["AuditLogsButton"]" asp-controller="Security" asp-action="Audits" asp-route-area="User">@localizer["AuditLogsButton"]</a>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1 col-md-pull-1">
                            <p>@localizer["SecurityDescription"]</p>
                        </div>
                    </div>
                    @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
                    {
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>@localizer["PermissionNameColumn"]</th>
                                        <th>@localizer["PermissionNoteColumn"]</th>
                                        <th>@localizer["PermissionSelectionColumn"]</th>
                                        <th>@localizer["PermissionGroupOnlyColumn"]</th>
                                        <th>@localizer["PermissionRolesColumn"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@localizer["PermAddUsersLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermAddUsersNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.AddUsers, Model.AddUserPermissions)</td>
                                        <td>@localizer["PermissionNA"]</td>
                                        <td>@localizer["PermissionNoRoles"]</td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermRemoveUsersLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermRemoveUsersNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.RemoveUsers, Model.RemoveUserPermissions)</td>
                                        <td>@localizer["PermissionNA"]</td>
                                        <td>@localizer["PermissionNoRoles"]</td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermCreateCallLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermCreateCallNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.CreateCall, Model.CreateCallPermissions)</td>
                                        <td>@localizer["PermissionNA"]</td>
                                        <td>
                                            <span id="callCreateNoRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="callCreateRolesDiv" style="display: none;"><select id="callCreateRoles" name="callCreateRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermDeleteCallLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermDeleteCallNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.DeleteCall, Model.DeleteCallPermissions)</td>
                                        <td><input type="checkbox" asp-for="LockDeleteCallToGroup" /></td>
                                        <td>
                                            <span id="deleteCallsRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="deleteCallsRolesDiv" style="display: none;"><select id="deleteCallsRoles" name="deleteCallsRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermCloseCallLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermCloseCallNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.CloseCall, Model.CloseCallPermissions)</td>
                                        <td><input type="checkbox" asp-for="LockCloseCallToGroup" /></td>
                                        <td>
                                            <span id="closeCallsRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="closeCallsRolesDiv" style="display: none;"><select id="closeCallsRoles" name="closeCallsRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermAddCallDataLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermAddCallDataNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.AddCallData, Model.AddCallDataPermissions)</td>
                                        <td><input type="checkbox" asp-for="LockAddCallDataToGroup" /></td>
                                        <td>
                                            <span id="addCallDataRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="addCallDataRolesDiv" style="display: none;"><select id="addCallDataRoles" name="addCallDataRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermCreateTrainingLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermCreateTrainingNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.CreateTraining, Model.CreateTrainingPermissions)</td>
                                        <td>@localizer["PermissionNA"]</td>
                                        <td>
                                            <span id="trainingCreateNoRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="trainingCreateRolesDiv" style="display: none;"><select id="trainingCreateRoles" name="trainingCreateRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermCreateDocumentLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermCreateDocumentNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.CreateDocument, Model.CreateDocumentPermissions)</td>
                                        <td>@localizer["PermissionNA"]</td>
                                        <td>
                                            <span id="documentCreateNoRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="documentCreateRolesDiv" style="display: none;"><select id="documentCreateRoles" name="documentCreateRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermCreateCalendarEntryLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermCreateCalendarEntryNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.CreateCalendarEntry, Model.CreateCalendarEntryPermissions)</td>
                                        <td>@localizer["PermissionNA"]</td>
                                        <td>
                                            <span id="calendarEntriesCreateNoRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="calendarEntriesCreateRolesDiv" style="display: none;"><select id="calendarEntiresCreateRoles" name="calendarEntiresCreateRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermCreateNoteLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermCreateNoteNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.CreateNote, Model.CreateNotePermissions)</td>
                                        <td>@localizer["PermissionNA"]</td>
                                        <td>
                                            <span id="noteCreateNoRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="noteCreateRolesDiv" style="display: none;"><select id="noteCreateRoles" name="noteCreateRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermCreateLogLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermCreateLogNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.CreateLog, Model.CreateLogPermissions)</td>
                                        <td>@localizer["PermissionNA"]</td>
                                        <td>
                                            <span id="logCreateNoRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="logCreateRolesDiv" style="display: none;"><select id="logCreateRoles" name="logCreateRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermCreateShiftLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermCreateShiftNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.CreateShift, Model.CreateShiftPermissions)</td>
                                        <td>@localizer["PermissionNA"]</td>
                                        <td>
                                            <span id="shiftCreateNoRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="shiftCreateRolesDiv" style="display: none;"><select id="shiftCreateRoles" name="shiftCreateRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermViewPersonalInfoLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermViewPersonalInfoNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.ViewPersonalInfo, Model.ViewPersonalInfoPermissions)</td>
                                        <td>@localizer["PermissionNA"]</td>
                                        <td>
                                            <span id="personalInfooRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="personalInfoRolesDiv" style="display: none;"><select id="personalInfoRoles" name="personalInfoRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermAdjustInventoryLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermAdjustInventoryNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.AdjustInventory, Model.AdjustInventoryPermissions)</td>
                                        <td>@localizer["PermissionNA"]</td>
                                        <td>
                                            <span id="adjustInventoryRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="adjustInventoryRolesDiv" style="display: none;"><select id="adjustInventoryRoles" name="adjustInventoryRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermViewPersonnelLocationLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermViewPersonnelLocationNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.ViewPersonnelLocation, Model.ViewPersonnelLocationPermissions)</td>
                                        <td><input type="checkbox" asp-for="LockViewPersonneLocationToGroup" /></td>
                                        <td>
                                            <span id="viewPersonnelLocationRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="viewPersonnelLocationRolesDiv" style="display: none;"><select id="viewPersonnelLocationRoles" name="viewPersonnelLocationRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermViewUnitLocationLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermViewUnitLocationNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.ViewUnitLocation, Model.ViewUnitLocationPermissions)</td>
                                        <td><input type="checkbox" asp-for="LockViewUnitLocationToGroup" /></td>
                                        <td>
                                            <span id="viewUnitLocationsRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="viewUnitLocationsRolesDiv" style="display: none;"><select id="viewUnitLocationsRoles" name="viewUnitLocationsRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermCreateMessageLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermCreateMessageNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.CreateMessage, Model.CreateMessagePermissions)</td>
                                        <td>@localizer["PermissionNA"]</td>
                                        <td>
                                            <span id="createMessagesRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="createMessagesRolesDiv" style="display: none;"><select id="createMessagesRoles" name="createMessagesRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermViewGroupsUsersLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermViewGroupsUsersNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.ViewGroupsUsers, Model.ViewGroupUsersPermissions)</td>
                                        <td><input type="checkbox" asp-for="LockViewGroupsUsersToGroup" /></td>
                                        <td>
                                            <span id="viewUsersRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="viewUsersRolesDiv" style="display: none;"><select id="viewUsersRoles" name="viewUsersRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermViewGroupsUnitsLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermViewGroupsUnitsNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.ViewGroupsUnits, Model.ViewGrouUnitsPermissions)</td>
                                        <td><input type="checkbox" asp-for="LockViewGroupsUnitsToGroup" /></td>
                                        <td>
                                            <span id="viewUnitsRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="viewUnitsRolesDiv" style="display: none;"><select id="viewUnitsRoles" name="viewUnitsRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermViewContactsLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermViewContactsNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.ViewContacts, Model.ViewContactsPermissions)</td>
                                        <td></td>
                                        <td>
                                            <span id="viewContactsRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="viewContactsRolesDiv" style="display: none;"><select id="viewContactsRoles" name="viewContactsRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermEditContactsLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermEditContactsNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.EditContacts, Model.EditContactsPermissions)</td>
                                        <td></td>
                                        <td>
                                            <span id="editContactsRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="editContactsRolesDiv" style="display: none;"><select id="editContactsRoles" name="editContactsRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermDeleteContactsLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermDeleteContactsNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.DeleteContacts, Model.DeleteContactsPermissions)</td>
                                        <td></td>
                                        <td>
                                            <span id="deleteContactsRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="deleteContactsRolesDiv" style="display: none;"><select id="deleteContactsRoles" name="deleteContactsRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermCreateWorkflowLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermCreateWorkflowNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.CreateWorkflow, Model.CreateWorkflowPermissions)</td>
                                        <td></td>
                                        <td>
                                            <span id="workflowCreateNoRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="workflowCreateRolesDiv" style="display: none;"><select id="workflowCreateRoles" name="workflowCreateRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermManageWorkflowCredentialsLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermManageWorkflowCredentialsNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.ManageWorkflowCredentials, Model.ManageWorkflowCredentialsPermissions)</td>
                                        <td></td>
                                        <td>
                                            <span id="workflowCredentialsNoRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="workflowCredentialsRolesDiv" style="display: none;"><select id="workflowCredentialsRoles" name="workflowCredentialsRoles"></select></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["PermViewWorkflowRunsLabel"]</td>
                                        <td style="max-width: 350px">@localizer["PermViewWorkflowRunsNote"]</td>
                                        <td>@Html.DropDownListFor(m => m.ViewWorkflowRuns, Model.ViewWorkflowRunsPermissions)</td>
                                        <td></td>
                                        <td>
                                            <span id="workflowRunsNoRolesSpan">@localizer["PermissionNoRoles"]</span>
                                            <div id="workflowRunsRolesDiv" style="display: none;"><select id="workflowRunsRoles" name="workflowRunsRoles"></select></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@localizer["TwoFactorEnforcementHeader"]</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1 col-md-pull-1">
                            <p>@localizer["TwoFactorEnforcementDescription"]</p>
                        </div>
                    </div>

                    @* Guard warnings *@
                    @if (!Model.Can2FAEnforcementBeChanged)
                    {
                        <div class="alert alert-warning">
                            <i class="fa fa-lock"></i>
                            @if (!Model.ManagingUserHas2FAEnabled && !Model.CurrentUserHas2FAEnabled)
                            {
                                @localizer["Require2FABothMustEnable"]
                            }
                            else if (!Model.ManagingUserHas2FAEnabled)
                            {
                                @localizer["Require2FACannotEnableNoManagingUser2FA"]
                            }
                            else
                            {
                                @localizer["Require2FACannotEnableNoCurrentUser2FA"]
                            }
                            <small>@localizer["Require2FASettingLocked"]
                                <a asp-controller="TwoFactor" asp-action="Index" asp-route-area="User" class="alert-link">
                                    @twoFactorLocalizer["EnableAuthenticatorButton"]
                                </a>
                            </small>
                        </div>
                    }

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>@localizer["PermissionColumn"]</th>
                                    <th>@localizer["NoteColumn"]</th>
                                    <th>@localizer["ValueColumn"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@localizer["Require2FAForAdminsLabel"]</td>
                                    <td>@localizer["Require2FAForAdminsDescription"]</td>
                                    <td>
                                        @if (Model.Can2FAEnforcementBeChanged)
                                        {
                                            @Html.DropDownListFor(m => m.Require2FAForAdmins, Model.Require2FAForAdminsOptions, new { id = "require2FADropdown", @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(m => m.Require2FAForAdmins, Model.Require2FAForAdminsOptions, new { id = "require2FADropdown", @class = "form-control", disabled = "disabled" })
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/app/internal/security/resgrid.security.permissions.js" type="text/javascript"></script>
    @if (Model.IsManagingUser && Model.Can2FAEnforcementBeChanged)
    {
    <script>
        $(function () {
            $('#require2FADropdown').change(function () {
                var scope = $(this).val();
                $.get('@Url.Action("Set2FARequirement", "Security", new { area = "User" })?scope=' + scope, function (data) {
                    toastr.success('@localizer["Require2FASettingSaved"]');
                }).fail(function (xhr) {
                    if (xhr.status === 412) {
                        toastr.error('@localizer["Require2FACannotEnableNoCurrentUser2FA"]');
                    } else {
                        toastr.error('@localizer["Require2FASettingFailed"]');
                    }
                    // Reset the dropdown to its previous saved value
                    $(this).val('@Model.Require2FAForAdmins');
                }.bind(this));
            });
        });
    </script>
    }
}
