
@model Resgrid.Web.Areas.User.Models.Mapping.EditLayerView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Mapping.Mapping> localizer
@{
	ViewBag.Title = "Resgrid | " + localizer["EditLayerPageTitle"];
}

@section Styles
{
	<link rel="stylesheet" href="~/clib/mapMarkers/map-icons.css"/>

	<style>
		.map {
			height: 500px;
		}

		.icons .map-icon {
			font-size: 24px;
			line-height: 1;
			vertical-align: middle;
		}

		.icons {
			margin: 0;
			padding: 0;
			list-style: none;
		}

			.icons li {
				float: left;
				margin: 10px 0;
				padding: 0;
				width: 10%;
			}
	</style>

	<link rel="stylesheet" href="~/lib/geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css" />
}


<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
			<h2>@localizer["EditLayerHeader"]</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
			</li>
			<li>
				<a asp-controller="Mapping" asp-action="Index" asp-route-area="User">@localizer["MappingHeader"]</a>
			</li>
			<li class="active">
				<strong>@localizer["EditLayerHeader"]</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
						<form id="newLayerForm" name="newLayerForm" class="form-horizontal" role="form" asp-controller="Mapping" asp-action="EditLayer" asp-route-area="User" method="post">

						<div class="row">
							<div class="col-md-8 col-md-offset-1">

								@if (!String.IsNullOrWhiteSpace(Model.Message))
								{
									<div class="alert alert-success">
										@Model.Message
									</div>
								}
								@Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.GeoJson)
								@Html.AntiForgeryToken()
								<div asp-validation-summary="All" class="text-danger"></div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label required">
								@localizer["Name"]
							</label>
							<div class="controls">
								<div class="col-md-6">
									@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">
								@localizer["IsVisibleByDefault"]
							</label>
							<div class="controls">
								<div class="col-md-6">
									@Html.CheckBoxFor(x => x.IsOnByDefault)
									<span class="help-inline">@localizer["IsVisibleByDefaultHelp"]</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">
								@localizer["IsSearchable"]
							</label>
							<div class="controls">
								<div class="col-md-6">
									@Html.CheckBoxFor(x => x.IsSearchable)
									<span class="help-inline">@localizer["IsSearchableHelp"]</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label required">
								@localizer["Color"]
							</label>
							<div class="controls">
								<div class="col-md-6">
									@Html.TextBoxFor(x => x.Color, new { @class = "form-control" })
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label required">
								@localizer["LayerElements"]
							</label>
							<div class="col-md-12">
								<div class="map" id="mapContainer"></div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<a class="btn btn-white" asp-controller="Mapping" asp-action="Layers" asp-route-area="User">@localizer["Cancel"]</a>
								<button type="submit" id="addLayerButton" class="btn btn-primary">@localizer["EditLayerButton"]</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	@if (Model.CenterCoordinates != null && Model.CenterCoordinates.Latitude.HasValue && Model.CenterCoordinates.Longitude.HasValue)
	{
		<script type="text/javascript">
			var centerLat = @(Model.CenterCoordinates.Latitude.Value);
			var centerLng = @(Model.CenterCoordinates.Longitude.Value);
			var geoJson = '@(Model.GeoJson)';
		</script>
	}

	<script>
		$(document).ready(function () {
			$("#Color").minicolors({
				  animationSpeed: 50,
				  animationEasing: 'swing',
				  changeDelay: 0,
				  control: 'hue',
				  defaultValue: '#0080ff',
				  format: 'hex',
				  showSpeed: 100,
				  hideSpeed: 100,
				  inline: false,
				  theme: 'bootstrap'
			});

			const tiles1 = L.tileLayer(
				'@Resgrid.Config.MappingConfig.GetWebsiteOSMUrl()',
				{
					maxZoom: 19,
					attribution:
						'@Resgrid.Config.MappingConfig.LeafletAttribution',
				}
			);

			const map = L.map('mapContainer').setView([centerLat, centerLng], 13).addLayer(tiles1);

			const collection = L.geoJson(@Html.Raw(Model.GeoJson), {

			});

			collection.addTo(map);

			map.pm.addControls({
				drawMarker: true,
				drawPolygon: true,
				editMode: true,
				drawPolyline: true,
				removalMode: true,
			});

			$('#newLayerForm').on('submit', function (e) {
				e.preventDefault();
				let layers = map.pm.getGeomanLayers();

				const features = layers.map((layer) => {
					const geo = layer.toGeoJSON();
					geo.properties.shape = layer.pm.getShape();
					geo.properties.color = $('#Color').val();
					geo.properties.name = $('#Name').val();
					geo.properties.category = "default";

					switch (geo.properties.shape) {
						case "Circle": {
							geo.properties.radius = layer.getRadius();
							break;
						}
						case "Text":
							geo.properties.text = layer.pm.getText().trim();
							break;
						default:
					}

					return geo;
				});

				const featureCollection = {
					type: "FeatureCollection",
					features,
				};

				$('#GeoJson').val(JSON.stringify(featureCollection));

				this.submit();
			});
		});
	</script>

	<script src="~/lib/geoman-io/leaflet-geoman-free/dist/leaflet-geoman.min.js"></script>
}
