@model Resgrid.WebCore.Areas.User.Models.Mapping.StationRoutingView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Mapping.Mapping> localizer
@{
    ViewBag.Title = "Resgrid | " + localizer["LiveRoutingPageTitle"];
}

@section Styles
{
    <style>
        #dvMap {
            height: 500px;
        }
    </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@localizer["LiveRoutingHeader"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
            </li>
            <li>
                <a asp-controller="Mapping" asp-action="Index" asp-route-area="User">@localizer["MappingHeader"]</a>
            </li>
            <li class="active">
                <strong>@localizer["LiveRoutingHeader"]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div id="dvDistance" style="font-size:x-large; text-align: center">
                    </div>
                    <div id="dvMap">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div id="dvPanel">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        var osmTileUrl = '@Resgrid.Config.MappingConfig.GetWebsiteOSMUrl()';
        var osmTileAttribution = '@Resgrid.Config.MappingConfig.LeafletAttribution';
        var osrmUrl = '@Resgrid.Config.MappingConfig.OsrmUrl';
        var endLat = @Model.EndLat;
        var endLon = @Model.EndLon;

        function route(startLat, startLon) {
            var map = L.map('dvMap').setView([startLat, startLon], 9);
            L.tileLayer(osmTileUrl, { maxZoom: 19, attribution: osmTileAttribution }).addTo(map);

            L.marker([startLat, startLon]).addTo(map);
            L.marker([endLat, endLon]).addTo(map);

            var url = osrmUrl + '/route/v1/driving/' +
                startLon + ',' + startLat + ';' + endLon + ',' + endLat +
                '?steps=true&overview=full&geometries=geojson';

            fetch(url)
                .then(function (r) { return r.json(); })
                .then(function (data) {
                    if (data.code === 'Ok' && data.routes.length > 0) {
                        var routeData = data.routes[0];

                        var routeLayer = L.geoJSON(routeData.geometry, {
                            style: { color: '#0066cc', weight: 4, opacity: 0.8 }
                        }).addTo(map);
                        map.fitBounds(routeLayer.getBounds(), { padding: [20, 20] });

                        var distKm = (routeData.distance / 1000).toFixed(1);
                        var durationMin = Math.round(routeData.duration / 60);
                        var dvDistance = document.getElementById('dvDistance');
                        dvDistance.innerHTML = '@localizer["DistanceLabel"] ' + distKm + ' km<br />@localizer["DurationLabel"] ' + durationMin + ' min';

                        if (routeData.legs.length > 0) {
                            var steps = routeData.legs[0].steps;
                            var html = '<ol style="padding-left:20px;">';
                            for (var i = 0; i < steps.length; i++) {
                                var s = steps[i];
                                if (s.maneuver && s.maneuver.type !== 'arrive') {
                                    html += '<li>' + s.maneuver.type + (s.name ? ' onto ' + s.name : '') +
                                        ' (' + (s.distance / 1000).toFixed(1) + ' km)</li>';
                                }
                            }
                            html += '</ol>';
                            document.getElementById('dvPanel').innerHTML = html;
                        }
                    }
                })
                .catch(function (err) { console.error('Routing error:', err); });
        }

        function foundLocation(position) {
            route(position.coords.latitude, position.coords.longitude);
        }

        function noLocation() {
            console.log('Geolocation not available');
        }

        $(document).ready(function () {
            navigator.geolocation.getCurrentPosition(foundLocation, noLocation, { timeout: 5000 });
        });
    </script>
}
