@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Mapping.POIsView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Mapping.Mapping> localizer
@{
	ViewBag.Title = "Resgrid | " + localizer["POIsPageTitle"];
}


<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>@localizer["POIsHeader"]</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
			</li>
			<li>
				<a asp-controller="Mapping" asp-action="Index" asp-route-area="User">@localizer["MappingHeader"]</a>
			</li>
			<li class="active">
				<strong>@localizer["POIsHeader"]</strong>
			</li>
		</ol>
	</div>
	@if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
	{
		<div class="col-sm-8">
			<div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
				<a title="@localizer["AddPOIType"]" class="btn btn-success" asp-controller="Mapping" asp-action="AddPOIType" asp-route-area="User">@localizer["AddPOIType"]</a>
			</div>
		</div>
	}
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>
										@localizer["Name"]
									</th>
									<th>
										@localizer["Color"]
									</th>
									<th>
										@localizer["PointCount"]
									</th>
									<th class='span1'>
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var u in Model.Types)
								{
									<tr>
										<td>
											@u.Name
										</td>
										<td>
											<span style="color:@u.Color;">@u.Color</span>
										</td>
										<td>
											@u.Pois.Count
										</td>
										<td>
											<a asp-controller="Mapping" asp-action="ViewType" asp-route-area="User" asp-route-poiTypeId="@u.PoiTypeId" class="btn btn-xs btn-primary">@localizer["View"]</a>

@if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
{
											<a asp-controller="Mapping" asp-action="AddPOI" asp-route-area="User" asp-route-poiTypeId="@u.PoiTypeId" class="btn btn-xs btn-info">@localizer["Add"]</a>
											<a asp-controller="Mapping" asp-action="ImportPOIs" asp-route-area="User" asp-route-poiTypeId="@u.PoiTypeId" class="btn btn-xs btn-warning">@localizer["Import"]</a>
											<a asp-controller="Mapping" asp-action="DeletePOIType" asp-route-area="User" asp-route-poiTypeId="@u.PoiTypeId" class="btn btn-xs btn-danger" data-confirm="@localizer["DeletePOITypeConfirm"] @u.Name @localizer["DeletePOITypeSuffix"]" rel="nofollow">@localizer["Delete"]</a>
}
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts
{
	<script type='text/javascript'>
		//<![CDATA[
		$(window).load(function () {
			$('.submenu').hover(function () {
				$(this).children('ul').removeClass('submenu-hide').addClass('submenu-show');
			}, function () {
				$(this).children('ul').removeClass('.submenu-show').addClass('submenu-hide');
			}).find("a:first").append(" &raquo; ");
		});
		//]]>
	</script>
}
