@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Mapping.POIsView
@{
	ViewBag.Title = "Resgrid | POIs";
}


<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>POIs</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
			</li>
			<li>
				<a asp-controller="Mapping" asp-action="Index" asp-route-area="User">Mapping</a>
			</li>
			<li class="active">
				<strong>POIs</strong>
			</li>
		</ol>
	</div>
	@if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
	{
		<div class="col-sm-8">
			<div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
				<a title="Add a POI Type" class="btn btn-success" asp-controller="Mapping" asp-action="AddPOIType" asp-route-area="User">Add POI Type</a>
			</div>
		</div>
	}
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>
										Name
									</th>
									<th>
										Color
									</th>
									<th>
										Point Count
									</th>
									<th class='span1'>
									</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var u in Model.Types)
								{
									<tr>
										<td>
											@u.Name
										</td>
										<td>
											<span style="color:@u.Color;">@u.Color</span>
										</td>
										<td>
											@u.Pois.Count
										</td>
										<td>
											<a asp-controller="Mapping" asp-action="ViewType" asp-route-area="User" asp-route-poiTypeId="@u.PoiTypeId" class="btn btn-xs btn-primary">View</a>

@if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
{
											<a asp-controller="Mapping" asp-action="AddPOI" asp-route-area="User" asp-route-poiTypeId="@u.PoiTypeId" class="btn btn-xs btn-info">Add</a>
											<a asp-controller="Mapping" asp-action="ImportPOIs" asp-route-area="User" asp-route-poiTypeId="@u.PoiTypeId" class="btn btn-xs btn-warning">Import</a>
											<a asp-controller="Mapping" asp-action="DeletePOIType" asp-route-area="User" asp-route-poiTypeId="@u.PoiTypeId" class="btn btn-xs btn-danger" data-confirm="WARNING: This will permanently delete this POI Type and all it's positions. Are you sure you want to delete the @u.Name POI Type?" rel="nofollow">Delete</a>
}
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts
{
	<script type='text/javascript'>
		//<![CDATA[
		$(window).load(function () {
			$('.submenu').hover(function () {
				$(this).children('ul').removeClass('submenu-hide').addClass('submenu-show');
			}, function () {
				$(this).children('ul').removeClass('.submenu-show').addClass('submenu-hide');
			}).find("a:first").append(" &raquo; ");
		});
		//]]>
	</script>
}