@using Resgrid.Framework
@using Resgrid.Model
@model Resgrid.Web.Areas.User.Models.Subscription.BuyNowView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Subscription.Subscription> localizer
@{
	ViewBag.Title = "Resgrid | " + @localizer["BuyNowHeader"];
}


<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>@localizer["BuyNowHeader"]</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
			</li>
			<li>
				<a asp-controller="Subscription" asp-action="Index" asp-route-area="User">@commonLocalizer["SubAndBilling"]</a>
			</li>
			<li class="active">
				<strong>@localizer["BuyNowHeader"]</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="row">
							<div class="col-sm-12">
								<strong>@localizer["BuyFollowingHeader"]</strong>
								@if (Model.Plan.Frequency == (int)PlanFrequency.Yearly)
								{
									<p class="text-info">
										<strong>@Model.Plan.Name @localizer["For"] $@Model.Plan.Cost.ToString()<small>/@localizer["Year"]</small></strong>
									</p>
								}
								else
								{
									<p class="text-info">
										<strong>@Model.Plan.Name @localizer["For"] $@Model.Plan.Cost.ToString()<small>/@localizer["Month"]</small></strong>
									</p>
								}

								@if (Model.Payment != null && Model.FrequencyChange && Model.Payment.Plan.Frequency == (int)PlanFrequency.Yearly && Model.Plan.Frequency == (int)PlanFrequency.Monthly)
								{
									<h3>
										@localizer["NextPaymentWIllBeOn"] <label id="BillingCycle" style="display: inline; font-size: 18px; font-weight: bold;">@Model.NextBillingCycle.Value.ToShortDateString() </label><small> for </small><label id="BuyNowTotal" style="display: inline; font-size: 18px; font-weight: bold;">@Model.UpgradePrice.ToString("C", Cultures.UnitedStates)</label><small> usd</small>
									</h3>
									<p class="text-info">@localizer["SwitchingFromYearly"]</p>
								}
								else if (Model.Payment != null && Model.Payment.Plan.Frequency != (int)PlanFrequency.Never)
								{
									<h3>
										@localizer["EstimatedTotal"] <label id="BuyNowTotal" style="display: inline; font-size: 18px; font-weight: bold;">@Model.Price.ToString("C", Cultures.UnitedStates)</label><small> usd</small>
									</h3>
									<span class="help-block text-left">@localizer["EstimatedTotalWarning"]</span>
								}
								else
								{
									<h3>
										Your total is <label id="BuyNowTotal" style="display: inline; font-size: 18px; font-weight: bold;">@Model.Price.ToString("C", Cultures.UnitedStates)</label><small> usd</small>
									</h3>
								}
							</div>
						</div>


						<div class="row">
							<div class="col-md-8 col-md-offset-1 col-md-pull-1">
								@if (!String.IsNullOrEmpty(Model.Message))
								{
									<div class="alert alert-success">
										@Model.Message
									</div>
								}
								@Html.AntiForgeryToken()
								@Html.HiddenFor(m => m.PlanId)
								<div asp-validation-summary="All" class="text-danger"></div>
							</div>
						</div>


						<h3>
							 @localizer["CreditCardBillingHeader"]
						</h3>


						<div id="payment-errors" style="display:none;" class="alert alert-danger"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["BillingStreet"]</label>
							<div class="col-sm-5">
								<input class="form-control" id="credit_card_billing_address" name="credit_card_billing_address" type="text" data-val="true" data-val-required="The Billing Address field required.">

								<span class="help-inline">@localizer["BillingStreetWarning"]</span>
							</div>
						</div>


						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["BillingPostalCode"]</label><div class="controls">
								<div class="col-sm-2">
									<input class="form-control" id="credit_card_billing_zip" name="credit_card_billing_zip" type="text" data-val="true" data-val-required="The Billing Zip/Postal Code field is required.">
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["BillingCountry"]</label>
							<div class="col-sm-3">
								<select class="input-xlarge" id="country" name="country">
									<option value="US" selected="selected">United States</option>
									<option value="CA">Canada</option>
									<option value="GB">United Kingdom</option>
									<option value="AU">Australia</option>
									<option value="AF">Afghanistan</option>
									<option value="AX">Aland Islands</option>
									<option value="AL">Albania</option>
									<option value="DZ">Algeria</option>
									<option value="AS">American Samoa</option>
									<option value="AD">Andorra</option>
									<option value="AO">Angola</option>
									<option value="AI">Anguilla</option>
									<option value="AQ">Antarctica</option>
									<option value="AG">Antigua and Barbuda</option>
									<option value="AR">Argentina</option>
									<option value="AM">Armenia</option>
									<option value="AW">Aruba</option>
									<option value="AC">Ascension Island</option>
									<option value="AT">Austria</option>
									<option value="AZ">Azerbaijan</option>
									<option value="BS">Bahamas</option>
									<option value="BH">Bahrain</option>
									<option value="BD">Bangladesh</option>
									<option value="BB">Barbados</option>
									<option value="BY">Belarus</option>
									<option value="BE">Belgium</option>
									<option value="BZ">Belize</option>
									<option value="BJ">Benin</option>
									<option value="BM">Bermuda</option>
									<option value="BT">Bhutan</option>
									<option value="BO">Bolivia, Plurinational State of</option>
									<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
									<option value="BA">Bosnia and Herzegovina</option>
									<option value="BW">Botswana</option>
									<option value="BV">Bouvet Island</option>
									<option value="BR">Brazil</option>
									<option value="IO">British Indian Ocean Territory</option>
									<option value="BN">Brunei Darussalam</option>
									<option value="BG">Bulgaria</option>
									<option value="BF">Burkina Faso</option>
									<option value="BI">Burundi</option>
									<option value="KH">Cambodia</option>
									<option value="CM">Cameroon</option>
									<option value="CV">Cape Verde</option>
									<option value="KY">Cayman Islands</option>
									<option value="CF">Central African Republic</option>
									<option value="TD">Chad</option>
									<option value="CL">Chile</option>
									<option value="CN">China</option>
									<option value="CX">Christmas Island</option>
									<option value="CC">Cocos (Keeling) Islands</option>
									<option value="CO">Colombia</option>
									<option value="KM">Comoros</option>
									<option value="CG">Congo</option>
									<option value="CD">Congo, the Democratic Republic of the</option>
									<option value="CK">Cook Islands</option>
									<option value="CR">Costa Rica</option>
									<option value="CI">Côte d'Ivoire</option>
									<option value="HR">Croatia</option>
									<option value="CU">Cuba</option>
									<option value="CW">Curaçao</option>
									<option value="CY">Cyprus</option>
									<option value="CZ">Czech Republic</option>
									<option value="DK">Denmark</option>
									<option value="DJ">Djibouti</option>
									<option value="DM">Dominica</option>
									<option value="DO">Dominican Republic</option>
									<option value="EC">Ecuador</option>
									<option value="EG">Egypt</option>
									<option value="SV">El Salvador</option>
									<option value="GQ">Equatorial Guinea</option>
									<option value="ER">Eritrea</option>
									<option value="EE">Estonia</option>
									<option value="ET">Ethiopia</option>
									<option value="FK">Falkland Islands (Malvinas)</option>
									<option value="FO">Faroe Islands</option>
									<option value="FJ">Fiji</option>
									<option value="FI">Finland</option>
									<option value="FR">France</option>
									<option value="GF">French Guiana</option>
									<option value="PF">French Polynesia</option>
									<option value="TF">French Southern Territories</option>
									<option value="GA">Gabon</option>
									<option value="GM">Gambia</option>
									<option value="GE">Georgia</option>
									<option value="DE">Germany</option>
									<option value="GH">Ghana</option>
									<option value="GI">Gibraltar</option>
									<option value="GR">Greece</option>
									<option value="GL">Greenland</option>
									<option value="GD">Grenada</option>
									<option value="GP">Guadeloupe</option>
									<option value="GU">Guam</option>
									<option value="GT">Guatemala</option>
									<option value="GG">Guernsey</option>
									<option value="GN">Guinea</option>
									<option value="GW">Guinea-Bissau</option>
									<option value="GY">Guyana</option>
									<option value="HT">Haiti</option>
									<option value="HM">Heard Island and McDonald Islands</option>
									<option value="VA">Holy See (Vatican City State)</option>
									<option value="HN">Honduras</option>
									<option value="HK">Hong Kong</option>
									<option value="HU">Hungary</option>
									<option value="IS">Iceland</option>
									<option value="IN">India</option>
									<option value="ID">Indonesia</option>
									<option value="IR">Iran, Islamic Republic of</option>
									<option value="IQ">Iraq</option>
									<option value="IE">Ireland</option>
									<option value="IM">Isle of Man</option>
									<option value="IL">Israel</option>
									<option value="IT">Italy</option>
									<option value="JM">Jamaica</option>
									<option value="JP">Japan</option>
									<option value="JE">Jersey</option>
									<option value="JO">Jordan</option>
									<option value="KZ">Kazakhstan</option>
									<option value="KE">Kenya</option>
									<option value="KI">Kiribati</option>
									<option value="KP">Korea, Democratic People's Republic of</option>
									<option value="KR">Korea, Republic of</option>
									<option value="KV">Kosovo</option>
									<option value="KW">Kuwait</option>
									<option value="KG">Kyrgyzstan</option>
									<option value="LA">Lao People's Democratic Republic</option>
									<option value="LV">Latvia</option>
									<option value="LB">Lebanon</option>
									<option value="LS">Lesotho</option>
									<option value="LR">Liberia</option>
									<option value="LY">Libya</option>
									<option value="LI">Liechtenstein</option>
									<option value="LT">Lithuania</option>
									<option value="LU">Luxembourg</option>
									<option value="MO">Macao</option>
									<option value="MK">Macedonia, The Former Yugoslav Republic Of</option>
									<option value="MG">Madagascar</option>
									<option value="MW">Malawi</option>
									<option value="MY">Malaysia</option>
									<option value="MV">Maldives</option>
									<option value="ML">Mali</option>
									<option value="MT">Malta</option>
									<option value="MH">Marshall Islands</option>
									<option value="MQ">Martinique</option>
									<option value="MR">Mauritania</option>
									<option value="MU">Mauritius</option>
									<option value="YT">Mayotte</option>
									<option value="MX">Mexico</option>
									<option value="FM">Micronesia, Federated States of</option>
									<option value="MD">Moldova, Republic of</option>
									<option value="MC">Monaco</option>
									<option value="MN">Mongolia</option>
									<option value="ME">Montenegro</option>
									<option value="MS">Montserrat</option>
									<option value="MA">Morocco</option>
									<option value="MZ">Mozambique</option>
									<option value="MM">Myanmar</option>
									<option value="NA">Namibia</option>
									<option value="NR">Nauru</option>
									<option value="NP">Nepal</option>
									<option value="NL">Netherlands</option>
									<option value="AN">Netherlands Antilles</option>
									<option value="NC">New Caledonia</option>
									<option value="NZ">New Zealand</option>
									<option value="NI">Nicaragua</option>
									<option value="NE">Niger</option>
									<option value="NG">Nigeria</option>
									<option value="NU">Niue</option>
									<option value="NF">Norfolk Island</option>
									<option value="MP">Northern Mariana Islands</option>
									<option value="NO">Norway</option>
									<option value="OM">Oman</option>
									<option value="PK">Pakistan</option>
									<option value="PW">Palau</option>
									<option value="PS">Palestinian Territory, Occupied</option>
									<option value="PA">Panama</option>
									<option value="PG">Papua New Guinea</option>
									<option value="PY">Paraguay</option>
									<option value="PE">Peru</option>
									<option value="PH">Philippines</option>
									<option value="PN">Pitcairn</option>
									<option value="PL">Poland</option>
									<option value="PT">Portugal</option>
									<option value="PR">Puerto Rico</option>
									<option value="QA">Qatar</option>
									<option value="RE">Reunion</option>
									<option value="RO">Romania</option>
									<option value="RU">Russian Federation</option>
									<option value="RW">Rwanda</option>
									<option value="BL">Saint Barthelemy</option>
									<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
									<option value="KN">Saint Kitts and Nevis</option>
									<option value="LC">Saint Lucia</option>
									<option value="MF">Saint Martin (French part)</option>
									<option value="PM">Saint Pierre and Miquelon</option>
									<option value="VC">Saint Vincent and the Grenadines</option>
									<option value="WS">Samoa</option>
									<option value="SM">San Marino</option>
									<option value="ST">Sao Tome and Principe</option>
									<option value="SA">Saudi Arabia</option>
									<option value="SN">Senegal</option>
									<option value="RS">Serbia</option>
									<option value="SC">Seychelles</option>
									<option value="SL">Sierra Leone</option>
									<option value="SG">Singapore</option>
									<option value="SX">Sint Maarten (Dutch part)</option>
									<option value="SK">Slovakia</option>
									<option value="SI">Slovenia</option>
									<option value="SB">Solomon Islands</option>
									<option value="SO">Somalia</option>
									<option value="ZA">South Africa</option>
									<option value="GS">South Georgia and the South Sandwich Islands</option>
									<option value="SS">South Sudan, Republic of</option>
									<option value="ES">Spain</option>
									<option value="LK">Sri Lanka</option>
									<option value="SD">Sudan</option>
									<option value="SR">Suriname</option>
									<option value="SJ">Svalbard and Jan Mayen</option>
									<option value="SZ">Swaziland</option>
									<option value="SE">Sweden</option>
									<option value="CH">Switzerland</option>
									<option value="SY">Syrian Arab Republic</option>
									<option value="TW">Taiwan</option>
									<option value="TJ">Tajikistan</option>
									<option value="TZ">Tanzania, United Republic of</option>
									<option value="TH">Thailand</option>
									<option value="TL">Timor-Leste</option>
									<option value="TG">Togo</option>
									<option value="TK">Tokelau</option>
									<option value="TO">Tonga</option>
									<option value="TT">Trinidad and Tobago</option>
									<option value="TA">Tristan da Cunha</option>
									<option value="TN">Tunisia</option>
									<option value="TR">Turkey</option>
									<option value="TM">Turkmenistan</option>
									<option value="TC">Turks and Caicos Islands</option>
									<option value="TV">Tuvalu</option>
									<option value="UG">Uganda</option>
									<option value="UA">Ukraine</option>
									<option value="AE">United Arab Emirates</option>
									<option value="UM">United States Minor Outlying Islands</option>
									<option value="UY">Uruguay</option>
									<option value="UZ">Uzbekistan</option>
									<option value="VU">Vanuatu</option>
									<option value="VE">Venezuela, Bolivarian Republic of</option>
									<option value="VN">Viet Nam</option>
									<option value="VG">Virgin Islands, British</option>
									<option value="VI">Virgin Islands, U.S.</option>
									<option value="WF">Wallis and Futuna</option>
									<option value="EH">Western Sahara</option>
									<option value="YE">Yemen</option>
									<option value="ZM">Zambia</option>
									<option value="ZW">Zimbabwe</option>
								</select>

							</div>
						</div>


						<div class="alert alert-info">
							@localizer["SSLInfo"]
						</div>


						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["FirstNameCard"]</label>
							<div class="col-sm-2">
								<input class="form-control" id="credit_card_first_name" name="credit_card_first_name" type="text" data-val="true" data-val-required="The Card First name field is required.">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["LastNameCard"]</label>
							<div class="col-sm-2">
								<input class="form-control" id="credit_card_last_name" name="credit_card_last_name" type="text" data-val="true" data-val-required="The Last name on card field is required.">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="card-number">@localizer["CCNumber"]</label>
							<div class="col-sm-3">
								<input class="form-control" id="card-number" name="card-number" type="text" data-val="true" data-val-required="The Card number field is required.">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label" for="card-cvc">@localizer["CCVCode"]</label>
							<div class="col-sm-2">
								<input class="form-control" id="card-cvc" name="card-cvc" type="text" data-val="true" data-val-required="The CVV field is required.">
								<span class="help-block m-b-none">@localizer["CCVCodeInfo"] (<a href="http://www.cvvnumber.com/cvv.html" target="_blank">@localizer["CCVCodeMoreInfo"]</a>)</span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-2 control-label">
								<label>
									<span>@localizer["CCExpiration"]</span>
								</label>
							</div>
							<div class="col-sm-10">
								<div class="col-sm-8">
									<select id="card-expiry-month" name="card-expiry-month" style="width:150px;">
										<option selected="selected" value="1">1 - January</option>
										<option value="2">2 - February</option>
										<option value="3">3 - March</option>
										<option value="4">4 - April</option>
										<option value="5">5 - May</option>
										<option value="6">6 - June</option>
										<option value="7">7 - July</option>
										<option value="8">8 - August</option>
										<option value="9">9 - September</option>
										<option value="10">10 - October</option>
										<option value="11">11 - November</option>
										<option value="12">12 - December</option>
									</select>
									&nbsp;
									<select id="card-expiry-year" name="card-expiry-year" style="width:90px;">
										<option value="2023">2023</option>
										<option selected="selected" value="2024">2024</option>
										<option value="2025">2025</option>
										<option value="2026">2026</option>
										<option value="2027">2027</option>
										<option value="2028">2028</option>
										<option value="2029">2029</option>
										<option value="2030">2030</option>
										<option value="2031">2031</option>
										<option value="2032">2032</option>
										<option value="2033">2033</option>
										<option value="2034">2034</option>
										<option value="2035">2035</option>
										<option value="2036">2036</option>
										<option value="2037">2037</option>
									</select>

								</div>
							</div>
							<div class="span2">
							</div>
						</div>


						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<a class="btn btn-white" asp-controller="Subscription" asp-action="Index" asp-route-area="User">@commonLocalizer["Cancel"]</a>
								<button class="btn btn-primary" type="submit" id="submit-button" name="submit-button">@localizer["BuyNow"]</button>
							</div>
						</div>
					<div style="border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; margin-bottom: -12px; margin-left: -15px; margin-right: -15px; background-color: #a2a2a2; padding-top: 1px; padding-left: 15px; padding-right: 15px; padding-bottom: 15px; color: #ffffff">
						<div class="row">
							<div class="col-xs-12 col-sm-2">

							</div>
							<div class="col-xs-12 col-sm-1" style="margin-right:20px;">
								<img src="@Url.Content("~/images/Store/100_satisfaction_guarantee.png")" height="75" width="75" />
							</div>
							<div class="col-xs-12 col-sm-4 text-center">
								<img src="@Url.Content("~/images/Store/visa_48.png")" />
								<img src="@Url.Content("~/images/Store/mastercard_48.png")" />
								<img src="@Url.Content("~/images/Store/american_express_48.png")" />
								<img src="@Url.Content("~/images/Store/discover_48.png")" />
								<img src="@Url.Content("~/images/Store/diners_club_48.png")" />
								<img src="@Url.Content("~/images/Store/jcb_48.png")" />
							</div>
							<div class="col-xs-12 col-sm-2">
								<img src="@Url.Content("~/images/Store/ssl_certificate_001_400_x_400.png")" height="75" width="75" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script type="text/javascript">
		Stripe.setPublishableKey('@Model.StripeKey');

		$(document).ready(function () {
			$('select').select2();

			$('#coupon_code').blur(function () {
				var coupon = $('#coupon_code').val();

				if (coupon) {
					$.ajax({
						url: '/User/Subscription/ValidateCoupon?couponCode=' + coupon,
						contentType: 'application/json; charset=utf-8',
						type: 'GET'
					}).done(function (data) {
						if (data !== 'Valid') {
							$('#couponCodeHelp').show();
							$('#coupon_code').addClass('input-validation-error');
							$('#submit-button').attr("disabled", "disabled");

						} else {
							$('#couponCodeHelp').hide();
							$('#coupon_code').removeClass('input-validation-error');
							$("#submit-button").removeAttr("disabled");
						}
					});
				} else {
					$('#couponCodeHelp').hide();
					$('#coupon_code').removeClass('input-validation-error');
					$("#submit-button").removeAttr("disabled");
				}
			});

			$("#payment-form").submit(function (event) {
				// disable the submit button to prevent repeated clicks
				$('#submit-button').attr("disabled", "disabled");

				var number = $('#card-number').val();
				var cvc = $('#card-cvc').val();
				var expmonth = $('#card-expiry-month').val();
				var expyear = $('#card-expiry-year').val();
				var cardName = $('#credit_card_first_name').val() + " " + $('#credit_card_last_name').val();
				var address = $('#credit_card_billing_address').val();
				var zip = $('#credit_card_billing_zip').val();
				var country = $('#country').val();

				Stripe.card.createToken({
					number: number,
					cvc: cvc,
					exp_month: expmonth,
					exp_year: expyear,
					name: cardName,
					address_line1: address,
					address_zip: zip,
					address_country: country
				}, stripeResponseHandler);

				// prevent the form from submitting with the default action
				return false;
			});
		});

		function stripeResponseHandler(status, response) {
			$.ajax({
				url: '/User/Subscription/LogStripeResponse',
				contentType: 'application/json',
				type: 'POST',
				data: JSON.stringify({
					status: JSON.stringify(status),
					response: JSON.stringify(response)
				})
			});
			if (response.error) {
				// show the errors on the form
				$("#payment-errors").text(response.error.message);
				$("#payment-errors").show();

				$("#submit-button").removeAttr("disabled");
			} else {
				var form$ = $("#payment-form");
				// token contains id, last4, and card type
				var token = response['id'];
				// insert the token into the form so it gets submitted to the server
				form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");

				var radio = $('.buyNowRadio');

				if (radio) {
					if ($('.buyNowRadio').is(':checked')) {
						form$.append("<input type='hidden' name='IsUpgrade' value='false'/>");
					} else {
						form$.append("<input type='hidden' name='IsUpgrade' value='true'/>");
					}
				}

				// and submit
				form$.get(0).submit();
			}
		}

		function setUpgradePrice() {
			$("#BuyNowTotal").text('@Model.UpgradePrice.ToString("C", Cultures.UnitedStates)');
		}

		function setBuyNowPrice() {
			$("#BuyNowTotal").text('@Model.Plan.Cost.ToString("C", Cultures.UnitedStates)');
		}
	</script>
}
