@using Resgrid.Framework
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Notes.IndexView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Notes.Note> localizer
@{
    ViewBag.Title = "Resgrid | " + @commonLocalizer["NotesModule"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@commonLocalizer["NotesModule"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
            </li>
            <li>
                @commonLocalizer["NotesModule"]
            </li>
            <li class="active">
                <strong>@commonLocalizer["NotesModule"]</strong>
            </li>
        </ol>
    </div>
    @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
    {
        <div class="col-sm-8">
            <div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
                <a title="@localizer["NewNoteHelp"]" class="btn btn-success" asp-controller="Notes" asp-action="NewNote" asp-route-area="User">@localizer["NewNewHeader"]</a>
            </div>
        </div>
    }
</div>
<div class="wrapper wrapper-content animated fadeInUp">
    <ul class="notes">
        @{
            int itemCounter = 0;
        }
        @foreach (var note in Model.Notes)
        {
            if (note.IsAdminOnly == false || (note.IsAdminOnly == true && ClaimsAuthorizationHelper.IsUserDepartmentAdmin()))
            {
                <li>
                    <div>
                        <small>@note.AddedOn.TimeConverter(note.Department).ToShortDateString()</small>
                        <h4>@note.Title.Truncate(50)</h4>
                        <p>@StringHelpers.StripHtmlTagsCharArray(note.Body).Truncate(100)</p>

                        <a title="@commonLocalizer["View"]" class="btn btn-info noteButton" asp-controller="Notes" asp-action="View" asp-route-area="User" asp-route-noteId="@note.NoteId">@commonLocalizer["View"]</a>
                    </div>
                </li>
            }
            itemCounter++;
        }
    </ul>
</div>
