@using Resgrid.Model
@model Resgrid.Web.Areas.User.Models.DepartmentSettingsModel
@{
  ViewBag.Title = "Resgrid | Department Settings";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Department Settings</h2>
    <ol class="breadcrumb">
      <li>
        <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
      </li>
      <li class="active">
        <strong>Department Settings</strong>
      </li>
    </ol>
  </div>
</div>

<form role="form" class="form-horizontal" asp-controller="Department" asp-action="Settings" asp-route-area="User" method="post">
  <div class="row">
    <div class="col-sm-8">
      <div class="wrapper wrapper-content">
        <div class="ibox float-e-margins">
          <div class="ibox-content">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Department.Address.AddressId)
            @Html.HiddenFor(m => m.Department.DepartmentId)
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Department Name</label>
              <div class="col-sm-10"><input type="text" class="form-control" placeholder="Name of the Department" asp-for="Department.Name"></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Time Zone</label>
              <div class="col-sm-10"><select asp-for="Department.TimeZone" asp-items="ViewBag.TimeZones" style="padding-left: 0; width: 100%;"></select></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Use 24-Hour Time</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-10">
                    <input type="checkbox" asp-for="Use24HourTime">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Managing User</label>
              <div class="col-sm-10"><select asp-for="Department.ManagingUserId" asp-items="ViewBag.Users" style="padding-left: 0; width: 100%;"></select></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Disable Auto-Available</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-10">
                    <input type="checkbox" asp-for="DisableAutoAvailable">
                  </div>
                </div>
                <span class="help-block m-b-none">Disable automatically setting personnel's status to Available after an hour</span>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <h3>
              Sorting
            </h3>
            <div class="form-group">
              <label class="col-sm-2 control-label">Personnel Sorting</label>
              <div class="col-sm-10"><select asp-for="PersonnelSort" asp-items="Model.PersonnelSortTypes" style="padding-left: 0; width: 100%;"></select></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Unit Sorting</label>
              <div class="col-sm-10"><select asp-for="UnitsSort" asp-items="Model.UnitSortTypes" style="padding-left: 0; width: 100%;"></select></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Call Sorting</label>
              <div class="col-sm-10"><select asp-for="CallsSort" asp-items="Model.CallSortTypes" style="padding-left: 0; width: 100%;"></select></div>
            </div>
            <div class="hr-line-dashed"></div>

            <h3>
              Address
            </h3>
            <div class='row'>
              <div class="col-md-12">
                <p>This is the address of your department; it could be the address of a single station or your district office. This address is used to help locate your district and area, and is used as a fallback for some operations (i.e. centering the big board).</p>
              </div>
            </div>
            <div id="departmentAddressFailure" class="alert alert-warning" style="display: none;">
              We were unable verify the address supplied. Check to ensure it's correct before you continue.
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label required">
                Street
              </label>
              <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Department.Address.Address1, new { @class = "form-control" })
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label required">
                City
              </label>
              <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Department.Address.City, new { @class = "form-control" })
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label required">
                State/Province
              </label>
              <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Department.Address.State, new { @class = "form-control" })
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label required">
                Zip/Postal Code
              </label>
              <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Department.Address.PostalCode, new { @class = "form-control" })
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label required">
                Country
              </label>
              <div class="col-sm-10">
                <select asp-for="Department.Address.Country" asp-items="ViewBag.Countries" style="padding-left: 0; width: 100%;"></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                Default Map Center GPS Coordinates
              </label>
              <div class="col-sm-10">
                <div class="col-md-5">
                  <input type="text" class="form-control" placeholder="Mapping Center Latitude" asp-for="MapCenterGpsCoordinatesLatitude">
                  <span class="help-inline">Latitude (Decimal Notation: i.e. 39.1517)</span>
                </div>
                <div class="col-md-5">
                  <input type="text" class="form-control" placeholder="Mapping Center Longitude" asp-for="MapCenterGpsCoordinatesLongitude">
                  <span class="help-inline">Longitude (Decimal Notation: i.e. -119.4571)</span>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a class="btn btn-white" asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Cancel</a>
                <button class="btn btn-primary" type="submit">Save Settings</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Personnel Staffing Reset</h5>
          </div>
          <div class="ibox-content">
            <div class='row'>
              <div class="col-md-12">
                <p>If you need to reset all your personnel's staffing level every day, you can configure it here. An example would be resetting staffing to unavailable every day so that for red-flag days you are sure personnel that are marked available happened after the reset.</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Reset Staffing Daily?</label>
              <div class="col-sm-8">
                <div class="switch">
                  <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" asp-for="EnableStaffingReset">
                    <label class="onoffswitch-label" for="EnableStaffingReset">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Time to Reset Staffing</label>
              <div class="col-sm-8">
                <input type="text" asp-for="TimeToResetStaffing" onkeydown="javascript:return false;" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Reset Staffing Level To</label>
              <div class="col-sm-8">
                @Html.DropDownListFor(m => m.ResetStaffingTo, Model.StaffingLevels, new { style = "width: 100%" })
              </div>
            </div>

          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>Personnel Status Reset</h5>
          </div>
          <div class="ibox-content">
            <div class='row'>
              <div class="col-md-12">
                <p>If you need to reset all your personnel's statuses every day, you can configure it here. An example would be resetting status to "Standing By" every day so that you know personnel status is reset.</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Reset Status Daily?</label>
              <div class="col-sm-8">
                <div class="switch">
                  <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" asp-for="EnableStatusReset">
                    <label class="onoffswitch-label" for="EnableStatusReset">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Time to Reset Status</label>
              <div class="col-sm-8">
                <input type="text" asp-for="TimeToResetStatus" onkeydown="javascript:return false;" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Reset Status To</label>
              <div class="col-sm-8">
                @Html.DropDownListFor(m => m.ResetStatusTo, Model.StatusLevels, new { style = "width: 100%" })
              </div>
            </div>

          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>Force Department Update</h5>
          </div>
          <div class="ibox-content">
            <div class='row'>
              <div class="col-md-12">
                <p>Resgrid caches some department data to increase performance. Some examples of data that is cached is staffing levels, department settings, personnel roles\groups\names. If you have issues where some department data is incorrect you might want to clear your departments cache.</p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button class="btn btn-w-m btn-block btn-danger" type="button" onclick="resgrid.department.settings.refreshDepartmentCache();">Force Department Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

@section Scripts
{
  <script src="~/js/app/internal/department/resgrid.department.settings.js" type="text/javascript"></script>
}
