@model Resgrid.WebCore.Areas.User.Models.Links.NewLinksView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Links.Links> localizer
@{
    ViewBag.Title = "Resgrid | " + localizer["NewDepartmentLinkTitle"];
}

@section Styles
{
    <style>
        .k-select {
            line-height: 1.5em !important;
        }
    </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@localizer["NewDepartmentLinkTitle"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["Home"]</a>
            </li>
            <li>
                <a asp-controller="Links" asp-action="Index" asp-route-area="User">@localizer["DepartmentLinks"]</a>
            </li>
            <li class="active">
                <strong>@localizer["NewDepartmentLinkTitle"]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" asp-controller="Links" asp-action="New" asp-route-area="User" method="post">

                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                <div class="alert alert-warning">
                                    @localizer["NewLinkDescription"]
                                </div>
                                @if (!String.IsNullOrEmpty(Model.Message))
                                {
                                    <div class="alert alert-danger">
                                        @Model.Message
                                    </div>
                                }
                                @Html.AntiForgeryToken()
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["LinkCode"]</label>
                            <div class="col-sm-2"><input type="text" class="form-control" asp-for="LinkCode" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["TypeColor"]</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" asp-for="Link.DepartmentColor" />
                                <span class="help-block m-b-none">@localizer["TypeColorHelp"]</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["ShareCalls"]</label>
                            <div class="col-sm-10">
                                <input type="checkbox" asp-for="Link.DepartmentShareCalls">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@localizer["ShareUnits"]</label>
                            <div class="col-sm-10">
                                <input type="checkbox" asp-for="Link.DepartmentShareUnits">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["SharePersonnel"]
                            </label>
                            <div class="col-sm-10">
                                <input type="checkbox" asp-for="Link.DepartmentSharePersonnel">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                @localizer["ShareOrders"]
                            </label>
                            <div class="col-sm-10">
                                <input type="checkbox" asp-for="Link.DepartmentShareOrders">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white" asp-controller="Links" asp-action="Index" asp-route-area="User">@commonLocalizer["Cancel"]</a>
                                <button class="btn btn-primary" type="submit">@localizer["SaveLink"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#Link_DepartmentColor").minicolors({
                animationSpeed: 50,
                animationEasing: 'swing',
                changeDelay: 0,
                control: 'hue',
                defaultValue: '#0080ff',
                format: 'hex',
                showSpeed: 100,
                hideSpeed: 100,
                inline: false,
                theme: 'bootstrap'
            });
        });
    </script>
}
