@model Resgrid.WebCore.Areas.User.Models.Links.LinkDataView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Links.Links> localizer
@{
  ViewBag.Title = "Resgrid | " + localizer["ViewDepartmentLinkTitle"];
}

@section Styles
{
  <style>
	.k-select {
	  line-height: 1.5em !important;
	}
  </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>@localizer["ViewDepartmentLinkTitle"]</h2>
    <ol class="breadcrumb">
      <li>
        <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["Home"]</a>
      </li>
      <li>
        <a asp-controller="Links" asp-action="Index" asp-route-area="User">@localizer["DepartmentLinks"]</a>
      </li>
      <li class="active">
        <strong>@localizer["ViewDepartmentLinkTitle"]</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>@localizer["Calls"]</h5>
        </div>
        <div class="ibox-content">
          <div id="callsList"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>@localizer["Units"]</h5>
        </div>
        <div class="ibox-content">
          <div id="unitsList"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>@localizer["Personnel"]</h5>
        </div>
        <div class="ibox-content">
          <div id="personnelList"></div>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts
{

  <script>
		var linkId = @Model.Link.DepartmentId;
  </script>
  <script src="~/js/app/internal/links/resgrid.links.viewdata.js" type="text/javascript"></script>
}
