@using Resgrid.Framework
@using Resgrid.Model
@using Resgrid.Web.Helpers
@using Microsoft.Extensions.Localization
@model Resgrid.Web.Areas.User.Models.Logs.LogsIndexView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Reports.FlaggedReport> flaggedReportLocalizer
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Reports.Reports> localizer
@{
    ViewBag.Title = "Resgrid | " + localizer["ReportingTitle"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@localizer["ReportingTitle"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["Home"]</a>
            </li>
            <li class="active">
                <strong>@localizer["ReportingTitle"]</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>@commonLocalizer["Name"]</th>
                                <th>@commonLocalizer["Description"]</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="@Url.Action("ActionLogsParams", "Reports", new { Area = "User" })">@localizer["PersonnelStatusHistoryReportName"]</a>
                                </td>
                                <td>
                                    @localizer["PersonnelStatusHistoryReportDescription"]
                                </td>
                                <td>
                                    <a href="@Url.Action("ActionLogsParams", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                </td>
                            </tr>
                            @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("PersonnelReport", "Reports", new { Area = "User" })">@localizer["PersonnelReportName"]</a>
                                    </td>
                                    <td>
                                        @localizer["PersonnelReportDescription"]
                                    </td>
                                    <td>
                                        <a href="@Url.Action("PersonnelReport", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <a href="@Url.Action("StaffingReport", "Reports", new { Area = "User" })">@localizer["StaffingReportName"]</a>
                                </td>
                                <td>
                                    @localizer["StaffingReportDescription"]
                                </td>
                                <td>
                                    <a href="@Url.Action("StaffingReport", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("CertificationsReport", "Reports", new { Area = "User" })">@localizer["CertificationsReportName"]</a>
                                </td>
                                <td>
                                    @localizer["CertificationsReportDescription"]
                                </td>
                                <td>
                                    <a href="@Url.Action("CertificationsReport", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("UpcomingShiftReadinessReport", "Reports", new { Area = "User" })">@localizer["ShiftReadinessReportName"]</a>
                                </td>
                                <td>
                                    @localizer["ShiftReadinessReportDescription"]
                                </td>
                                <td>
                                    <a href="@Url.Action("UpcomingShiftReadinessReport", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("DepartmentActivityReport", "Reports", new { Area = "User" })">@localizer["DepartmentActivityReportName"]</a>
                                </td>
                                <td>
                                    @localizer["DepartmentActivityReportDescription"]
                                </td>
                                <td>
                                    <a href="@Url.Action("DepartmentActivityReport", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("PersonnelHoursReportParams", "Reports", new { Area = "User" })">@localizer["PersonnelHoursReportName"]</a>
                                </td>
                                <td>
                                    @localizer["PersonnelHoursReportDescription"]
                                </td>
                                <td>
                                    <a href="@Url.Action("PersonnelHoursReportParams", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("CallSummaryReportParams", "Reports", new { Area = "User" })">@localizer["CallSummaryReportName"]</a>
                                </td>
                                <td>
                                    @localizer["CallSummaryReportDescription"]
                                </td>
                                <td>
                                    <a href="@Url.Action("CallSummaryReportParams", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("PersonnelStaffingHistoryReportParams", "Reports", new { Area = "User" })">@localizer["PersonnelStaffingHistoryReportName"]</a>
                                </td>
                                <td>
                                    @localizer["PersonnelStaffingHistoryReportDescription"]
                                </td>
                                <td>
                                    <a href="@Url.Action("PersonnelStaffingHistoryReportParams", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("UnitStateHistoryReportParams", "Reports", new { Area = "User" })">@localizer["UnitStateHistoryReportName"]</a>
                                </td>
                                <td>
                                    @localizer["UnitStateHistoryReportDescription"]
                                </td>
                                <td>
                                    <a href="@Url.Action("UnitStateHistoryReportParams", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("ActiveCallsResourcesReport", "Reports", new { Area = "User" })">@localizer["ActiveCallsResourcesReportName"]</a>
                                </td>
                                <td>
                                    @localizer["ActiveCallsResourcesReportDescription"]
                                </td>
                                <td>
                                    <a href="@Url.Action("ActiveCallsResourcesReport", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                </td>
                            </tr>
                            @if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("FlaggedCallNotesReportParams", "Reports", new { Area = "User" })">@flaggedReportLocalizer["ReportTitle"]</a>
                                    </td>
                                    <td>
                                        @flaggedReportLocalizer["ReportIndexDescription"]
                                    </td>
                                    <td>
                                        <a href="@Url.Action("FlaggedCallNotesReportParams", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <a href="@Url.Action("EventAttendanceReportParams", "Reports", new { Area = "User" })">@localizer["EventAttendanceReportName"]</a>
                                </td>
                                <td>
                                    @localizer["EventAttendanceReportDescription"]
                                </td>
                                <td>
                                    <a href="@Url.Action("EventAttendanceReportParams", "Reports", new { Area = "User" })" class=" btn btn-primary btn-sm"><i class="icon-eye-open"></i> @localizer["ViewReport"]</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{

}
