@using Resgrid.Model.Helpers
@using Resgrid.Web
@using Resgrid.Web.Helpers
@using Microsoft.Extensions.Localization
@model Resgrid.Web.Areas.User.Models.Reports.Personnel.PersonnelEventsReportView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Reports.Reports> localizer
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@localizer["PersonnelEventsReportTitle"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@localizer["PersonnelEventsReportTitle"]">
    <meta name="author" content="Resgrid">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          crossorigin="anonymous"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="hidden"
          asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />

    <style>
        .table th, .table td {
            padding: 8px !important;
            line-height: 20px !important;
            text-align: left !important;
            vertical-align: top !important;
        }
    </style>

    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <link rel="apple-touch-icon" href="@Url.Content("~/apple-touch-icon-iphone.png")" />
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/apple-touch-icon-ipad.png")" />
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/apple-touch-icon-iphone4.png")" />
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/apple-touch-icon-ipad3.png")" />
</head>
<body>
    <div class="content">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <img src="@Url.Content("~/images/Resgrid_JustText_small.png")" title="Resgrid Logo" style="margin-top: 10px; margin-bottom: 5px;" alt="Resgrid Logo">
            </div>
            <div class="col-md-5" style="text-align: right;">
                @if (Model.Rows != null && Model.Rows.Count > 0)
                {
                    <h3 style="margin-top: 10px;">@Model.Rows[0].PersonName Events Report</h3>
                }
                else
                {
                    <h3 style="margin-top: 10px;">@localizer["PersonnelEventsReportTitle"]</h3>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>@localizer["StatusHeader"]</th>
                            <th>@localizer["DestinationCallHeader"]</th>
                            <th>@localizer["TimestampHeader"]</th>
                            <th>@localizer["LocationHeader"]</th>
                            <th>@localizer["NoteHeader"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Rows != null)
                        {
                            @foreach (var row in Model.Rows)
                            {
                                <tr>
                                    <td>@row.State</td>
                                    <td>@row.DestinationName</td>
                                    <td>@row.Timestamp</td>
                                    <td>@row.Latitude,@row.Longitude</td>
                                    <td>@row.Note</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="text-align: right;">
                @Model.RunOn.FormatForDepartment(Model.Department)
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
