@using Resgrid.Model.Helpers
@using Resgrid.Web
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Reports.Personnel.PersonnelHoursView
@{
	Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	<title>Personnel Hours Report</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Personnel Hours Report">
	<meta name="author" content="Resgrid">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
				crossorigin="anonymous"
				asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
				asp-fallback-test-class="hidden"
				asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />

	<link rel="stylesheet" href="~/clib/kendo/styles/kendo.common.min.css" />
	<link rel="stylesheet" href="~/clib/kendo/styles/kendo.bootstrap.min.css" />
	<link rel="stylesheet" href="~/clib/kendo/styles/kendo.dataviz.min.css" />
	<link rel="stylesheet" href="~/clib/kendo/styles/kendo.dataviz.bootstrap.min.css" />

	<style>
		.table th, .table td {
			padding: 8px !important;
			line-height: 20px !important;
			text-align: left !important;
			vertical-align: top !important;
		}
	</style>

	<!--[if lt IE 9]>
		<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
	<link rel="apple-touch-icon" href="@Url.Content("~/apple-touch-icon-iphone.png")" />
	<link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/apple-touch-icon-ipad.png")" />
	<link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/apple-touch-icon-iphone4.png")" />
	<link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/apple-touch-icon-ipad3.png")" />
</head>
<body>
	<div class="content">
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<img src="@Url.Content("~/images/Resgrid_JustText_small.png")" title="Resgrid Logo" style="margin-top: 10px; margin-bottom: 5px;">
			</div>
			<div class="col-md-6" style="text-align: right;">
				<h3 style="margin-top: 10px;">Personnel Hours Report</h3>
				<span>@Model.Start.FormatForDepartment(Model.Department)</span><span>-</span><span>@Model.End.FormatForDepartment(Model.Department)</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h4>Call Hours</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table class="table table-condensed">
					<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Group</th>
						<th>Count</th>
						<th>Hours</th>
					</tr>
					</thead>
					<tbody>
					@foreach (var response in Model.CallsHours)
					{
						<tr>
							<td style="padding-left: 10px;">@response.ID</td>
							<td>@response.Name</td>
							<td>@response.Group</td>
							<td>@response.TotalCalls</td>
							<td>@response.GetTimeSpan().ToString(@"d\d\:h\h\:m\m\:s\s", System.Globalization.CultureInfo.InvariantCulture)</td>
						</tr>
					}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h4>Work Hours</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Group</th>
							<th>Count</th>
							<th>Hours</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var training in Model.WorkHours)
						{
							<tr>
								<td style="padding-left: 10px;">@training.ID</td>
								<td>@training.Name</td>
								<td>@training.Group</td>
								<td>@training.TotalWorkLogs</td>
								<td>@training.GetTimeSpan().ToString(@"d\d\:h\h\:m\m\:s\s", System.Globalization.CultureInfo.InvariantCulture)</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h4>Training Hours</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Group</th>
							<th>Count</th>
							<th>Hours</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var training in Model.TrainingHours)
						{
							<tr>
								<td style="padding-left: 10px;">@training.ID</td>
								<td>@training.Name</td>
								<td>@training.Group</td>
								<td>@training.TotalTrainings</td>
								<td>@training.GetTimeSpan().ToString(@"d\d\:h\h\:m\m\:s\s", System.Globalization.CultureInfo.InvariantCulture)</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1" style="text-align: right;">
				@Model.RunOn.FormatForDepartment(Model.Department)
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
	<script> window.jQuery || document.write('<script src="~/Scripts/kendo/jquery.min.js"><\/script>')</script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>


	<script src="~/clib/flot/jquery.flot.js"></script>
	<script src="~/clib/flot/jquery.flot.tooltip.min.js"></script>
	<script src="~/clib/flot/jquery.flot.resize.js"></script>
	<script src="~/clib/flot/jquery.flot.pie.js"></script>
	<script src="~/clib/flot/jquery.flot.time.js"></script>
	<script src="~/clib/flot/jquery.flot.spline.js"></script>

	<script src="~/clib/kendo/js/kendo.all.min.js"></script>
	<script src="~/clib/kendo/js/kendo.timezones.min.js"></script>

</body>
</html>
