@model Resgrid.Web.Areas.User.Models.Groups.GeofenceView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Groups.Groups> localizer
@{
	ViewBag.Title = "Resgrid | " + localizer["GeofencePageTitle"];
}
@section Styles
{
    <link rel="stylesheet" href="~/lib/geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css" />
}


<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>
			@localizer["GeofenceHeading"]
		</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["Home"]</a>
			</li>
			<li>
				<a asp-controller="Groups" asp-action="Index" asp-route-area="User">@localizer["GroupsHeading"]</a>
			</li>
			<li class="active">
				<strong>@localizer["GeofenceStationBreadcrumb"]</strong>
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="wrapper wrapper-content">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="row">
						<div class="col-md-offset-2 col-md-10">
							<p>@localizer["GeofenceDescription"]</p>
						</div>
					</div>
					<form id="edit_user" class="form-horizontal" role="form" asp-controller="Groups" asp-action="Geofence" asp-route-area="User" method="post">

						@Html.HiddenFor(m => m.Group.DepartmentGroupId)
						<div asp-validation-summary="All" class="text-danger"></div>

						<div class="form-group">
							<label class="col-sm-2 control-label">@commonLocalizer["Name"]</label>
							<div class="col-sm-10">@Model.Group.Name</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["DistrictColor"]</label>
							<div class="col-sm-2">@Html.TextBoxFor(m => m.Group.GeofenceColor, new { @class = "form-control", id = "colorPicker" })</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">@localizer["Geofence"]</label>
							<div class="col-sm-10"><div id="map_canvas" name="map_canvas" style="position: relative; width: 500px; height: 500px;"></div></div>
						</div>

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<a class="btn btn-primary" id="submit_action" name="commit" onclick="resgrid.groups.geofence.saveGeofence();">@localizer["SaveGeofence"]</a>
								<a class="btn btn-danger" id="reset_action" name="reset_action" onclick="resgrid.groups.geofence.resetGeofence();">@localizer["ClearGeofence"]</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
    <script src="~/lib/geoman-io/leaflet-geoman-free/dist/leaflet-geoman.min.js"></script>
    @if (Model.Group == null || String.IsNullOrWhiteSpace(Model.Group.Geofence))
    {
        <script type="text/javascript">
            var polyCoordinates = [];
        </script>
    }
    else
    {
        <script type="text/javascript">
            var polyCoordinates = JSON.parse('@(Html.Raw(Model.Group.Geofence))');
        </script>
    }

    <script type="text/javascript">
        var latitude = '@(Model.Coordinates.Latitude)';
        var longitude = '@(Model.Coordinates.Longitude)';
        var osmTileUrl = '@Resgrid.Config.MappingConfig.GetWebsiteOSMUrl()';
        var osmTileAttribution = '@Resgrid.Config.MappingConfig.LeafletAttribution';
    </script>

    <script src="~/js/app/internal/groups/resgrid.groups.geofence.js"></script>
}
