@using Resgrid.Model
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Groups.DepartmentGroupsModel
@{
    ViewBag.Title = "Resgrid | Department Groups";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>
            <h1>Groups</h1>
        </h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
            </li>
            <li class="active">
                <strong>Groups</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="wrapper wrapper-content">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Groups</h5>
                    <div class="ibox-tools">
                        @if (Model.CanAddNewGroup)
                        {
                            <div class="buttons-actions">
                                <a title="Add a new Group" class="btn btn-success" asp-controller="Groups" asp-action="NewGroup" asp-route-area="User">Add New Group</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Group Name
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Parent
                                    </th>
                                    <th>
                                        Dispatch Email
                                    </th>
                                    <th>
                                        Message Email
                                    </th>
                                    <th>
                                        Members
                                    </th>
                                    <th class="span1">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var g in Model.Groups)
                                {
                                    <tr>
                                        <td>
                                            @g.Name
                                        </td>
                                        <td>
                                            @if (g.Type == null || g.Type == (int)DepartmentGroupTypes.Orginizational)
                                            {
                                                @Html.Raw("Organizational")
                                            }
                                            else
                                            {
                                                @Html.Raw("Station")
                                            }
                                        </td>
                                        <td>
                                            @if (g.Parent == null)
                                            {
                                                @Html.Raw("None")
                                            }
                                            else
                                            {
                                                @Html.Raw(g.Parent.Name)
                                            }
                                        </td>
                                        <td>
                                            @g.DispatchEmail@@@Resgrid.Config.InboundEmailConfig.GroupsDomain
                                        </td>
                                        <td>
                                            @g.MessageEmail@@@Resgrid.Config.InboundEmailConfig.GroupMessageDomain
                                        </td>
                                        <td>
                                            @g.Members.Count
                                        </td>
                                        <td>
                                            @if (ClaimsAuthorizationHelper.IsUserDepartmentOrGroupAdmin(g.DepartmentGroupId))
                                            {
                                                <a class="btn btn-xs btn-primary" asp-controller="Groups" asp-action="EditGroup" asp-route-area="User" asp-route-departmentGroupId="@g.DepartmentGroupId">Edit</a>

                                                @if (g.Type == (int)DepartmentGroupTypes.Station)
                                                {
                                                    <a class="btn btn-xs btn-info" asp-controller="Groups" asp-action="Geofence" asp-route-area="User" asp-route-departmentGroupId="@g.DepartmentGroupId">Geofence</a>
                                                }
                                                <a class="btn btn-xs btn-danger" asp-controller="Groups" asp-action="DeleteGroup" asp-route-area="User" asp-route-departmentGroupId="@g.DepartmentGroupId" data-confirm="WARNING: This will permanently delete this group and all units, Shift Groups, etc attached to this group. Are you sure you want to delete the group @g.Name?" rel="nofollow">Delete</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {

}
