@model Resgrid.Web.Areas.User.Models.Settings.SettingsAddressModel
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Department.Department> localizer
@{
    ViewBag.Title = "Resgrid | " + @localizer["DepartmentAddressHeader"];
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

<div id="content-header">
    <h1>@localizer["DepartmentAddressHeader"]</h1>
</div>
<div id="breadcrumb">
    <a href="@Url.Action("Dashboard", "Home", new { Area = "User" })" title="@commonLocalizer["HomeModule"]" class="tip-bottom">@commonLocalizer["HomeModule"]</a>
    <a href="#" class="current">@localizer["DepartmentAddressHeader"]</a>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-gears"></i>
                </span>
                <h5>@localizer["DepartmentAddressHeader"]</h5>
            </div>
            <div class="widget-content">
                @using (Html.BeginForm("Address", "Department", FormMethod.Post, new { area = "User", @class = "form-horizontal" }))
                {
                    if (!String.IsNullOrEmpty(Model.Message))
                    {
                        <div class="alert alert-success">
                            @Model.Message
                        </div>
                    }
                    if (!String.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <div class="alert alert-error">
                            @Model.ErrorMessage
                        </div>
                    }
                    <span class="alert alert-error">
                        @Html.ValidationSummary(false)
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Department.Name)
                        @Html.HiddenFor(m => m.Department.Address.AddressId)
                    </span>

                    <div class="form-group">
                        <label class="control-label">
                            @localizer["StreetLabel"]
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Department.Address.Address1, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            @localizer["CityLabel"]
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Department.Address.City, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            @localizer["StateLabel"]
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Department.Address.State, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            @localizer["PostalCodeLabel"]
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Department.Address.PostalCode, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            @localizer["CountryLabel"]
                        </label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Department.Address.Country, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-actions">
                        <input class="btn btn-primary" id="submit_action" name="commit" type="submit" value="@commonLocalizer["Save"]" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
    {

}
