@model Resgrid.Web.Areas.User.Models.Departments.DispatchSettingsView
@inject IStringLocalizer<Resgrid.Localization.Areas.User.Department.Department> localizer
@{
    ViewBag.Title = "Resgrid | " + @localizer["DispatchSettingsHeader"];
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@localizer["DispatchSettingsHeader"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["HomeModule"]</a>
            </li>
            <li class="active">
                <strong>@localizer["DispatchSettingsHeader"]</strong>
            </li>
        </ol>
    </div>
</div>

<form role="form" class="form-horizontal" asp-controller="Department" asp-action="DispatchSettings" asp-route-area="User" method="post">
    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper wrapper-content">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="All" class="text-danger"></div>

                            @if (Model.SaveSuccess.GetValueOrDefault())
				            {
                              <div class="alert alert-success">
                                @localizer["SavedDispatchSettings"]
                              </div>
				            }

                            <h3>@localizer["GroupDispatchSettingsHeader"]</h3>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@localizer["UseShiftForGroupDispatchLabel"]</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="checkbox" asp-for="DispatchShiftInsteadOfGroup">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@localizer["SetStatusforShiftPersonnelOnDispatchLabel"]</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="checkbox" asp-for="AutoSetStatusForShiftPersonnel">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@localizer["PersonCallDispatchStatusLabel"]</label>
                                <div class="col-sm-9">@Html.DropDownListFor(m => m.ShiftDispatchStatus, Model.StatusLevels, new { style = "width: 70%" })</div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@localizer["PersonCallReleaseStatusLabel"]</label>
                                <div class="col-sm-9">@Html.DropDownListFor(m => m.ShiftClearStatus, Model.StatusLevels, new { style = "width: 70%" })</div>
                            </div>

                            <h3>@localizer["UnitDispatchSettingsHeader"]</h3>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@localizer["UnitDispatchAlsoDispatchToAssignedPersonnelLabel"]</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="checkbox" asp-for="UnitDispatchAlsoDispatchToAssignedPersonnel">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@localizer["UnitDispatchAlsoDispatchToGroupLabel"]</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="checkbox" asp-for="UnitDispatchAlsoDispatchToGroup">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a class="btn btn-white" asp-controller="Home" asp-action="Dashboard" asp-route-area="User">@commonLocalizer["Cancel"]</a>
                                    <button class="btn btn-primary" type="submit">@commonLocalizer["Save"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{

}
