@inject IStringLocalizer<Resgrid.Localization.Areas.User.Department.Department> localizer
@{
    ViewBag.Title = "Resgrid | " + @localizer["ProvisionFailureHeader"];
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

<div id="content-header">
    <h1>Provision Failure</h1>
</div>
<div id="breadcrumb">
    <a href="@Url.Action("Dashboard", "Home", new { Area = "User" })" title="Go to Home" class="tip-bottom">@commonLocalizer["HomeModule"]</a>
    <a href="#" class="current">@localizer["ProvisionFailureHeader"]</a>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-money"></i>
                </span>
                <h5>@localizer["ProvisionFailureHeader"]</h5>
            </div>
            <div class="widget-content">
                <div class="page-header">
                    <h3>
                        <i class="picons-24-basic2-056"></i>
                        @localizer["ProvisionFailureHeader"]
                    </h3>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        @localizer["ProvisionFailureBody"]
                    </div>
                    <div class="row-fluid">
                    </div>
                    &nbsp;<br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {

}
