@model ForgotPasswordViewModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resgrid.Localization.Account.Login> localizer
@{
    ViewData["Title"] = "Resgrid | " + @localizer["RecoveryAccountHeader"];
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @Html.Partial("_StylePartial")
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="gray-bg">

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <div style="text-align: center;">
                    <a href="@Resgrid.Config.UrlsConfig.HomeUrl"><img src="~/images/Resgrid_JustText.png" style="width: 200px;" /></a>
                </div>
                <p>
                    @localizer["RecoverAccountText"]
                </p>

                <p>
                    <small><a href="@Resgrid.Config.UrlsConfig.HomeUrl">Go Back</a></small>
                </p>
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form id="forgotPasswordForm" class="m-t" role="form" asp-controller="Account" asp-action="ForgotPassword" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="@localizer["EmailAddress"]" asp-for="Email" required="">
                        </div>
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="@Model.SiteKey"></div>
                            <input asp-for="GoogleReCaptchaResponse" type="hidden" required="" />
                        </div>
                        <button id="recoverPasswordButton" type="submit" class="btn btn-primary block full-width m-b">@localizer["RecoveryAccountHeader"]</button>

                        <div asp-validation-summary="All" class="text-danger"></div>
                    </form>
                    <p class="m-t">

                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                Resgrid, LLC.
            </div>
            <div class="col-md-6 text-right">
                <small>© @DateTime.Now.Year</small>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/lib/jquery/jquery.min.js"><\/script>')</script>
    <script src="~/clib/ujs/jquery-ujs.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/select2/dist/js/select2.min.js"></script>

    <script src="~/clib/bootstrap-wizard/bootstrap-wizard.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function deleteAllCookies() {
            var cookies = document.cookie.split(";");

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                var eqPos = cookie.indexOf("=");
                var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            }
        }

        $(document).ready(function() {
            deleteAllCookies();

            $(document).on('submit', '#forgotPasswordForm', function() {
                var crep = $('#g-recaptcha-response').val();
                $('#GoogleReCaptchaResponse').val(crep);

                if ($(this).valid()) {
                    // On submit disable form submit button
                    $('#recoverPasswordButton').prop('disabled', true);
                }

                return true;
            });
        });
    </script>
</body>
</html>
