@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resgrid.Localization.Account.Login> localizer
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resgrid | @localizer["LockedOutHeader"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only"
          asp-fallback-test-property="position"
          asp-fallback-test-value="absolute" />

    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/metisMenu/dist/metisMenu.min.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/pub-bundle.css" asp-append-version="true" />
</head>
<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1></h1>
        <h2>@localizer["LockedOutHeader"]</h2>

        <div class="error-desc">
            @localizer["LockedOutText"]
            <ul class="list-inline">
                <li>
                    <a class="btn btn-primary m-t" href="javascript:history.back();">@localizer["GoBack"]</a>
                </li>
                <li>

                </li>
                <li>
                    <a class="btn btn-primary m-t" asp-controller="Account" asp-action="LogOn" asp-route-area="">@localizer["LogIn"]</a>
                </li>
                <li>

                </li>
                <li>
                    <a class="btn btn-primary m-t" href="@Resgrid.Config.UrlsConfig.HomeUrl">@localizer["Home"]</a>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Scripts/kendo/jquery.min.js"><\/script>')</script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
