@using Resgrid.Framework
@using Resgrid.Model.Helpers
@using Resgrid.Web.Helpers
@model Resgrid.Web.Areas.User.Models.Connect.IndexView
@{
	ViewBag.Title = "Resgrid | Connect";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Connect</h2>
		<ol class="breadcrumb">
			<li>
				<a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
			</li>
			<li class="active">
				<strong>Connect</strong>
			</li>
		</ol>
	</div>
	@if (ClaimsAuthorizationHelper.IsUserDepartmentAdmin())
	{
		<div class="col-sm-8">
			<div class="btn-group top-page-buttons" style="float:right;padding-right:15px;">
				<a title="Manage Profile" class="btn btn-info" href="@Url.Action("Profile", "Connect", new {Area = "User"})">Profile</a>
				<a title="Manage Posts" class="btn btn-primary" href="@Url.Action("Posts", "Connect", new {Area = "User"})">Posts</a>
				@*<a title="Manage Messages" class="btn" href="@Url.Action("Messages", "Connect", new {Area = "User"})"><i class="icon-comment-alt"></i><span class="label label-danger">@Model.UnReadMessages</span></a>*@
				@*<a title="View Users" class="btn"><i class="icon-folder-close-alt"></i></a>*@
			</div>
		</div>
	}
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-lg-6">
		<div class="wrapper wrapper-content animated fadeInUp">
			<div class="ibox">
				<div class="ibox-title">
					<h5>Recent Posts</h5>
					<span class="label label-info">@Model.VisiblePosts</span>
				</div>
				<div class="ibox-content">
					<ul class="recent-posts">
						@if (Model.Posts.Any())
						{
							foreach (var post in Model.Posts)
							{
								<li>
									<div class="user-thumb">
										<img style="width: 40px; height: 40px;" src="@Model.ImageUrl" onerror="this.src = '@Resgrid.Config.SystemBehaviorConfig.ResgridBaseUrl/images/defaultProfile.png'" />
									</div>
									<div class="article-post">
										<span class="user-info"> By @(await UserHelper.GetFullNameForUser(post.CreatedByUserId)) on @post.CreatedOn.FormatForDepartment(Model.Department, true)</span>
										<p>
											<a href="#">@post.Title</a>
										</p>
										<a class="btn btn-info btn-xs" href="#">View</a> <a class="btn btn-primary btn-xs" href="#">Edit</a> <a class="btn btn-danger btn-xs" href="#">Delete</a>
									</div>
								</li>
							}
						}
						else
						{
							<li>
								<div class="article-post">
									<p>
										No Posts
									</p>
								</div>
							</li>
						}
						<li class="viewall">
							<a title="" class="tip-top" href="@Url.Action("Posts", "Connect", new {Area = "User"})" data-original-title="View all posts"> + View all + </a>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-lg-6">
		<div class="wrapper wrapper-content animated fadeInUp">
			<div class="ibox">
				<div class="ibox-title">
					<h5>Department Profile</h5>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Type</th>
									<th>Info</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="taskDesc"><i class="icon-info-sign"></i> Connect Code</td>
									<td class="taskStatus"><span>@Model.Profile.Code</span></td>
									<td class="taskOptions"></td>
								</tr>
								@*<tr>
				<td class="taskDesc"><i class="icon-plus-sign"></i> Public URL</td>
				<td class="taskStatus"><span>https://resgrid.com/connect/@Model.Profile.DepartmentProfileId</span></td>
				<td class="taskOptions"></td>
			</tr>*@
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
