@using Resgrid.Model
@model Resgrid.WebCore.Areas.User.Models.Protocols.NewProtocolModel
@{
  ViewBag.Title = "Resgrid | New Protocol";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>New Protocol</h2>
    <ol class="breadcrumb">
      <li>
        <a asp-controller="Home" asp-action="Dashboard" asp-route-area="User">Home</a>
      </li>
      <li>
        <a asp-controller="Protocols" asp-action="Index" asp-route-area="User">Protocols</a>
      </li>
      <li class="active">
        <strong>New Protocol</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="wrapper wrapper-content">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form id="newProtocolForm" class="form-horizontal" role="form" asp-controller="Protocols" asp-action="New" asp-route-area="User" method="post">

            <div class="row">
              <div class="col-md-8 col-md-offset-1">
                @if (!String.IsNullOrEmpty(Model.Message))
				{
                  <div class="alert alert-success">
                    @Model.Message
                  </div>
				}
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Protocol.CreatedByUserId)
                @Html.HiddenFor(x => x.Protocol.UpdatedByUserId)
                <div asp-validation-summary="All" class="text-danger"></div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label required">
                Protocol Name
              </label>
              <div class="col-sm-10">
                <div class="col-md-5">
                  @Html.TextBoxFor(m => m.Protocol.Name, new { @class = "form-control", autofocus = "autofocus" })
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label required">
                Protocol Code
              </label>
              <div class="col-sm-10">
                <div class="col-md-2">
                  @Html.TextBoxFor(m => m.Protocol.Code, new { @class = "form-control", autofocus = "autofocus", maxlength = 4 })
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label required">
                Description
              </label>
              <div class="col-sm-10">
                <div class="col-md-6">
                  <input type="hidden" asp-for="Protocol.Description">

                  <div id="editor-container" style="width:100%; height: 300px;">
                    @Html.Raw(Model.Protocol.Description)
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label required">
                Protocol Text
              </label>
              <div class="col-sm-10">
                <div class="col-md-10">
                  <input type="hidden" asp-for="Protocol.ProtocolText">

                  <div id="editor-container2" style="width:100%; height: 300px;">
                    @Html.Raw(Model.Protocol.ProtocolText)
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                Activation Question Weight
              </label>
              <div class="col-sm-10">
                <div class="col-md-2">
                  @Html.TextBoxFor(m => m.Protocol.MinimumWeight, new { @class = "form-control", type = "number", min = "0", max = "100", onkeydown="resgrid.protocols.newprotocol.parseNumber(event)", onkeyup="resgrid.protocols.newprotocol.parseNumber(event)" })
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                Attachments
              </label>
              <div class="col-sm-10">
                <div class="col-md-5">
                  <input name="attachments" id="attachments" type="file" />
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="col-sm-2 control-label">
                Triggers
              </label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-xs-10">Triggers are used to determine when this protocol will be activated, or will ask the questions below, for calls<br /></div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <table id="triggers" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th style="max-width: 200px;font-size: 14px;">Type</th>
                          <th style="max-width: 350px;font-size: 14px;">Starts On</th>
                          <th style="max-width: 350px;font-size: 14px;">Ends On</th>
                          <th style="max-width: 350px;font-size: 14px;">Call Type</th>
                          <th style="max-width: 350px;font-size: 14px;">Call Priority</th>
                          <th style="max-width: 90px;font-size: 16px;"><a id="addTriggerButton" class="btn btn-success btn-xs" data-original-title="Add Trigger" data-toggle="modal" data-target="#addTriggerModal"><i class="icon-plus"></i> Add Trigger</a></th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="col-sm-2 control-label">
                Questions
              </label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-xs-10">If you only need the triggers to activate the protocol then you do not need to add any questions.<br /></div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <table id="questions" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th style="max-width: 200px;font-size: 14px;">Question</th>
                          <th style="max-width: 350px;font-size: 14px;">Answers</th>
                          <th style="max-width: 90px;font-size: 16px;"><a id="addQuestionButton" class="btn btn-success btn-xs" data-toggle="modal" data-target="#addQuestionModal" data-original-title="Add Question"><i class="icon-plus"></i> Add Question</a></th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <a class="btn btn-white" asp-controller="Protocols" asp-action="Index" asp-route-area="User">Cancel</a>
                <button class="btn btn-primary" type="submit">Add Protocol</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addTriggerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Add Trigger</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="newTriggerType-name" class="control-label">Type:</label>
            <select id="newTriggerType" class="form-control" asp-items="Html.GetEnumSelectList<ProtocolTriggerTypes>()" style="padding-left: 0; width: 100%;"></select>
          </div>
          <div class="form-group">
            <label for="newTriggerStartsOn-name" class="control-label">Starts On:</label>
            <input type="text" class="form-control" id="newTriggerStartsOn">
          </div>
          <div class="form-group">
            <label for="newTriggerEndsOn-name" class="control-label">Ends On:</label>
            <input type="text" class="form-control" id="newTriggerEndsOn">
          </div>
          <div class="form-group">
            <label for="newTriggerCallPriority-name" class="control-label">Call Priority:</label>
            <select id="newTriggerCallPriority" class="form-control" asp-items="Model.CallPriorities" style="padding-left: 0; width: 100%;"></select>
          </div>
          <div class="form-group">
            <label for="newTriggerCallType-name" class="control-label">Call Type:</label>
            <select id="newTriggerCallType" class="form-control" asp-items="Model.CallTypes" style="padding-left: 0; width: 100%;"></select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="resgrid.protocols.newprotocol.addTrigger();">Add Trigger</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Add Question</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="newQuestion-name" class="control-label">Question:</label>
            <textarea id="newQuestion" class="form-control" name="newQuestion" rows='4' cols='40'></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="resgrid.protocols.newprotocol.addQuestion();">Add Question</button>
      </div>
    </div>
  </div>
</div>



@section Scripts
{
  <script src="~/js/app/internal/protocols/resgrid.protocols.newprotocol.js"></script>
}
